/* GENERAL style */
header .header-in, #section1 .how-work .how-work-i, .landing-slider .landing-slider-i, .how-work .how-work-i, .about-service .about-service-i, #section4 .landing-review-content, .landing-partners-i, footer .footer-in {
  width: 940px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 10px;
  padding-right: 10px;
}

.align-right {
  text-align: right;
}

.out {
  overflow: hidden;
}

/* HEADER style */
header {
  min-width: 960px;
  padding: 9px 0;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 3333;
  background: -webkit-linear-gradient(top, rgba(129, 129, 129, 0.52) 0%, rgba(74, 74, 74, 0.52) 100%);
  background: linear-gradient(top, rgba(129, 129, 129, 0.52) 0%, rgba(74, 74, 74, 0.52) 100%);
  -webkit-transition: 0.2s background linear;
  transition: 0.2s background linear;
}

header.is-scroll {
  background: rgba(74, 74, 74, 0.8);
}

header.is-scroll .create-campain {
  z-index: 11;
  opacity: 1;
}

header .header-in {
  position: relative;
}

header .header-in:before, header .header-in:after {
  content: "";
  display: table;
}

header .header-in:after {
  clear: both;
}

header .header-row:before, header .header-row:after {
  content: "";
  display: table;
}

header .header-row:after {
  clear: both;
}

header .header-col1 {
  width: 280px;
  float: left;
}

header .header-col2 {
  width: 660px;
  margin-top: 13px;
  float: right;
  text-align: left;
  font-size: 0;
}

.landing-nav {
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  overflow: hidden;
}

.landing-nav:before, .landing-nav:after {
  content: "";
  display: table;
}

.landing-nav:after {
  clear: both;
}

.landing-nav li {
  display: inline-block;
  vertical-align: middle;
  margin-left: 20px;
}

.landing-nav li.active a {
  color: #ff3a3a;
}

.landing-nav li:first-child {
  margin-left: 0;
}

.landing-nav a {
  display: block;
  font-size: 13px;
  color: #fff;
  font-weight: 700;
  text-decoration: none;
  -webkit-transition: 0.2s color linear;
  transition: 0.2s color linear;
}

.create-campain {
  margin-left: 35px;
  display: inline-block;
  vertical-align: middle;
  text-decoration: none;
  padding: 7px 30px 7px;
  font-size: 14px;
  font-weight: 700;
  text-decoration: none;
  border-radius: 34px;
  position: relative;
  z-index: -1;
  opacity: 0;
  background: #00BF5F;
  box-shadow: 0 2px 0px #00994C;
  color: #fff;
  -webkit-transition: 0.2s background linear, 0.2s color linear, 0.2s opacity linear, 0.2s -webkit-transform linear;
  transition: 0.2s background linear, 0.2s color linear, 0.2s opacity linear, 0.2s transform linear;
}

.create-campain:active {
  -webkit-transform: scale(0.95);
  -ms-transform: scale(0.95);
  transform: scale(0.95);
}

.create-campain:hover {
  background: #00994C;
}

.landing-home {
  width: 161px;
  height: 45px;
  margin-top: 10px;
  float: left;
}

/* SLIDER style */
#section1 {
  height: 100%;
  position: relative;
}

#section1 .how-work {
  width: 100%;
  position: absolute;
  bottom: 0;
  padding: 50px 0;
  z-index: 1001;
}

#section1 .how-work.m-label {
  background: #4F607A;
}

#section1 .how-work .how-work-i {
  font-size: 0;
}

#section1 .how-work .how-work-col1 {
  width: 430px;
  display: inline-block;
  vertical-align: middle;
}

#section1 .how-work .how-work-col2 {
  width: 510px;
  display: inline-block;
  vertical-align: middle;
}

#section1 .how-work .how-work-title {
  font-size: 30px;
  font-weight: 700;
  color: #fff;
  position: relative;
}

#section1 .how-work .how-work-title:before {
  content: "";
  width: 119px;
  height: 2px;
  background: #fff;
  position: absolute;
  z-index: 999;
  left: 0;
  bottom: -20px;
}

#section1 .how-work .how-work-content {
  font-size: 16px;
  line-height: 30px;
  color: #fff;
}

.landing-slider {
  width: 100%;
  height: 100%;
  min-height: 500px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  background-position: 50% bottom;
  color: #fff;
}

.landing-slider:before, .landing-slider:after {
  content: "";
  display: table;
}

.landing-slider:after {
  clear: both;
}

.landing-slider:before {
  content: "";
  width: 560px;
  height: 3400px;
  position: absolute;
  top: -350px;
  left: 630px;
  background: rgba(255, 255, 255, 0.33);
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.landing-slider:after {
  content: "";
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  top: 0px;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 999;
}

.landing-slider .landing-slider-i {
  width: 900px;
  padding-top: 130px;
  padding-right: 50px;
  position: relative;
  z-index: 1001;
}

.landing-slider .landing-slider-wrap {
  margin-left: 280px;
}

.landing-slider .landing-slider-title {
  margin-bottom: 30px;
  font-size: 30px;
  line-height: 41px;
  font-weight: 700;
}

.landing-slider .landing-slider-content {
  margin-bottom: 40px;
  font-size: 16px;
  line-height: 21px;
}

.landing-slider .landing-slider-content p {
  margin-top: 15px;
}

.landing-slider .landing-slider-content p:first-child {
  margin-top: 0;
}

.landing-slider .landing-slider-btn {
  padding: 6px 45px;
  margin-right: 20px;
  border-radius: 17px;
  display: inline-block;
  background: #00BF5F;
  box-shadow: 0 2px 0px #00994C;
  font-size: 16px;
  line-height: 22px;
  font-weight: 700;
  color: #fff;
  text-decoration: none;
  -webkit-transition: 0.2s background linear, 0.1s -webkit-transform linear;
  transition: 0.2s background linear, 0.1s transform linear;
}

.landing-slider .landing-slider-btn:hover {
  background: #00994C;
}

.landing-slider .landing-slider-btn:active {
  -webkit-transform: scale(0.95);
  -ms-transform: scale(0.95);
  transform: scale(0.95);
}

/* SECTION2 style */
#section2 {
  width: 100%;
  min-height: 530px;
  box-sizing: border-box;
  background: #94C0FD;
}

#section2 .how-work {
  padding-top: 40px;
}

#section2 .how-work-ico {
  margin-bottom: 18px;
  text-align: center;
}

#section2 .how-work-title {
  height: 44px;
  margin-bottom: 20px;
  font-size: 16px;
  line-height: 1.4;
  font-weight: bold;
}

#section2 .how-work-content {
  font-size: 14px;
  line-height: 18px;
}

.how-work .how-work-list:before, .how-work .how-work-list:after {
  content: "";
  display: table;
}

.how-work .how-work-list:after {
  clear: both;
}

.how-work li {
  width: 20%;
  padding-right: 5%;
  float: left;
  font-size: 14px;
  color: #fff;
}

/* SECTION3 style */
#section3 {
  width: 100%;
  padding-top: 135px;
  padding-bottom: 100px;
  min-height: 300px;
  background: #94C0FD;
}

.about-service .about-service-l:before, .about-service .about-service-l:after {
  content: "";
  display: table;
}

.about-service .about-service-l:after {
  clear: both;
}

.about-service .about-service-col1 {
  width: 435px;
  float: left;
}

.about-service .about-service-col2 {
  width: 300px;
  float: right;
  text-align: center;
}

.about-service .about-service-text {
  font-size: 16px;
  line-height: 28px;
  color: #fff;
}

.about-service .about-service-text p {
  margin-bottom: 10px;
}

.about-service .about-service-title {
  margin-bottom: 45px;
  font-size: 30px;
  line-height: 41px;
  font-weight: 700;
  position: relative;
}

.about-service .about-service-title:before {
  content: "";
  width: 119px;
  height: 2px;
  background: #fff;
  position: absolute;
  left: 0;
  bottom: -10px;
}

.about-service .about-media {
  display: none;
  font-size: 14px;
}

.about-service .about-video {
  display: block;
}

.about-service .about-video .about-video-ico {
  margin-bottom: 10px;
}

.about-service .about-video .about-video-title {
  margin-bottom: 15px;
  padding-left: 50px;
  font-size: 20px;
  line-height: 27px;
  color: #fff;
  font-weight: 700;
}

#really-cool-video {
  height: 260px;
}

.vjs-big-play-button {
  display: none !important;
}

/* SECTION4 style */
#section4 {
  width: 100%;
  height: 400px;
  overflow: visible;
  position: relative;
  z-index: 1001;
}

#section4 .landing-review-bg {
  width: 100%;
  height: 400px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  position: absolute;
  top: 0;
  left: 0;
}

#section4 .landing-review-bg:before {
  content: "";
  background: rgba(46, 56, 72, 0.7);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

#section4 .landing-review-bg:after {
  content: "";
  width: 800px;
  height: 600px;
  background: rgba(255, 255, 255, 0.2);
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
  position: absolute;
  bottom: -400px;
  left: -600px;
}

#section4 .landing-review-i {
  width: 960px;
  height: 100%;
  margin: 0 auto;
  position: relative;
}

#section4 .landing-review-i:before, #section4 .landing-review-i:after {
  content: "";
  display: table;
}

#section4 .landing-review-i:after {
  clear: both;
}

#section4 .landing-review-wrap {
  width: 340px;
  margin-right: 10px;
  float: right;
  position: relative;
}

#section4 .fa-angle-left {
  font-size: 30px;
  color: #FFF;
  position: absolute;
  top: 50%;
  margin-top: -55px;
  left: -50px;
  font-family: "FontAwesome", Arial, Helvetica, sans-serif;
  cursor: pointer;
}

#section4 .fa-angle-right {
  font-size: 30px;
  color: #FFF;
  position: absolute;
  top: 50%;
  margin-top: -55px;
  right: -50px;
  cursor: pointer;
}

#section4 .slick-dots {
  bottom: 70px;
}

#section4 .slick-dots li.slick-active button {
  margin-top: 0;
  width: 16px;
  height: 16px;
}

#section4 .slick-dots button {
  margin-top: 3px;
  height: 10px;
  width: 10px;
  border-color: #fff;
  opacity: 1;
  border-radius: 0;
}

#section4 .landing-review-content {
  height: 400px;
  position: relative;
}

#section4 .landing-review-items {
  width: 400px;
  color: #fff;
  position: absolute;
  top: 50px;
  right: 0px;
  z-index: 999;
}

#section4 .landing-review-item {
  height: 400px;
}

#section4 .landing-review-title {
  margin-bottom: 10px;
  font-size: 30px;
  font-weight: 700;
}

#section4 .landing-review-text {
  font-size: 14px;
  line-height: 1.4;
}

#section5 {
  height: 470px;
  line-height: 470px;
  text-align: center;
}

.landing-partners {
  line-height: 1.2;
  margin: 0px 0 0;
}

.landing-partners .landing-partners-item img {
  -webkit-transform: scale(0.4);
  -ms-transform: scale(0.4);
  transform: scale(0.4);
  -webkit-transition: 0.4s -webkit-transform linear, 0.3s opacity linear;
  transition: 0.4s transform linear, 0.3s opacity linear;
}

.landing-partners .slick-active + .slick-active img {
  opacity: 1;
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}

.landing-partners .slick-active img, .landing-partners .slick-active + .slick-active + .slick-active img {
  opacity: 0.49;
  -webkit-transform: scale(0.4);
  -ms-transform: scale(0.4);
  transform: scale(0.4);
}

.landing-partners .slick-active .landing-partners-item-descr, .landing-partners .slick-active + .slick-active + .slick-active .landing-partners-item-descr {
  opacity: 0;
  -webkit-transition: 0s opacity linear;
  transition: 0s opacity linear;
}

.landing-partners .slick-active + .slick-active .landing-partners-item-descr {
  opacity: 1;
  -webkit-transition: 0.5s opacity linear;
  transition: 0.5s opacity linear;
}

.landing-partners-i {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  line-height: 1;
}

.landing-partners-i .js-partners-prev, .landing-partners-i .js-partners-next {
  font-size: 30px;
  position: absolute;
  top: 50%;
  margin-top: 50px;
  cursor: pointer;
  outline: none;
  border: 0;
  color: #4A4A4A;
  z-index: 100;
}

.landing-partners-i .js-partners-prev {
  left: -40px;
}

.landing-partners-i .js-partners-next {
  right: -40px;
}

.landing-partners-items {
  width: 650px;
  margin: 0 auto;
  position: relative;
}

.landing-partners-items:before, .landing-partners-items:after {
  content: "";
  display: table;
}

.landing-partners-items:after {
  clear: both;
}

.landing-partners-items:before, .landing-partners-items:after {
  content: "";
  position: absolute;
  left: 50%;
  margin-left: -10px;
}

.landing-partners-items:before {
  top: -50px;
  background: url("../../img/png/bracket_2.png");
  width: 19px;
  height: 15px;
  background-size: 19px 15px;
}

.landing-partners-items:after {
  bottom: -50px;
  background: url("../../img/png/bracket_1.png");
  width: 19px;
  height: 15px;
  background-size: 19px 15px;
}

.landing-partners-item {
  margin: 0 0px;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  position: relative;
  -webkit-transition: 0.3s -webkit-transform linear;
  transition: 0.3s transform linear;
}

.landing-partners-item img {
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 100%;
}

.landing-partners-item a {
  display: inline-block;
  text-decoration: none;
}

.landing-partners-item-descr {
  min-height: 112px;
  opacity: 0;
  margin: 0 -160px 35px;
  font-family: TimesNewRoman, 'Times New Roman', Times, Baskerville, Georgia, serif;
  font-style: italic;
  font-weight: 400;
  font-size: 24px;
  line-height: 1.2;
  color: #4A4A4A;
  letter-spacing: 1px;
}

footer {
  padding-top: 13px;
  padding-bottom: 15px;
  background: #7D93B4;
  position: relative;
  -webkit-transition: 0.3s padding ease-in-out;
  transition: 0.3s padding ease-in-out;
}

footer:before {
  content: "";
  width: 600px;
  height: 400px;
  background: rgba(255, 255, 255, 0.2);
  -webkit-transform: rotate(-60deg);
  -ms-transform: rotate(-60deg);
  transform: rotate(-60deg);
  position: absolute;
  bottom: -100px;
  left: -210px;
}

footer .footer-in {
  width: 960px;
}

footer .footer-l:before, footer .footer-l:after {
  content: "";
  display: table;
}

footer .footer-l:after {
  clear: both;
}

footer .footer-col1 {
  width: 220px;
  height: 100px;
  float: left;
  position: relative;
}

footer .footer-col2 {
  width: 235px;
  float: left;
}

footer .footer-col3 {
  width: 230px;
  float: right;
}

footer .footer-col4 {
  width: 230px;
  float: right;
}

footer .footer-logo {
  position: absolute;
  top: 50%;
  margin-top: -20px;
  left: 0;
}

footer .gray-logo {
  width: 295px;
  height: 80px;
  background-size: 295px 80px;
  display: inline-block;
  vertical-align: top;
}

footer .footer-blanding-nav li {
  height: 19px;
  line-height: 1;
}

footer .footer-blanding-nav li a {
  display: inline-block;
  vertical-align: top;
  font-size: 12px;
  line-height: 17px;
  color: #fff;
  text-decoration: none;
}

footer .footer-blanding-nav li a:hover span {
  color: #00C772;
  text-decoration: underline;
}

footer .footer-blanding-nav li a:hover .fa {
  color: #00C772;
}

footer .footer-blanding-nav li span, footer .footer-blanding-nav li i {
  display: inline-block;
  vertical-align: middle;
}

footer .footer-blanding-nav li i {
  font-size: 15px;
  width: 20px;
}

footer .footer-blanding-nav li .fa-desktop, footer .footer-blanding-nav li .fa-mobile {
  margin-right: 3px;
  font-weight: 400;
}

footer .footer-blanding-nav li .fa-mobile {
  font-size: 20px;
}

.mobile-landing {
  min-width: 100%;
}

.mobile-landing header {
  min-width: 100%;
  position: fixed;
  padding-top: 0;
  padding-bottom: 0;
  background: #fff;
  border-bottom: 1px solid #00BF5F;
}

.mobile-landing header .header-in {
  width: 100%;
  padding-left: 10px;
  padding-right: 10px;
  height: 60px;
  box-sizing: border-box;
}

.mobile-landing header .header-in .logo-white {
  width: 100px;
}

.mobile-landing header .landing-home {
  width: 100px;
}

.mobile-landing header .landing-home .wishround-font {
  fill: #4A4A4A;
}

.mobile-landing header .landing-home path {
  fill: #00BF5F;
}

.mobile-landing header.m-mobile-scroll .create-campain {
  opacity: 1;
  z-index: 1;
}

.mobile-landing header .create-campain {
  float: right;
  margin: 13px 40px 0 0;
  padding: 7px 10px;
  font-size: 14px;
}

.mobile-landing .landing-nav {
  display: none;
  padding: 10px 0;
  background: rgba(255, 255, 255, 0.95);
  border-top: 1px solid #00BF5F;
  position: absolute;
  top: 60px;
  left: 0;
  right: 0;
}

.mobile-landing .landing-nav li {
  display: block;
  margin-left: 0;
  line-height: 1;
  font-size: 0;
}

.mobile-landing .landing-nav a {
  display: inline-block;
  padding: 8px 10px;
  font-size: 11px;
  line-height: 14px;
  color: #4A4A4A;
}

.mobile-landing .landing-nav a:hover {
  color: #00BF5F;
  text-decoration: underline;
}

.mobile-landing .nav-mobile {
  display: block;
  width: 24px;
  height: 21px;
  position: absolute;
  top: 50%;
  margin-top: -10px;
  right: 10px;
  -webkit-transition: 0.2s -webkit-transform ease;
  transition: 0.2s transform ease;
  cursor: pointer;
  z-index: 1111;
}

.mobile-landing .nav-mobile.is-active {
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}

.mobile-landing .nav-mobile.is-active i {
  background: #00BF5F;
}

.mobile-landing .nav-mobile i {
  border-radius: 0;
  margin-top: 4px;
  display: block;
  width: 24px;
  height: 4px;
  background: #55606e;
}

.mobile-landing .nav-mobile i:first-child {
  margin-top: 0;
}

.mobile-landing .nav-overlay {
  display: none;
  background: none;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 2222;
}

.mobile-landing #section1 {
  height: auto;
}

.mobile-landing #section1 .landing-slider {
  min-height: 400px;
  padding-bottom: 90px;
}

.mobile-landing #section1 .landing-slider:before {
  content: none;
}

.mobile-landing #section1 .landing-slider .landing-slider-i {
  width: 260px;
  padding-right: 10px;
}

.mobile-landing #section1 .landing-slider .landing-slider-wrap {
  margin-left: 0;
}

.mobile-landing #section1 .landing-slider .landing-slider-title {
  font-size: 20px;
}

.mobile-landing #section1 .landing-slider .landing-slider-content {
  font-size: 13px;
}

.mobile-landing #section3 {
  padding-top: 25px;
  padding-bottom: 50px;
}

.mobile-landing #section3 .about-service-i {
  width: 300px;
}

.mobile-landing #section3 .about-service {
  text-align: center;
}

.mobile-landing #section3 .about-service-title {
  margin-bottom: 35px;
  font-size: 20px;
  line-height: 27px;
  color: #fff;
}

.mobile-landing #section3 .about-service-title:before {
  width: 120px;
  left: 50%;
  margin-left: -60px;
}

.mobile-landing #section3 .about-service-text {
  margin-top: 20px;
  font-size: 13px;
  line-height: 18px;
  text-align: left;
}

.mobile-landing #section3 #really-cool-video {
  height: 169px;
}

.mobile-landing #section2 .how-work-i {
  width: 300px;
}

.mobile-landing #section2 .how-work-meta {
  text-align: center;
  font-size: 20px;
  line-height: 27px;
  color: #fff;
  position: relative;
}

.mobile-landing #section2 .how-work-meta:before {
  content: "";
  width: 120px;
  height: 2px;
  background: #fff;
  position: absolute;
  left: 50%;
  margin-left: -60px;
  bottom: -10px;
}

.mobile-landing #section2 .how-work-list {
  padding-bottom: 50px;
}

.mobile-landing #section2 .how-work-list li {
  width: 260px;
  margin: 40px auto 0;
  padding-right: 0;
  float: none;
}

.mobile-landing #section2 .how-work-title {
  height: auto;
}

.mobile-landing #section4 {
  height: 400px;
  background: #94C0FD;
  padding-bottom: 20px;
}

.mobile-landing #section4 .landing-review-content {
  width: 280px;
  margin: 0 auto;
}

.mobile-landing #section4 .landing-review-items {
  width: 280px;
  padding: 30px 30px;
  position: static;
  background: #59677C;
}

.mobile-landing #section4 .landing-review-item {
  height: 340px;
  overflow: hidden;
}

.mobile-landing #section4 .landing-review-title {
  font-size: 20px;
  text-align: center;
}

.mobile-landing #section4 .landing-review-text {
  font-size: 14px;
  line-height: 22px;
}

.mobile-landing #section4 .fa-angle-left {
  left: 20px;
}

.mobile-landing #section4 .fa-angle-right {
  right: 20px;
}

.mobile-landing #section5 {
  margin: 60px auto 60px;
  height: auto;
  line-height: 1.2;
}

.mobile-landing #section5 .landing-partners-i {
  width: 100%;
  box-sizing: border-box;
}

.mobile-landing #section5 .landing-partners-items {
  width: 280px;
}

.mobile-landing #section5 .landing-partners-items:before {
  top: -30px;
}

.mobile-landing #section5 .landing-partners-items:after {
  bottom: -30px;
}

.mobile-landing #section5 .js-partners-next {
  right: -10px;
  top: auto;
  margin-top: 0;
  bottom: 30px;
}

.mobile-landing #section5 .js-partners-prev {
  left: -10px;
  top: auto;
  margin-top: 0;
  bottom: 30px;
}

.mobile-landing #section5 .landing-partners-item-descr {
  min-height: 82px;
  margin: 0 0px 10px;
  font-size: 13px;
}

.mobile-landing #section5 .landing-partners-item img {
  -webkit-transform: scale(0.8);
  -ms-transform: scale(0.8);
  transform: scale(0.8);
}

.mobile-landing #section5 .slick-active + .slick-active img {
  opacity: 1;
  -webkit-transform: scale(0.8);
  -ms-transform: scale(0.8);
  transform: scale(0.8);
}

.mobile-landing #section5 .slick-active img, .mobile-landing #section5 .slick-active + .slick-active + .slick-active img {
  opacity: 1;
  -webkit-transform: scale(0.8);
  -ms-transform: scale(0.8);
  transform: scale(0.8);
}

.mobile-landing #section5 .slick-active .landing-partners-item-descr, .mobile-landing #section5 .slick-active + .slick-active + .slick-active .landing-partners-item-descr {
  opacity: 1;
}

.mobile-landing #section5 .slick-active + .slick-active .landing-partners-item-descr {
  opacity: 1;
}

.mobile-landing footer {
  padding-bottom: 50px;
}

.mobile-landing footer:before {
  content: none;
}

.mobile-landing footer .footer-in {
  width: 100%;
  box-sizing: border-box;
}

.mobile-landing footer .footer-l {
  width: 100%;
}

.mobile-landing footer .footer-col1 {
  width: 105px;
  margin-right: 30px;
}

.mobile-landing footer .footer-col1 svg {
  width: 100%;
}

.mobile-landing footer .footer-col4 {
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

.mobile-landing footer .footer-col4 .footer-blanding-nav {
  width: 100%;
}

.mobile-landing footer .footer-col4 .footer-blanding-nav:before, .mobile-landing footer .footer-col4 .footer-blanding-nav:after {
  content: "";
  display: table;
}

.mobile-landing footer .footer-col4 .footer-blanding-nav:after {
  clear: both;
}

.mobile-landing footer .footer-col4 .footer-blanding-nav li {
  width: 33.33333%;
  height: 35px;
  line-height: 35px;
  float: left;
  text-align: center;
}

.mobile-landing footer .footer-col4 .footer-blanding-nav li a {
  display: block;
  height: 100%;
  line-height: 34px;
  background: #9B9B9B;
}

.mobile-landing footer .footer-col4 .footer-blanding-nav li a:hover {
  background: #D8D8D8;
  color: #fff;
}

.mobile-landing footer .footer-col4 .footer-blanding-nav li a:hover span {
  text-decoration: none;
}

.mobile-landing footer .footer-col4 .footer-blanding-nav li a:hover i, .mobile-landing footer .footer-col4 .footer-blanding-nav li a:hover span {
  color: #fff;
}

.mobile-landing footer .footer-col2 {
  display: none;
}

.mobile-landing footer .footer-col2 .footer-blanding-nav li {
  opacity: 0;
  position: relative;
  z-index: -1;
}

.mobile-landing footer .footer-col3 {
  width: 150px;
  float: right;
}

/* MEDIA style */
@media only screen and (max-width: 960px) {
  header {
    position: absolute;
  }
}

@media only screen and (min-height: 780px) {
  .landing-slider .landing-slider-i {
    padding-top: 180px;
  }
}

@media only screen and (min-height: 880px) {
  .landing-slider .landing-slider-i {
    padding-top: 230px;
  }
}

@media only screen and (min-height: 980px) {
  .landing-slider .landing-slider-i {
    padding-top: 280px;
  }
}

@media only screen and (min-width: 1300px) {
  #section1 .landing-slider:before {
    left: 680px;
  }
}

@media only screen and (min-width: 1500px) {
  #section1 .landing-slider:before {
    left: 700px;
  }
}
