@import "../lib/mixins";
@import "../lib/sprite";

%wrap
	margin-left: auto
	margin-right: auto
	padding-left: 10px
	padding-right: 10px  

// landing ALL style
html.fp-enabled, .fp-enabled body
	margin: 0
	padding: 0
	overflow:hidden
	/*Avoid flicker on slides transitions for mobile phones #336 */
	-webkit-tap-highlight-color: rgba(0,0,0,0)

header
	min-width: 960px
	position: fixed
	top: 0
	left: 0
	right: 0 
	z-index: 3333
	.header-in
		margin-left: auto
		margin-right: auto
		padding-left: 10px
		padding-right: 10px
		position: relative

footer
	box-shadow: 0 -4px 6px rgba(159, 195, 217, 0.2)
	-webkit-transition: 0.3s padding ease-in-out
	transition: 0.3s padding ease-in-out

.nav-mobile
	display: none
	width: 24px
	height: 21px
	position: absolute
	top: 50%
	margin-top: -10px
	right: 10px
	-webkit-transition: 0.2s -webkit-transform ease
	transition: 0.2s transform ease
	cursor: pointer
	z-index: 1111
	&.is-active
		-webkit-transform: rotate(90deg)
		-ms-transform: rotate(90deg)
		transform: rotate(90deg)
		i
			background: #00BF5F
	i
		margin-top: 4px
		display: block
		width: 24px
		height: 4px
		background: #55606e
		&:first-child
			margin-top: 0

.nav-overlay
	display: none
	position: fixed
	top: 0
	bottom: 0
	left: 0
	right: 0
	z-index: 2222

body.landing
	.landing-slider-i,
	.landing-video-l,
	.landing-benefits,
	.landing-partners-i,
	header .header-in,
	footer .footer-in
		width: 960px !important	
	footer div.footer-in
		padding-top: 0
		padding-bottom: 0
	.landing-nav
		a
			font-size: 12px
	&.is-fullpage-destroy // reset full page style
		min-width: 960px 
		header
			position: absolute
		.landing-slider
			.landing-slider-i
				width: 960px
				margin: 0 auto 0
		.landing-video
			.landing-video-title
				margin-bottom: 45px
			.landing-video-l
				margin: 0 auto 0
				position: relative
	.create-campain
		float: right
		text-decoration: none
		padding: 7px 19px 8px
		margin-top: 15px
		margin-bottom: 15px
		font-size: 14px
		font-weight: 700
		text-decoration: none
		border-radius: 34px
		position: relative
		z-index: -1
		opacity: 0
		transition: 0.2s background linear, 0.2s color linear, 0.2s opacity linear, 0.2s transform linear
		&:active
			transform:scale(0.95)
	.section
		position: relative
	.fp-section.fp-table, .fp-slide.fp-table
		display: table
		table-layout:fixed
		width: 100%
	.fp-tableCell
		display: table-cell
		vertical-align: middle
		width: 100%
		height: 100%
	.landing-slider
		.landing-slider-i
			@extend %wrap
			position: relative
			z-index: 999
		.landing-slider-text
			width: 715px
			margin-bottom: 45px
			.landing-slider-title
				display: inline-block
				margin-bottom: 30px
				font-size: 30px
				line-height: 41px
				font-weight: 700
				position: relative
				&.black
					&:before
						content: ""
						background: url("../../img/png/blanding_title_line1_black.png") 0 0 no-repeat
						width: 16px
						height: 14px
						background-size: 16px 14px
					&:after
						content: ""
						background: url("../../img/png/blanding_title_line2_black.png") 0 0 no-repeat
						width: 12px
						height: 32px
						background-size: 12px 32px
						left: 50px
						top: -70px
					.landing-slider-title-line1
						background: url("../../img/png/blanding_title_line3_black.png") 0 0 no-repeat
						width: 7px
						height: 33px
						background-size: 7px 33px
						left: 180px
						&:before
							content: ""
							background: url("../../img/png/blanding_title_line4_black.png") 0 0 no-repeat
							width: 13px
							height: 17px
							background-size: 13px 17px
							left: 100px
							top: 30px
						&:after
							content: ""
							background: url("../../img/png/blanding_title_line5_black.png") 0 0 no-repeat
							width: 23px
							height: 12px
							background-size: 23px 12px
							top: 61px
							left: 190px
				&:before
					content: ""
					background: url("../../img/png/blanding_title_line1.png") 0 0 no-repeat
					width: 16px
					height: 14px
					background-size: 16px 14px
					position: absolute
					left: -39px
					top: 50%
					margin-top: -8px
				&:after
					content: ""
					background: url("../../img/png/blanding_title_line2.png") 0 0 no-repeat
					width: 12px
					height: 17px
					background-size: 12px 17px
					position: absolute
					left: 0
					top: -32px
				.landing-slider-title-line1
					background: url("../../img/png/blanding_title_line3.png") 0 0 no-repeat
					width: 12px
					height: 32px
					background-size: 12px 32px
					position: absolute
					left: 70px
					top: -62px
					&:before
						content: ""
						background: url("../../img/png/blanding_title_line4.png") 0 0 no-repeat
						width: 7px
						height: 33px
						background-size: 7px 33px
						position: absolute
						left: 110px
						top: -20px
					&:after
						content: ""
						background: url("../../img/png/blanding_title_line5.png") 0 0 no-repeat
						width: 13px
						height: 17px
						background-size: 13px 17px
						position: absolute
						left: 210px
						top: 20px
				.landing-slider-title-line2
					background: url("../../img/png/blanding_title_line6.png") 0 0 no-repeat
					width: 23px
					height: 12px
					background-size: 23px 12px
					position: absolute
					right: -60px
					top: 10px
			p
				font-size: 14px
				line-height: 19px	
		.landing-slider-row
			width: 940px //
			margin: 0 auto
			text-align: center
			font-size: 0
			position: relative
		.landing-slider-list
			display: inline-block
			vertical-align: middle
			font-size: 18px
			line-height: 14px
			font-weight: 700
			li
				margin-right: 30px
				display: inline-block
				vertical-align: middle
			a
				text-decoration: underline
				&:hover
					text-decoration: none
		.landing-slider-btn
			padding: 18px 25px 17px
			display: inline-block
			vertical-align: middle
			border-radius: 34px
			font-size: 18px
			line-height: 17px
			font-weight: 700
			text-decoration: none
			transition: 0.2s background linear, 0.2s color linear, 0.2s transform linear
			&:active
				transform:scale(0.95)
		.landing-slider-ico
			position: absolute
			top: 10px
			right: 160px
			opacity: 0
			transition: 0.5s opacity linear
			&.is-animate
				opacity: 1
			&.right-en-white
				background: url("../../img/png/landing_slider_right_en_white.png")
				width: 138px
				height: 105px
				background-size: 138px 105px
			&.right-en-black
				background: url("../../img/png/landing_slider_right_en_black.png")
				width: 138px
				height: 105px
				background-size: 138px 105px
			&.right-pl-white
				background: url("../../img/png/landing_slider_right_pl_white.png")
				width: 146px
				height: 66px
				background-size: 146px 66px
			&.right-pl-black
				background: url("../../img/png/landing_slider_right_pl_black.png")
				width: 146px
				height: 66px
				background-size: 146px 66px
			&.bottom-en-white
				background: url("../../img/png/landing_slider_right_en_white.png")
				width: 164px
				height: 108px
				background-size: 164px 108px
			&.bottom-en-black
				background: url("../../img/png/landing_slider_right_en_black.png")
				width: 164px
				height: 108px
				background-size: 164px 108px
			&.bottom-pl-white
				background: url("../../img/png/landing_slider_bottom_pl_white.png")
				width: 205px
				height: 77px
				background-size: 205px 77px
				position: absolute
				top: auto
				bottom: -100px
				right: 400px
			&.bottom-pl-black
				background: url("../../img/png/landing_slider_bottom_pl_black.png")
				width: 176px
				height: 73px
				background-size: 176px 73px
				position: absolute
				top: auto
				bottom: -100px
				right: 530px
			&.left-pl-white
				background: url("../../img/png/landing_slider_left_pl_white.png")
				width: 176px
				height: 99px
				background-size: 176px 99px
				position: absolute
				top: auto
				right: auto
				bottom: -75px
				// left: 235px
				left: 140px
			&.left-pl-black
				background: url("../../img/png/landing_slider_left_pl_black.png")
				width: 176px
				height: 99px
				background-size: 176px 99px 
				position: absolute
				top: auto
				right: auto
				bottom: -75px
				left: 140px
			&.left-ru-white
				background: url("../../img/png/landing_slider_left_ru_white.png")
				width: 175px
				height: 99px
				background-size: 175px 99px
				position: absolute
				top: auto
				right: auto
				bottom: -75px
				left: 140px
			&.left-ru-black
				background: url("../../img/png/landing_slider_left_ru_black.png")
				width: 175px
				height: 99px
				background-size: 175px 99px
				position: absolute
				top: auto
				right: auto
				bottom: -75px
				left: 140px
			&.left-en-white
				background: url("../../img/png/landing_slider_left_en_white.png")
				width: 185px
				height: 81px
				background-size: 185px 81px
				position: absolute
				top: auto
				right: auto
				bottom: -75px
				left: 235px
			&.left-en-black
				background: url("../../img/png/landing_slider_left_en_black.png")
				width: 185px
				height: 81px
				background-size: 185px 81px
				position: absolute
				top: auto
				right: auto
				bottom: -75px
				left: 235px
	.landing-next-slide
		width: 61px
		height: 63px
		background-image: url("../../img/png/scrl.png")
		position: absolute
		bottom: 50px
		left: 50%
		margin-left: -30px
		cursor: pointer
		transition: 0.2s opacity linear
		&:hover
			opacity: 0.6
		&.m-black
			background-image: url("../../img/png/scrl_black.png")
			width: 61px
			height: 64px
			background-size: 61px 64px
	.landing-video
		margin-bottom: 70px
		position: relative
		.landing-video-l
			@extend %wrap
			+clr
			font-size: 0
			text-align: right
		.landing-video-col1
			width: 450px
			margin-right: 25px
			display: inline-block
			vertical-align: middle
			text-align: left
		.landing-video-col2
			width: 485px
			display: inline-block
			vertical-align: middle
			text-align: right
			position: relative
			img
				max-width: 100%
				max-height: 100% 
			.video-js 
				width: 100%
				z-index: 9
			.vjs-poster
				background-color: #fff
		.landing-video-ico
			position: absolute
			top: -85px
			right: 200px
			&.pl-black
				background: url("../../img/png/landing_video_ico_pl_black.png")
				width: 205px
				height: 70px
				background-size: 205px 70px
			&.pl-white
				background: url("../../img/png/landing_video_ico_pl_white.png")
				width: 205px
				height: 70px
				background-size: 205px 70px
			&.en-black
				background: url("../../img/png/landing_video_ico_en_black.png")
				width: 167px
				height: 69px
				background-size: 167px 69px
			&.en-white
				background: url("../../img/png/landing_video_ico_en_white.png")
				width: 167px
				height: 69px
				background-size: 167px 69px
		.landing-video-descr
			font-size: 14px
			line-height: 19px
			font-weight: 300
			position: relative
			z-index: 9
		.landing-video-title
			font-size: 30px
			line-height: 1.2
			font-weight: 700
			position: relative
			z-index: 9
			text-align: left
			&:before
				content: ""
				width: 182px
				height: 2px
				position: absolute
				bottom: -20px
				left: 0
	.landing-benefits
		@extend %wrap
		margin-bottom: 70px
		ul
			width: 940px
			margin: 0 auto
			+clr
		li
			width: 235px
			float: left
		.landing-benefits-ico
			height: 76px
			line-height: 72px
			position: relative
			&.m-ico2
				line-height: 76px
			&.m-ico3
			&.m-ico4
				line-height: 70px 
			svg
				display: inline-block
				vertical-align: middle
		.landing-benefits-meta
			width: 940px
			font-size: 30px
			line-height: 36px
			font-weight: 700
			position: relative
			&:before
				content: ""
				width: 119px
				height: 2px
				position: absolute
				bottom: -20px
				left: 0
		.landing-benefits-title
			margin-bottom: 14px
			font-size: 14px
			font-weight: 700
			color: #4A4A4A 
		.landing-benefits-content
			padding: 0 15px 0 0
			font-size: 14px
			line-height: 19px  
			font-weight: 400
			color: #4A4A4A		
	.landing-partners
		margin: -80px 0 0
		.landing-partners-item img
			transform: scale(0.4)
			transition: 0.4s transform linear, 0.3s opacity linear
		.slick-active + .slick-active img
			opacity: 1
			transform: scale(1)
		.slick-active img,
		.slick-active + .slick-active + .slick-active img
			opacity: 0.49
			transform: scale(0.4)
		.slick-active,
		.slick-active + .slick-active + .slick-active
			.landing-partners-item-descr
				opacity: 0
				transition: 0s opacity linear
		.slick-active + .slick-active
			.landing-partners-item-descr
				opacity: 1
				transition: 0.5s opacity linear
	.landing-partners-i
		@extend %wrap
		position: relative
		.js-partners-prev, .js-partners-next
			font-size: 30px
			position: absolute
			bottom: 20px
			cursor: pointer
			outline: none
			border: 0
			color: #4A4A4A 
		.js-partners-prev
			left: -40px
		.js-partners-next
			right: -40px 
	.landing-partners-items
		width: 650px
		margin: 0 auto
		+clr
		position: relative
		&:before, &:after
			content: ""
			position: absolute
			left: 50%
			margin-left: -10px
		&:before
			top: -30px
			background: url("../../img/png/bracket_2.png")
			width: 19px
			height: 15px
			background-size: 19px 15px
		&:after
			bottom: -30px
			background: url("../../img/png/bracket_1.png")
			width: 19px
			height: 15px
			background-size: 19px 15px
	.landing-partners-item
		margin: 0 0px
		float: none
		display: inline-block
		vertical-align: middle
		text-align: center
		position: relative
		transition: 0.3s transform linear
		img
			width: auto
			height: auto
			max-width: 100%
			max-height: 100%
		a
			display: inline-block
			text-decoration: none
	.landing-partners-item-descr //
		min-height: 112px
		opacity: 0
		margin: 0 -160px 35px
		font-family: TimesNewRoman, 'Times New Roman', Times, Baskerville, Georgia, serif
		font-style: italic
		font-weight: 400
		font-size: 24px
		line-height: 1.2
		color: #4A4A4A
		letter-spacing: 1px 
	.landing-review
		width: 100%
		overflow: hidden //
		z-index: 1001
		.vjs-control-bar
			display: none !important
		.vjs-poster
			display: none //
		.video-js .vjs-tech
			width: auto //
			min-width: 100%
			height: auto //
			min-height: 100%
		#really-cool-video2
			position: absolute
			top: 0
			left: -15%
			width: 130% !important
			height: 100% !important
			-webkit-transform: translate3d(0px, 0px, 0)
			transform: translate3d(0px, 0px, 0)
			z-index: -1
			&:before
				content: ""
				width: 100%
				height: 100%
				background: url("../../img/bg/blanding_pattern.png") 0 0 repeat
				opacity: 0.3
				position: absolute
				top: 0
				left: 0
				z-index: 10
				-webkit-transform: translate3d(0px, 0px, 0)
				transform: translate3d(0px, 0px, 0)
			&:after
				content: ""
				width: 100%
				height: 100%
				background: rgba(#000, .38)
				position: absolute
				top: 0
				left: 0
				z-index: 10
				-webkit-transform: translate3d(0px, 0px, 0)
				transform: translate3d(0px, 0px, 0)
		.landing-review-i
			width: 960px
			height: 100%
			margin: 0 auto
			position: relative
			z-index: 999 
		.js-review-prev, .js-review-next
			font-size: 48px
			position: absolute
			top: 75px
			cursor: pointer
			outline: none
			border: 0
		.js-review-prev
			left: -38px
		.js-review-next
			right: -0px
		.landing-review-items
			width: 450px
			height: 250px
			position: absolute
			top: 50%
			margin-top: -55px
			right: 0px
			color: #fff 
			z-index: 999
		.landing-review-title
			margin-bottom: 45px
			font-size: 30px
			font-weight: 700
			position: relative
			&:before
				content: ""
				width: 182px
				height: 2px
				position: absolute
				bottom: -20px
				left: 0
		.landing-review-text
			font-size: 14px
			line-height: 1.4
		.slick-dots
			width: 420px
			margin-top: 25px
			text-align: center
			position: static
			li
				vertical-align: middle
				&.slick-active
					button
						height: 13px
						width: 13px
						border-color: #fff
				button
					width: 8px
					height: 8px
					border-radius: 0
					background: #fff
					border: 1px solid #979797
					opacity: 0.67
		.slick-list
			width: 420px
	footer
		padding-top: 13px
		padding-bottom: 15px
		position: absolute
		bottom: 0
		left: 0
		right: 0 
		.footer-in
			@extend %wrap
			width: 960px
		.footer-l
			+clr
		.footer-col1
			width: 220px
			float: left
		.footer-col2
			width: 235px
			float: left
		.footer-col3
			width: 230px
			float: right
		.footer-col4
			width: 230px
			float: right
		.gray-logo
			width: 295px
			height: 80px
			background-size: 295px 80px
			display: inline-block
			vertical-align: top
		.footer-blanding-nav
			li
				height: 19px
				line-height: 1 
				a
					display: inline-block
					vertical-align: top
					font-size: 12px
					line-height: 17px
					color: #fff
					text-decoration: none
					&:hover
						span
							text-decoration: underline
				span, i
					display: inline-block
					vertical-align: middle
				i
					font-size: 15px
					width: 20px
				.fa-desktop, .fa-mobile
					margin-right: 3px
					font-weight: 400 
				.fa-mobile
					font-size: 20px

// 
.video-js,
.vjs-tech, 
.vjs-tech *,
.vjs-tech sourse
	outline: none
.vjs-big-play-button
	display: none !important

.video-js
	background-color: #fff !important
	
//
@media only screen and (min-width: 1500px)
	.landing-review
		overflow: hidden
		.video-js .vjs-tech
			width: 100%
			height: auto

// media ALL LANDING style 1900 - 960
body.landing.m-mobile
	header
		position: fixed
		&.m-mobile-scroll
			.create-campain
				opacity: 1
				z-index: 1
		.header-in
			height: 60px
			padding-left: 20px
			padding-right: 20px
			box-sizing: border-box
			.logo-white
				width: 100px
		.create-campain
			margin-right: 40px
			margin-top: 9px
			margin-bottom: 0
			font-size: 14px
	.landing-nav
		display: none
		padding: 10px 0
		background: rgba(#FFF, .8)
		position: absolute
		top: 60px
		left: 0
		right: 0
		li
			margin-left: 0
			line-height: 1
			font-size: 0
		a
			display: inline-block
			padding: 8px 10px
			font-size: 11px
			line-height: 14px
			text-transform: uppercase
	.nav-mobile
		display: block
		&.is-active
			i
				background: #00BF5F 
		i
			border-radius: 0
	footer
		.footer-col3
			float: left
		.footer-col4
			float: left
	.nav-overlay
		background: none 
	.landing-review
		height: 400px
		overflow: visible
		.landing-review-i
			z-index: auto
			+clr
		.landing-review-wrap
			// width: 280px
			width: 340px //
			margin-right: 10px //
			height: 400px
			float: right
			position: relative
			.slick-dots
				li
					z-index: 1111
		.slick-list
			width: 100%
		.js-review-prev
			top: 50%
			margin-top: -15px
			// left: -30px
			left: 0 //
			right: auto
			font-size: 30px
			color: #fff
			z-index: 9999
			+nosel
		.js-review-next
			top: 50%
			margin-top: -15px
			// right: -30px
			right: 0 //
			font-size: 30px
			color: #fff
			z-index: 9999
			+nosel
		.slick-dots
			width: 280px
			position: absolute
			bottom: 75px
			right: 40px
			left: auto
			margin-top: 0
		.landing-review-items
			width: 100%
			height: 400px
			top: 0
			margin-top: 0
		.landing-review-item
			width: 100%
			height: 400px
		.landing-review-item-bg
			width: 100%
			height: 400px
			+cover
			position: absolute
			top: 0
			left: 0
			right: 0
			bottom: 0
			z-index: 100 
		.landing-review-content
			width: 960px
			margin: 110px auto 0
			display: block
			position: relative
			z-index: 999
		.landing-review-content-i
			width: 280px
			float: right
			margin-right: 40px //
		.landing-review-title
			margin-bottom: 15px
			font-size: 20px
			&:before
				width: 60px
				bottom: -8px
		.landing-review-text
			font-size: 13px
			line-height: 18px
	.landing-review-item
		&:before
			content: ""
			position: absolute
			top: 0
			left: 0
			right: 0
			bottom: 0
			// +gh(rgba(red, .4), rgba(blue, .4))
			background-image: linear-gradient(left, rgba(#000, 0) 0%, rgba(#000, .55) 100%)
			z-index: 110
			
@media only screen and (min-width: 1200px)
	body.landing.m-mobile
		header
			.header-in
				padding-left: 0
				padding-right: 0
				box-sizing: border-box

@media only screen and (max-width: 1200px)
	%wrap, header .header-in
		box-sizing: border-box
	body.landing
		.landing-video
			.landing-video-col1
				width: 430px

// media ALL style 960 - 768
@media only screen and (max-width: 960px)
	body.landing.m-mobile
		min-width: 100% 
		.landing-slider-i,
		.landing-video-l,
		.landing-benefits,
		.landing-partners-i,
		header .header-in,
		footer .footer-in
			width: 100% !important
		header
			min-width: 100%
		.create-campain
			margin-top: 10px
		.landing-review
			.landing-review-i
				width: 100%
			.landing-review-content-i
				margin-right: 40px
			.landing-review-content
				width: 100%
		#section4
			footer
				.footer-l
					width: 580px
					margin: 0 auto
				.footer-col1
					width: 130px
					margin-right: 50px
					svg
						width: 100%
				.footer-col2
					width: 150px
				.footer-col3
					width: 150px
				.footer-col4
					width: 100px
					float: left

// media ALL style 480-320
@media only screen and (max-width: 480px)
	body.landing.m-mobile
		header
			.header-in
				padding-left: 20px
				padding-right: 20px
			.nav-mobile
				right: 20px
			.create-campain
				font-size: 11px
				margin-top: 13px
				margin-right: 35px
				padding: 4px 15px 6px

// media ALL style 320
@media only screen and (max-width: 320px)
	body.landing.m-mobile
		header
			.header-in
				padding-left: 10px
				padding-right: 10px
			.nav-mobile
				right: 10px

