.autocomplete-suggestions
	background: #fff
	border: 1px solid #4a94f9
	box-shadow: 0px 6px 4px rgba(159, 195, 217, 0.2)
	font-size: 16px
	color: #333
	padding: 10px 0px
	box-sizing: border-box
	margin-left: 1px
	margin-top: -1px
	border-radius: 3px 3px 3px 3px
	overflow: auto
	.autocomplete-suggestion
		padding: 10px 20px
		cursor: pointer
		&.autocomplete-selected
			background: #DFE9F1 
		
	 

.settings
	padding-top: 113px
	text-align: center
	.settings-title
		font-size: 36px
		font-weight: 700
		color: #333 
	.settings-l
		+clr
		.settings-profile
			width: 252px
			margin-right: 74px
			float: left
			text-align: center
		.settings-form
			width: 600px
			float: left
	.tab
		width: 1180px 
		margin-top: -2px
	.settings-profile-ava
		width: 130px
		margin: 0 auto
		margin-bottom: 16px
		position: relative
		cursor: pointer
		.dropzone
			position: relative
			background: transparent
			position: absolute
			top: 0
			left: 0
			z-index: 999
	.dropzone-ava
		position: relative
		&:after
			content: ""
			position: absolute
			left: 0
			right: 0
			top: 0
			bottom: 0
			background: rgba(#000, .3)
			opacity: 0
		.dz-preview
			position: absolute
			top: 0
			left: 0
			right: 0
			bottom: 0
			&:hover
				&:after
					opacity: 1
			&:before
				content: ""
				position: absolute
				top: 0
				left: 0
				right: 0
				bottom: 0
				background: rgba(#000, .3)
		.dropzone-ava-descr
			width: 110px
			height: 60px
			font-size: 21px
			font-weight: 400
			color: #fff
			position: absolute
			top: 50%
			left: 50%
			margin-left: -55px
			margin-top: -30px
			opacity: 0
			z-index: 999
	.settings-profile-media
		width: 130px
		height: 130px
		border-radius: 50%
		margin: 0 auto
		overflow: hidden
		position: relative
		z-index: 1000
		&:hover
			.dropzone-ava
				.dropzone-ava-descr, &:after
					opacity: 1
		&:before
			// content: "" 
			position: absolute
			top: 0
			bottom: 0
			left: 0
			right: 0
			background: rgba(#000, .3)
			z-index: 1
		img
			width: 130px
			height: 130px
			max-width: 100%
			max-height: 100%
			display: block
	.settings-profile-descr
		width: 80px
		height: 60px
		font-size: 24px
		font-weight: 400
		color: #fff
		position: absolute
		top: 50%
		left: 50%
		margin-left: -40px
		margin-top: -30px
	.settings-controll
		margin-bottom: 60px
		ul
			text-align: center
			font-size: 0
		li
			margin-left: 40px
			display: inline-block
			vertical-align: middle
			font-size: 26px
			position: relative
			&:first-child
				margin-left: 0
		a
			display: block
			color: #4a94f9
			transition: 0.2s color linear
			&:hover
				color: #a7adb5 
	.settings-social
		.settings-social-meta
			margin-bottom: 25px
			font-size: 16px
			font-weight: 700
			color: #55606e
		.tooltip-social-error
			display: none
			max-width: 280px
			box-shadow: 0 0 80px rgba(135, 155, 182, 0.4)
			padding: 15px 20px
			position: absolute
			bottom: -85px
			left: 50%
			margin-left: -100px
			z-index: 1888
			text-align: left
			font-size: 14px
			font-weight: 400
			line-height: 1.6
			color: #55606e
			background: #fff
		li
			margin-bottom: 15px
			position: relative
		a
			display: inline-block
			color: #4A94F9
			font-size: 0
			transition: 0.2s color linear
			&:hover
				color: #a7adb5 
			.fa
				margin-right: 10px
				display: inline-block
				vertical-align: middle
				font-size: 24px
			span
				display: inline-block
				vertical-align: middle
				font-size: 16px
				font-weight: 600
	.settings-row
		width: 402px
		margin-top: 30px
		position: relative
		+clr
		&:first-child
			margin-top: 0
		&.is-error
			.input
				&:after
					content: "\f05a"
					+FontAwesome
					font-size: 24px
					color: #ff3a3a
					position: absolute
					right: 20px
					top: 50%
					margin-top: -14px  
				input
					border-color: #ff3a3a
			.floating-placeholder
				label
					color: #ff3a3a 
		&.is-load
			.input
				&:after
					content: "\f110"
					+FontAwesome
					display: block
					width: 24px
					height: 24px
					margin: 0 auto
					line-height: 1
					font-size: 24px
					color: #cddce8 
					-webkit-animation: spin 1s infinite linear
					animation: spin 1s infinite linear
					position: absolute
					right: 20px
					top: 50%
					margin-top: -14px
				input
					color: #bdc1c6 
		&.is-success
			.input
				&:after
					content: "\f00c"
					+FontAwesome
					display: block
					width: 24px
					height: 24px
					margin: 0 auto
					line-height: 1
					font-size: 24px
					color: $green 
					position: absolute
					right: 20px
					top: 50%
					margin-top: -14px
		.settings-label50
			width: 191px
			float: left
			&:first-child
				margin-right: 20px
	.settings-resent
		width: 300px
		height: 43px
		padding: 9px 15px
		position: absolute
		top: 0
		left: 402px
		line-height: 1.6
		font-size: 14px
		color: #bdc1c6
		a
			text-decoration: none
			color: #4a94f9
			&:hover
				text-decoration: underline
		&.m-phone-verification
			margin-top: 23px
	.phone-verification-message-error
		&.is-error
			color: #ff3a3a
	.settings-delete
		font-size: 14px
		font-weight: 400 
		color: #bdc1c6
		text-decoration: none
		transition: 0.2s color linear
		&:hover
			color: #ff3a3a
	.btn-success
		text-align: center
		.fa-spinner
			display: none
		&.is-load
			span
				display: none
				height: 23px
			.fa-spinner
				display: block
				width: 24px
				height: 24px
				margin: 0 auto
				line-height: 1
				-webkit-animation: spin 1s infinite linear
				animation: spin 1s infinite linear
	.tooltip-open
		min-width: 160px
	.settings-password
		width: 402px
		margin: 0 auto
		padding-left: 10px
		.settings-password-row
			margin-top: 30px
			&:first-child
				margin-top: 0

.delete-account
	.delete-account-meta
		max-width: 550px 
		margin: 0 auto 32px
		font-size: 18px
		line-height: 30px
		color: #a7adb5
		text-align: center 
	.delete-account-row
		max-width: 402px
		margin: 30px auto 0



