.afterpayment
	padding-top: 140px
	margin-bottom: 180px
	&.m-error
		.afterpayment-l
			&:before
				content: ""
				width: 340px
				height: 356px
				background: url("../img/content-img/kiska-error.jpg")
				position: absolute
				bottom: -100px
				right: -390px
	&.m-success
		.afterpayment-l
			&:before
				content: ""
				width: 289px
				height: 452px
				background: url("../img/content-img/kiska-success.jpg")
				position: absolute
				bottom: -100px
				right: -390px
	.afterpayment-l
		width: 450px
		margin: 155px auto 0
		text-align: center
		position: relative
	.afterpayment-in
		@extend %wrap
	.afterpayment-title
		margin-bottom: 10px
		font-size: 36px
		color: #55606e
		text-align: center
	.afterpayment-meta
		font-size: 18px
		color: #55606e 
		text-align: center
	.afterpayment-verify
		margin-bottom: 35px
		font-size: 18px
		color: #a7adb5
		p
			margin-top: 8px
			&:first-child
				margin-top: 0
	.afterpayment-btn
		padding-left: 55px
		padding-right: 55px
		.fa
			margin-left: 8px
	.afterpayment-back
		display: block
		margin-top: 35px
		font-size: 18px
		font-weight: 600
		color: #4a94f9
		text-decoration: none
		&:hover
			text-decoration: underline
