.doc
	padding-top: 110px
	.js-faq-list
		a
			text-decoration: none
			color: #4a94f9
	.doc-in
		@extend %wrap
	h2
		margin-bottom: 48px
		font-size: 36px
		font-weight: 700
		text-align: center
	.doc-note
		width: 800px
		margin-left: 190px
		font-size: 16px
		line-height: 30px
		color: #333
		a
			text-decoration: none
			color: #4a94f9
		p
			margin-top: 10px
			&:first-child
				margin-top: 0
	ul
		margin-bottom: 80px
		color: #4a94f9
		font-weight: 300
		li
			padding: 0px 130px
			margin-bottom: 26px
			transition: 0.2s padding linear, 0.2s background linear, 0.2s color linear
			&.is-active
				padding: 40px 80px 33px 130px
				background: #eff4f8
				color: #333 
				.faq-content
					display: block
				ol
					display: block
		.faq-meta
			font-size: 24px
			line-height: 1.3
			cursor: pointer
			position: relative
			+clr
			.faq-meta-num
				width: 30px
				margin-right: 15px
				float: left
				text-align: right
				position: absolute
				left: 0
				top: 0
			.faq-meta-title
				width: 855px
				float: none
				display: block
				overflow: hidden
				margin-left: 0
				padding-left: 45px
				box-sizing: border-box
		.faq-content
			display: none
			margin: 25px 50px 0 0
			padding-left: 10px
			font-size: 16px
			line-height: 30px
			font-weight: 400 
			color: #333  
		ol
			display: none
			margin: 10px 0 10px 32px
			list-style-type: none
			li
				margin-bottom: 10px
				padding: 0
				font-size: 16px
				line-height: 30px 
				font-weight: 400 
				color: #333
				.faq-meta
					font-size: 16px
