//	FONTS
// ===============================================

=FontAwesome
	font-family: "FontAwesome", Arial, Helvetica, sans-serif

=os
	font-family: "Open Sans", sans-serif
	font-weight: 400
	font-style: normal 

=osl
	font-family: "Open Sans", sans-serif
	font-weight: 300
	font-style: normal

=osb
	font-family: "Open Sans", sans-serif
	font-weight: 700
	font-style: normal
 
=ossb
	font-family: "Open Sans", sans-serif
	font-weight: 600
	font-style: normal

=oseb
	font-family: "Open Sans", sans-serif
	font-weight: 800
	font-style: normal





