//
// ===============================================

// - календарь = дейтпикер, открывающаяся клава

// input
// ===============================================
input[type=text]
	-webkit-appearance: none
	-moz-appearance: none
	appearance: none

input[type=password]
	-webkit-appearance: none
	-moz-appearance: none
	appearance: none

input[type=number]
	-webkit-appearance: none
	// -moz-appearance: none
	-moz-appearance: textfield 
	appearance: none
	
	
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button
	-webkit-appearance: none
	-moz-appearance: none
	appearance: none
	margin: 0

input::-ms-clear
	display: none
	width : 0
	height: 0

input::-ms-reveal
	display: none
	width : 0
	height: 0

textarea
	-webkit-appearance: none
	-moz-appearance: none
	appearance: none

	resize: vertical
	outline: none 
	

select::-ms-expand
	display: none

// FLOAT BEGIN
.floating-placeholder input:focus+label, .floating-placeholder textarea:focus+label
	color: #4a94f9

.floating-placeholder input:focus+label+.fa
	color: #4a94f9

.floating-placeholder label
	position: absolute
	top: 50%
	margin-top: -10px
	left: 22px
	z-index: 22
	// transform-origin: (0 0em)
	// transition: (font-size 160ms, color 200ms, margin-top 160ms)
	font-size: 18px
	color: #a7adb5 

.floating-placeholder-float label
	margin-top: -22px
	font-size: 12px
	
.floating-placeholder-float.input input, .floating-placeholder-float.textarea textarea
	padding: 27px 20px 7px
	color: #333
// FLOAT END

.input
	position: relative
	&.is-succes
		.input-state
			background: url("../img/png/icons.png") no-repeat
			background-position: 0px -81px
		.input-state
			background: url("../img/png/icons.png") no-repeat
			background-position: 0px -0px
	&.is-datepicker
		display: block
		position: relative
		z-index: 11
		+nosel
		input
			position: relative
			z-index: 22
			cursor: pointer
		.fa
			font-size: 26px
			right: 20px
			margin-top: -13px
			z-index: 10
	&.m-link
		.input-notes
			position: absolute
			top: 30px
			left: 20px
			font-size: 18px
			color: #55606e 
		input
			padding-left: 166px
			+ossb
			+placeholder
				color: #000
				+ossb
	input
		width: 100%
		padding: 18px 20px 16px
		box-sizing: border-box
		background: transparent
		border: 1px solid #cddce8
		border-radius: 3px 
		font-size: 18px
		line-height: 1.4 
		color: #333
		font-weight: 400
		outline: none
		box-shadow: none
		position: relative
		z-index: 90
		+placeholder
			font-size: 18px
			color: #2c3e50
			font-weight: 400
		&:focus
			border-color: #4a94f9
			+placeholder
				color: transparent 
		&.is-disabled
			background: #f7f9fb
			color: #bdc1c6
		&.is-error
			border-color: $red
	.input-state
		width: 60px
		height: 51px
		position: absolute
		top: 0
		right: 0
	.fa
		position: absolute
		top: 50%
		margin-top: -12px
		right: 20px
		font-size: 24px
		color: #a7adb5 

.input
	&.is-disabled
		background: #f7f9fb
		color: #bdc1c6

.input.js-form-required + label
	z-index: 777
	
.input.js-form-required.is-disabled + label + .fa-facebook-square
	cursor: default

// select
// ===============================================
.select-wrap
	position: relative
	+nosel
	&:before
		content: "\f0dd"
		+FontAwesome
		font-size: 21px
		position: absolute
		top: 15px
		right: 15px
		color: #55606d
		line-height: 1
	&.m-hidedescr
		.cs-placeholder
			padding-top: 0
	.select-title
		font-size: 12px
		position: absolute
		z-index: 999
		top: 10px
		left: 22px
		line-height: 1
		color: #a7adb5
	select
		width: 100%
		// padding-top: 5px
		background: transparent 
		&:focus
			border-color: #4a94f9
			color: #4a94f9

.cs-select
	height: 61px
	line-height: 61px
	padding-left: 20px
	background: #fff
	border: 1px solid #cddce8
	border-radius: 3px
	outline: none 
	font-size: 18px
	color: #333
	cursor: pointer
	position: relative
	-webkit-appearance: none
	-moz-appearance: none
	appearance: none
	&.cs-active
		.cs-placeholder
			&:after
				content: "\f0d8"
		.cs-options
		ul
			height: 260px
			border-color: #4a94f9
	.select-value
		// +nosel
	.cs-placeholder
		height: 51px
		padding: 9px 20px 0px
		display: block
		overflow: hidden
		text-overflow: ellipsis
		white-space: nowrap
		font-size: 18px
		position: relative
		z-index: 999
		&:after
			content: "\f0d7"
			font-family: "FontAwesome", Arial, Helvetica, sans-serif
			font-size: 24px
			color: #55606e 
			position: absolute
			top: -1px
			right: 20px
	em
		font-style: normal
		font-weight: 400 
	i
		position: absolute
		top: 50%
		margin-top: -12px
		right: 20px
		font-size: 24px
		color: #55606e
	.cs-options
		position: absolute
		top: 100%
		left: -1px
		right: -1px
		// z-index: 111
		z-index: 1000
		border-radius: 2px
		overflow: hidden
	.cs-select
		display: none
	ul
		margin: 1px 0 0
		height: 0
		max-height: 260px
		background: #fff
		box-shadow: 0 0 80px rgba(135,155,182,.4)
		border: 1px solid #4a94f9
		border-color: transparent
		transition: height 0.3s, border-color 0.3s
		border-radius: 3px
		overflow: auto
	li
		height: 30px
		padding: 5px 20px 5px
		font-size: 18px
		line-height: 1.6
		font-weight: 400
		background: #fff 
		&:hover
			cursor: pointer
			color: #4a94f9
		&.cs-focus
			cursor: pointer
			color: #4a94f9
		&.cs-selected
			color: #00bf5f
			
.textarea
	position: relative
	&.floating-placeholder-float
		label
			background: #fff
	textarea
		width: 100%
		min-height: 160px
		padding: 16px 20px
		// border-color: #cddce8
		border: 1px solid #cddce8
		box-sizing: border-box
		border-radius: 3px 
		outline: none
		font-size: 18px
		line-height: 1.6 
		color: #000
		&:focus
			border-color: #4a94f9
	label
		// top: 31px
		// background: #fff
		left: 22px
		right: 30px
		text-align: left
		top: 23px
		padding-top: 10px
		padding-bottom: 3px

.file
	width: 502px
	// height: 100px
	display: inline-block
	vertical-align: middle
	display: block
	text-align: center 
	position: relative
	cursor: pointer
	.file-input
		width: 100%
		font-size: 0
		line-height: 1.2 
		position: absolute
		top: 0
		bottom: 0
		left: 0
		right: 0
		opacity: 0
	.file-text
		height: 100px
		line-height: 100px
		display: inline-block
		position: absolute
		top: 0
		bottom: 0
		left: 0
		right: 0
		font-size: 14px
	.file-text-in
		width: 100%
		height: 100px
		line-height: 1.8
		display: inline-block
		vertical-align: middle
		.dropzone
			// height: 100px
			height: 99px
			&.dz-drag-hover
				height: 105px
			.dz-message
				display: inline-block
				vertical-align: middle
				height: 100px
				line-height: 100px
		div
			display: inline-block
			vertical-align: middle
			line-height: 1.8
		.file-title, i
			display: block
			font-size: 14px
			color: #55606e
			font-style: normal
			position: relative
			z-index: 999
		.file-meta, strong
			display: block
			+osb
			color: #4a94f9
			position: relative
			z-index: 999
		h3
			opacity: 0
			width: 40px
			position: absolute
			top: 50%
			left: 50%
			margin-left: -20px
			margin-top: -16px
			z-index: 999
			font-size: 18px
			color: #4a94f9
			

.checkbox
	display: inline-block
	position: relative
	cursor: pointer
	font-size: 0
	&:hover
		input + .checkbox-ico
			border-color: #4a94f9
	&.m-mod
		&:hover
			input:checked + .checkbox-ico
				border-color: #cddce8
		span
			margin-left: 10px
			font-size: 16px
			color: #333
		input:checked + .checkbox-ico
			&:before
				color: #bdc1c6 
	input
		opacity: 0
		position: absolute
		top: 0
		left: 0
		z-index: 999
		cursor: pointer
	input + .checkbox-ico
		display: inline-block
		vertical-align: middle
		width: 16px
		height: 16px
		border: 1px solid #cddce8
		cursor: pointer
		border-radius: 3px
		position: relative
	input:checked + .checkbox-ico
		&:before
			content: "\f00c"
			font-family: "FontAwesome", Arial, Helvetica, sans-serif
			font-size: 14px
			color: #00bf5f
			font-weight: bold 
			position: absolute
			top: 50%
			left: 50%
			margin-top: -8px
			margin-left: -7px
	span
		margin-left: 20px
		display: inline-block
		vertical-align: middle
		font-size: 18px
		color: #a7adb5

.radio
	font-size: 18px
	line-height: 24px
	color: #333333
	font-weight: 600
	position: relative
	cursor: pointer
	input
		opacity: 0
		position: absolute
		top: 0
		left: 0
	input + span
		position: relative
		padding-left: 40px
		&:before
			content: ""
			display: inline-block
			width: 24px
			height: 24px
			border: 1px solid #BDC1C6
			border-radius: 50%
			position: absolute
			top: 0
			left: 0 
	input:checked + span
		&:before
			border-color: #00BF5F
			box-shadow: 0 0 0 1px #00BF5F
		&:after
			content: ""
			width: 22px
			height: 22px
			border-radius: 50%
			background: #00BF5F
			position: absolute
			top: 2px
			left: 2px

.file
	+clr
	.dz-preview
		width: 160px
		height: 100px
		line-height: 100px
		// background: #dfe9f1
		margin-top: 10px
		margin-left: 10px
		float: left
		position: relative
		border-radius: 2px
		overflow: hidden
		vertical-align: middle
		display: inline-block
		font-size: 0
		img
			width: auto
			height: auto
			max-width: 100%
			max-height: 100%  
			display: inline-block
			vertical-align: middle
		.dz-remove
			position: absolute
			top: 0
			bottom: 0
			left: 0
			right: 0
			font-size: 0
			background: transparent
			transition: 0.2s background linear
			&:before
				content: "\f00d"
				position: absolute
				top: 50%
				left: 50%
				margin-top: -18px
				margin-left: -14px
				+FontAwesome
				font-size: 36px
				line-height: 1
				color: transparent
				transition: 0.2s color linear
			&:hover
				background: rgba(#55606e, .45)
				&:before
					color: #fff 
	.file-dropzone
		height: 106px
		// margin-bottom: 10px
		overflow: hidden
		position: relative

//
.file-dropzone-list
	margin-top: 20px
	margin-left: -10px

.dropzone
	background-color: #dfe9f1
	border: 3px dashed white
	&.m-mod
		width: 130px
		height: 130px
		margin: 0 auto
		border-radius: 50%
		overflow: hidden
		border: 0
		font-size: 0
		.dz-message, .dz-success-mark, .dz-error-mark
			display: none
		.dz-preview, .dz-image
			height: 130px
	
.dropzone
	&.dz-max-files-reached
		.dz-default
			width: 100px
			position: relative
			&:before
				content: "\f067"
				position: absolute
				top: 50%
				left: 50%
				margin-top: -18px
				margin-left: -14px
				+FontAwesome
				font-size: 36px
				line-height: 1
				color: #fff 
			span
				display: none
	&.dz-drag-hover
		.dz-default
			span
				display: block

.dropzone.dz-drag-hover
	background-color: transparent
	border: 0
	h3
		opacity: 1
	.file-title, i, .file-meta, strong
		opacity: 0
		z-index: -10

.dropzone
	background-size: 30px 3px, 30px 3px, 3px 30px, 3px 30px
	background-position: 0 0,  0 100%,  0 0,  100% 0
	background-repeat: repeat-x,  repeat-x,  repeat-y,  repeat-y
	-webkit-animation: drop-anim 1s
					animation: drop-anim 1s
	-webkit-animation-timing-function: linear
					animation-timing-function: linear
	-webkit-animation-iteration-count: infinite
					animation-iteration-count: infinite
	-webkit-animation-play-state: paused
					animation-play-state: paused

.dropzone.dz-drag-hover
	-webkit-animation-play-state: running
	animation-play-state: running
	background-image: -webkit-linear-gradient(left, #fff 50%, #4a94f9 50%), -webkit-linear-gradient(left, #fff 50%, #4a94f9 50%), -webkit-linear-gradient(top, #fff 50%, #4a94f9 50%), -webkit-linear-gradient(top, #fff 50%, #4a94f9 50%)
	background-image: linear-gradient(to right, #fff 50%, #4a94f9 50%), linear-gradient(to right, #fff 50%, #4a94f9 50%), linear-gradient(to bottom, #fff 50%, #4a94f9 50%), linear-gradient(to bottom, #fff 50%, #4a94f9 50%)
	color: #fff

// drop-anim
@-webkit-keyframes dror-anim
	0% 
		background-position: 0 0,  0 100%,  0 0,  100% 0

	100%
		background-position: 60px 0, -60px 100%, 0 -60px, 100% 60px
@keyframes dror-anim
	0%
		background-position: 0 0,  0 100%,  0 0,  100% 0
	100%
		background-position: 60px 0, -60px 100%, 0 -60px, 100% 60px