.ui-datepicker.is-position{
    position: fixed !important;
    top: 50% !important;
    margin-top: -184px;
}

.ui-datepicker {
    border: 1px solid #4a94f9;
    border-radius: 3px;
    background-color: #fff;
    box-shadow: 0 0 80px rgba(135,155,182,.4);
}

.ui-datepicker-prev {
	width: 90px;
	height: 83px;
	position: absolute;
	left: -30px;
	font-size: 0;
    cursor: pointer;
}
.ui-datepicker-prev:hover, .ui-datepicker-next:hover {
   .ui-icon:before {
    color: #55606e;
   } 
}

.ui-datepicker-next {
	width: 90px;
	height: 83px;
	position: absolute;
	right: -30px;
	font-size: 0; 
    cursor: pointer;
}
.ui-datepicker-prev .ui-icon:before{
    content: "\f053";
    font: normal normal normal 14px/1 FontAwesome;
    margin-left: -10px;
    font-size: 24px;
    color: #a7adb5;
    display: inline-block;
    vertical-align: middle;
}
.ui-datepicker-next .ui-icon:before{
    content: "\f054";
    font: normal normal normal 14px/1 FontAwesome;
    margin-left: 10px;
    font-size: 24px;
    color: #a7adb5;
    display: inline-block;
    vertical-align: middle;
}
.ui-widget-header {
    color: #FFFFFF;
    font-size: 24px;
    color: #00bf5f;
    font-weight: 700;
}
.ui-datepicker {
    display: none;
    padding: 0;
    width: 100px;
}
.ui-corner-all, .ui-corner-bottom, .ui-corner-left, .ui-corner-bl {
    border-radius: 0;
}
#ui-datepicker-div {
	// width: 320px;
    width: 440px;
    padding: 0 30px 20px;
    margin-left: -270px;
	z-index: 2000 !important;
}
#ui-datepicker-div a{
    border: none;
}
.ui-datepicker .ui-datepicker-header {
    padding:0 ;
    position: relative;
}
.ui-datepicker-header{
    height: 83px;
}

.ui-datepicker table {
    border-collapse: collapse;
    font-size: 0.9em;
    margin: 0;
    width: 100%;
}
.ui-widget {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 300;
}
.ui-state-hover,
.ui-widget-content .ui-state-hover,
.ui-widget-header .ui-state-hover,
.ui-state-focus,
.ui-widget-content .ui-state-focus,
.ui-widget-header .ui-state-focus {
    // border: 1px solid #fbcb09;
    background: transparent;
    font-weight: bold;
    color: #00bf5f;
}
.ui-datepicker td.ui-datepicker-today a {
    color: #00bf5f;
}
.ui-datepicker td.ui-datepicker-other-month a{ 
    color: #a7adb5;
}
.ui-datepicker td.ui-state-disabled:hover span{ 
    color: #55606e;
    font-weight: 400;
}
.ui-datepicker td span,
.ui-datepicker td a {
    display: block;
    padding: 0;
    height: 42px;
    line-height:42px;
    text-align: center;
    vertical-align: middle;
    text-decoration: none;
    font-size: 18px;
    font-weight: 400;
    color: #55606e;
}
.ui-datepicker td.ui-datepicker-unselectable, .ui-datepicker td.ui-state-disabled{
	// background: #eee;
    background: #fff;
    opacity: 0.3;
}
.ui-datepicker td:hover{
    color: #4a94f9;
    font-weight: 400;
}
.ui-datepicker td span:hover,
.ui-datepicker td a:hover {
    // background: #becfde !important;
    color: #4a94f9;
    font-weight: 400;
}
.ui-datepicker tr td:last-child,  .ui-datepicker th:last-child  {
    border-right: 0 solid #aec5d7 !important;
}
.ui-datepicker .ui-datepicker-prev span, .ui-datepicker .ui-datepicker-next span {
    display: block;
    left: 50%;
    margin-left: -8px;
    margin-top: -9px;
    position: absolute;
    top: 53%;
}

.ui-datepicker .ui-datepicker-title {
    line-height: 2em;
    // margin: 8px 2.3em;
    padding-top: 22px;
    margin: 0 2.3em 8px;
    text-align: center;
    font-size: 24px;
    color: #00bf5f;
    font-weight: 700;
}
.ui-datepicker th {
    border: 0 none;
    background: #fff;
    font-weight: 400;
    font-size: 12px;
    padding: 0;
    text-align: center;
    height: 42px;
    color: #a7adb5;
}
.ui-datepicker-calendar .ui-state-active, .ui-datepicker-current-day{
    color: #4a94f9;
}
.ui-datepicker-calendar .ui-state-active, .ui-datepicker-current-day:hover {
    color: #4a94f9;
}
