// 1000-960

.mobile
	&.chrome
		.slider
			.slider-item, .slider-bg, .table
				height: 650px !important
			ul.slick-dots
			 	bottom: 10px

// if HEIGHT SLIDER  MORE 700px then:
// @media only screen and (max-height: 700px)
// 	body
// 		.slider
// 			.slider-title
// 				margin-bottom: 25px
// 				font-size: 48px
// 			.slider-descr
// 				margin: 0 auto 30px
// 				padding: 25px 40px
// 				line-height: 1.4 
// 			.slick-dots
// 				bottom: 20px

// if HEIGHT SLIDER  MORE 500px then:
// @media only screen and (max-height: 550px)
// 	body
// 		.slider
// 			.slider-title
// 				margin-bottom: 20px
// 				font-size: 36px
// 			.slider-descr
// 				padding: 20px 20px
// 				font-size: 21px
// 			.slick-dots
// 				bottom: 40px
// 			.slick-next, .slick-prev
// 				display: none !important


// if the WIDTH OF THE SCREEN less 1300px then:
@media only screen and (max-width: 1300px)
	.index
		.how-work-row
			overflow: hidden
	.quote
		.quote-in
			width: auto
	.shop
		.shop-in
			padding: 30px 30px 90px
			box-sizing: border-box
		.shop-items
			padding: 0 100px
		.slick-next
			right: 10px
		.slick-prev
			left: 10px
	.afterpayment.m-success
		.afterpayment-l
			&:before
				right: -320px
	.afterpayment.m-error
		.afterpayment-l
			&:before
				right: -340px
	.share .share-tooltip
		right: 50px
		top: 70px

// if the WIDTH OF THE SCREEN less 1200px then:
@media only screen and (max-width: 1200px)
	%wrap
		width: 100%
		padding: 0 10px
		box-sizing: border-box
	footer
		.footer-in
			padding-top: 33px
			padding-bottom: 28px
	.step
		.step-in
			width: 864px
			margin: 0 auto
			font-size: 0
			text-align: center
		.step-left
			width: 504px
			margin: 0 60px 0 0
			display: inline-block
			vertical-align: top
			float: none
			text-align: left
		.step-right
			margin-left: 0
			display: inline-block
			vertical-align: top
			float: none
			text-align: left
	.quote
		.quote-in
			width: auto
	.shop
		.shop-in
			padding: 30px 30px 90px
			box-sizing: border-box
	.mail-step1
		.mail-step1-in
			max-width: 502px
	.import
		.import-table
			.import-table-item
				.import-table-check
					width: 10%
				.import-table-name
					width: 40%
				.import-table-mail
					width: 39%
		.import-in
			max-width: 602px
		.select-contacts
			max-width: 602px
		.btn-success
			max-width: 602px
			box-sizing: border-box
			margin: 0 auto
	.faq-list
		.faq-meta
			.faq-meta-title
				width: 80%
	.doc .doc-note, .offer .offer-item
			width: 80%
			margin-left: 15%
	.offer .offer-item .offer-item-cont
		width: 80%
	.offer .offer-meta
		margin-left: 5%
	body.m-pending
		min-height: auto
		position: relative 
		header
			position: static
		#wrapper
			height: auto
		.pending-wrap
			min-height: auto
			width: 100%
			position: static
			margin-top: 50px
			margin-bottom: 50px
			margin-left: 0
			margin-right: 0 
			.pending
				padding: 0 10px
				img
					width: 112px
				.pending-title
					margin: 25px 0 15px
					font-size: 28px
				.pending-meta
				 margin-bottom: 18px
	body:not(.m-desktop)
		footer
			.footer-in
				padding-top: 33px
				padding-bottom: 33px
				.footer-left, .footer-center, .footer-right
					width: 100%
					float: none
					text-align: center
				.footer-center
					margin-bottom: 20px
			.footer-nav
				margin-bottom: 10px
				li
					float: none
					display: inline-block
					vertical-align: middle
			.footer-lang, .footer-select-lang
				float: none
				margin-right: 0
				display: inline-block
				vertical-align: middle
			.footer-row
				.footer-right
					width: 300px
					margin: 0 auto
					.footer-lang
						float: right
						cursor: pointer
						position: relative
					.footer-select-lang
						float: left
	.merchstat
		.merchstat-in
			padding-top: 210px
	.afterpayment.m-error, .afterpayment.m-success
		.afterpayment-l
			&:before
				content: none
	.doc ul li
		padding: 0 50px
		&.is-active
			padding-left: 50px
			padding-right: 50px
	.checkoutform
		.tooltip-card-error, .tooltip-cvv-error
			min-width: inherit
			max-width: inherit
			left: 0
			right: 0
			top: 100%
			margin-top: 20px
			margin-left: 0
			font-size: 13px
	.cookie 
		.cookie-in
			width: auto
		.cookie-left
			padding-top: 25px
			text-align: center
	.wishinfo
		.wishinfo-in
			padding-top: 20px
			padding-bottom: 20px
	body
		.slider
			.slider-item
				&.second-slide
					.slider-item-l
						&:before
							width: 300px
							height: 211px
							background: url("../img/svg/cat-tablet-slide2.svg")
							background-size: 300px 211px
							left: 0px
						.slider-item-col1
							width: 630px
							padding-left: 20px
						.slider-item-col2
							width: 250px
							text-align: right
							.pay-system
								width: 200px
								display: inline-block
					.slider-item-ico1, .slider-item-ico6, .slider-item-ico7, .slider-item-ico8, .slider-item-ico11, 
						display: none
					.slider-item-ico2
						top: 58px
						left: 80px
					.slider-item-ico4
						top: 54px
						right: 160px
					.slider-item-ico9
						bottom: 187px
						left: 600px
					.slider-item-ico10 
						right: 185px
				&.third-slide
					.slider-item-l
						.slider-item-col1
							width: 555px
							padding-left: 70px
							&:after
								top: 200px
								right: -280px
								width: 279px
								height: 355px
								background: url("../img/png/index_sldier_tablet_tablet.png")
			.slider-arrow-wrap
				margin: 0 auto
				left: 0
			.fa-chevron-left
				left: 10px
			.fa-chevron-right
				right: 10px
			.slider-item-l
				width: 940px
			.slider-item-col1
				width: 690px
			.slider-item-col2
				width: 250px
			.pay-system-item
				width: 75px
				height: 75px
				line-height: 75px
				&.ps-visa
					&:before
						width: 75px
						height: 51px
						-webkit-background-size: 75px 51px 
						-o-background-size: 75px 51px 
						background-size: 75px 51px 
				&.ps-mastercard
					&:before
						width: 66px
						height: 40px
						-webkit-background-size: 66px 40px 
						-o-background-size: 66px 40px 
						background-size: 66px 40px 
				&.ps-privat
					&:before
						width: 75px
						height: 75px
						-webkit-background-size: 75px 75px 
						-o-background-size: 75px 75px 
						background-size: 75px 75px 
				&.ps-shtuka
					&:before
						width: 56px
						height: 56px
						-webkit-background-size: 56px 56px 
						-o-background-size: 56px 56px 
						background-size: 56px 56px 
				&.ps-ibox
					&:before
						width: 56px
						height: 56px
						-webkit-background-size: 56px 56px 
						-o-background-size: 56px 56px 
						background-size: 56px 56px 
				&.ps-monexy
					&:before
						width: 56px
						height: 56px
						-webkit-background-size: 56px 56px 
						-o-background-size: 56px 56px 
						background-size: 56px 56px 
				&.ps-kyivstar
					&:before
						width: 56px
						height: 56px
						-webkit-background-size: 56px 56px 
						-o-background-size: 56px 56px 
						background-size: 56px 56px
			.pay-system 
				margin-top: 130px
				li
					width: 75px
					height: 75px
				 	


// if the WIDTH OF THE SCREEN less 960px then:
@media only screen and (max-width: 960px)
	.hide-960
		display: none
	.open-960
		display: block
	.out.m-mywish
		.wishinfo
			margin-top: 0
		.wishoverlay
			top: 220px
	.parallax-mirror
		display: none
	body.mobile-page
		.wishsettings
			.wishsettings-items
				margin: 0 auto
				.wishsettings-item
					width: 50%
	body
		min-width: 100%
		.slider
			padding-top: 0
			.slider-item
				&.first-slide
					.slider-item-ico1, .slider-item-ico8, .slider-item-ico11
						display: none
					.slider-item-ico2
						left: 2px
					.slider-item-ico4
						right: 220px
					.slider-item-ico5
						left: -30px
					.slider-item-ico6
						right: 4px
					.slider-item-ico7
						top: 183px
						right: -40px
					.slider-item-ico9
						bottom: 265px
						left: 101px
					.slider-item-ico10
						right: 155px
						bottom: 293px
				&.second-slide
					.slider-item-ico9
						left: 400px
						bottom: 230px
					.slider-item-ico10
						right: 125px
					.slider-item-l
						width: 738px
						&:before
							width: 195px
							height: 119px
							background: url("../img/svg/cat-mobile-slide2.svg")
							background-size: 195px 119px
						.slider-item-col1
							width: 480px
							padding-left: 38px
						.slider-item-col2
							width: 170px
							padding-right: 50px
							float: right
							.pay-system
								width: 170px
								margin-left: -14px
				&.third-slide
					.slider-item-ico1, .slider-item-ico8, .slider-item-ico7
						display: none
					.slider-item-ico2
						left: 10px
					.slider-item-ico4
						right: 22px
					.slider-item-ico11
						bottom: 180px
					.slider-item-l
						&:before
							width: 275px
							height: 175px
							background: url("../img/svg/cat-tablet-slide3.svg")
							left: 0
						.slider-item-col1
							width: 560px
							padding-left: 50px
							&:after
								width: 256px
								height: 326px
								background: url("../img/png/index_sldier_tablet_mobile.png")
								right: -110px
								top: 215px
					.slider-descr
						width: 400px
						margin: 0 0 60px 0
			.fa-chevron-left
				left: 20px
			.fa-chevron-right
				right: 20px
			.pay-system-item
				width: 75px
				height: 75px
				line-height: 75px
	header
		position: relative
		&.m-mobile
			min-width: inherit
			height: 44px
			padding: 0 10px
			padding-left: 0
			padding-right: 0
			&.m-user
				.user-login .user-login-ava
					margin-left: 0
				.user-login .user-login-title
					font-size: 0
				.user-login-title
					span
						max-width: 70px
					.fa
						font-size: 24px
						margin-left: 0
			&.m-special
				.logo
					position: absolute
					top: 50%
					left: 50%
					margin-left: -50px
					margin-top: -15px
			&.m-dropnav
				.header-btn, .fa, .nav
					display: none
				.nav-mobile
					display: block
				.nav
					width: 100%
					position: absolute
					top: 100%
					left: 0
					right: 0
					background: #fff
					box-shadow: 0px 6px 4px rgba(159, 195, 217, 0.2)
					.header-right
						width: 110px
						margin: 0 auto
						float: none
						height: auto
						line-height: 1.2
						text-align: center
						.header-btn, .header-logout
							display: block
							margin: 5px auto
					.nav-list
						width: 100%
						li
							display: block
			.header-right
				height: 44px
				line-height: 44px
				*
					line-height: 1.2 
			.lang
				display: block
			.logo
				width: 100px
				height: 30px
				margin-top: 7px
			.header-logout
				margin-left: 10px
			.header-btn
				padding-left: 8px
				padding-right: 8px
		&.m-merch
			padding: 0
			.nav-mobile
				display: none
			.header-in
				padding: 10px
		.header-in
			min-height: 44px
	.stepcollected
		.stepcollected-meta
			margin-top: 25px
			margin-bottom: 35px
			text-align: center
		.stepcollected-user
			margin-top: 10px
			margin-bottom: 15px
		.stepcollected-l
			+clr
			.stepcollected-col1
				width: 280px
				margin-right: 20px
				float: left
			.stepcollected-col2
				width: 280px
				float: right
			.ranger
				width: 280px
				float: right
	.step
		padding-top: 20px
		margin-bottom: 70px
		.step-title
			margin-bottom: 20px
		.step-form
			margin: 0 auto
		.step-left
			margin: 0
		.step-list
			text-align: center
			font-size: 0
			max-width: 300px 
			li
				width: 50%
				float: none
				margin-top: 50px
				display: inline-block
				vertical-align: top
		.step-in
			width: 100%
			.step-right
				width: 580px
	.doc ul li
		padding: 10px
		&.is-active
			padding: 10px
	.doc ul .faq-content
		margin: 15px 0px 0 0
		padding-left: 35px
	.doc ul .faq-meta .faq-meta-num
		margin-right: 5px
	.doc ul .faq-meta .faq-meta-title
		width: 100%
	.lang
		display: none
	.nav-enter
		display: none
	.nav-mobile
		display: block
	.how-work
		padding: 90px 0 25px
		&.m-plug
			padding-bottom: 95px
			.how-work-row
				margin-top: 70px
				margin-bottom: 35px
			.how-sel-ico
				margin-bottom: 35px
		.h2
			margin-bottom: 75px
		.how-work-row
			font-size: 0
			text-align: center
		.how-work-label
			width: 50%
			margin-bottom: 40px
			float: none
			display: inline-block
			vertical-align: top
			&.m-left, &.m-center, &.m-right
				opacity: 1
				transform: translate3d(0px, 0px, 0)
	.how-sel
		.how-sel-ico
			margin-bottom: 25px
	.prod
		.prod-title
			max-width: 300px
			padding: 0
			margin: 0 auto 10px
	.quote
		line-height: 650px
		display: inline-block
		vertical-align: middle
		.quote-bg
			height: 100%
			position: absolute
			top: 0
			left: 0
			right: 0
			background-attachment: inherit
		.quote-in
			padding: 0px 10px
			display: inline-block
			vertical-align: middle
			position: relative
			left: inherit
			top: inherit
			z-index: 90
			margin-left: 0
			line-height: 1.4 
		.quote-bracket
			margin-bottom: 30px
			margin-right: 0
		.quote-overlay
			width: 90%
			padding: 25px 5%
			font-size: 21px
			p
				margin-top: 20px
	.shop
		.h2
			margin-bottom: 50px
		.shop-in
			padding-bottom: 90px
	.contacts
		.contacts-bg
			background-attachment: inherit
		.contacts-tel
			.contacts-tel-meta
				font-size: 36px
			.contacts-tel-num
				font-size: 60px
		.contacts-mail
			.contacts-mail-meta
				font-size: 36px
	.wish-wrap
		width: 100%
		padding: 50px 0
		box-sizing: border-box
	.form
		.form-label50
			&.m-left, &.m-right
				width: 100%
				margin-bottom: 30px
				float: none
	.tile
		height: auto
		&.m-wish
			margin-top: 0
		.tile-info, .tile-img
			width: 100%
			min-height: 300px
			float: none
		.tile-info
			height: auto
		.tile-img
			height: 300px
		.user-slider
			width: 480px
			padding: 30px 30px 90px
			box-sizing: border-box
			margin: 0 auto
			float: none
			.user-slider-item
				height: auto
			.slick-dots
				bottom: -60px
	.userfull
		margin-top: 20px
		li
			margin: 20px 0
	.wish-list
		width: 100%
	.section-bottom
		width: 80%
	#section1
		.table
			padding-top: 33px
	.user
		.user-in
			width: 100%
		.user-items
			width: 100%
			margin-left: -20px
		.user-item
			margin-left: 40px
		.user-title
			font-size: 24px
		.slick-dots
			width: 100%
			left: 20px
		.user-media-img
			width: 100%
			& > img
				width: 100%
	.create-wish
		padding-top: 25px
		padding-bottom: 30px
		.h2
			margin-bottom: 60px
		.create-wish-item
			width: 33.33%
			margin-bottom: 70px
		.create-wish-ico
			margin-bottom: 30px
	.tips
		.tips-ico
			width: 15%
			margin-right: 5%
		.tips-descr
			width: 70%
			padding-right: 5%
	#one-wish
		.md-content
			padding: 50px 20px
		.one-wish-hide
			margin-top: 10px
		.one-wish-items
			display: block
			.one-wish-item
				width: 70%
				margin: 0 auto 30px
				float: none
				display: block 
				.one-wish-media
					margin: 0 auto
	#ui-datepicker-div
		margin-left: 0
	.user-subnav
		margin-top: -4px
	.document
		padding-top: 45px
		h1
			margin-bottom: 45px
		.document-in
			width: 100%
			padding: 0 10px
			box-sizing: border-box
	.payment .payment-keyboard.is-active
		left: 50%
		margin-left: -96px
		z-index: 2222
	#wishroundMerchantCreate
		.form
			.form-row
				.form-label50.m-right
					margin-bottom: 10px
	.wishinfo
		padding-top: 0 // then header state - absolute
	.index .header-btn.is-load
		z-index: 1
	#popup-preview .md-content, #popup-preview-friend .md-content
		min-width: 910px
		padding: 27px 20px 75px
		

@media only screen and (max-width: 768px)
	#section1
		.table
			padding-top: 0
	.wish-list
		li
			display: none
			height: auto
			&.is-active
				width: 100%
				display: inline-block
				&:before
					content: none
				.wish-list-meta
					margin: 0 0 20px
					font-size: 24px
				.wish-list-step
					margin: 0
					display: none
	.form
		width: 440px
	#ui-datepicker-div
		width: 398px
		padding: 0 20px 10px
		margin-left: 0
	.user
		.user-items
			width: 100%
			margin: 0 auto
		.user-item
			// margin: 0 20px
			margin: 0 0px
		.user-media-img
			width: 100%
			& > img
				width: 100%
		.user-title, .user-content
			padding: 0 10px
		.slick-dots
			li
				margin-left: 10px
				&:first-child
					margin-left: 0
	.create-wish
		padding-bottom: 100px
		.create-wish-item
			width: 50%
			margin-bottom: 40px
	body
		.slider
			padding-top: 0
			.slider-item
				&.first-slide
					.slider-cat
						width: 491px
						height: 216px
						background: url("../img/svg/cat-mobile-slide1.svg")
						position: absolute
						bottom: 0
						left: 50%
						margin-left: -245px
					.slider-item-ico1, .slider-item-ico5, .slider-item-ico6, .slider-item-ico7, .slider-item-ico8, .slider-item-ico10
						display: none
					.slider-item-ico2
						left: -10px
					.slider-item-ico4
						right: 26px
					.slider-item-ico9
						left: 26px
					.slider-item-ico11
						display: block
						right: 55px
				&.second-slide
					.slider-item-l
						width: 92%
						&:before
							width: 195px
							height: 119px
							background: url("../img/svg/cat-mobile-slide2.svg")
							-webkit-background-size: 195px 119px 
							-o-background-size: 195px 119px 
							background-size: 195px 119px 
							position: absolute
							bottom: 0
							left: 50%
							margin-left: -98px
						.slider-item-col1
							width: 100%
							padding: 0 0px
							box-sizing: border-box
						.slider-item-col2
							display: none
						.slider-descr
							margin-bottom: 15px
							ul
								margin: 15px 0 0
						.btn-warning
							margin: 0 -22px 15px
					.slider-item-ico1,
					.slider-item-ico2,
					.slider-item-ico3,
					.slider-item-ico4,
					.slider-item-ico5,
					.slider-item-ico6,
					.slider-item-ico7,
					.slider-item-ico8,
					.slider-item-ico9,
					.slider-item-ico10,
					.slider-item-ico11
						display: none
					.slider-title
						margin-top: 20px
					.pay-system
						&.m-mobile
							display: block
							margin-top: 0
							margin-bottom: 15px
					.slider-title
						text-align: center
				&.third-slide
					.slider-item-l
						width: 92%
						margin: 0 auto
						&:before
							width: 214px
							height: 119px
							background: url(../img/svg/cat-mobile-slide3.svg)
							left: 50%
							margin-left: -107px
						.slider-item-col1
							width: 100%
							padding: 0
							&:after
								content: none
								background: none 
					.slider-item-ico1,
					.slider-item-ico2,
					.slider-item-ico3,
					.slider-item-ico4,
					.slider-item-ico5,
					.slider-item-ico6,
					.slider-item-ico7,
					.slider-item-ico8,
					.slider-item-ico9,
					.slider-item-ico10,
					.slider-item-ico11
						display: none
					.slider-title
						text-align: center
						margin-bottom: 30px
						margin-top: 55px
					.slider-descr
						width: 100%
						margin: 0 auto 60px
						text-align: center
						ul
							margin-top: 15px
							text-align: left
							li
								&:before
									margin-left: 5px
									margin-right: 5px
					.slider-descr > p
						padding-left: 0
					.mobile-align
						text-align: center
			.slider-item-in
				width: 80%
				min-width: 280px 
			.slider-arrow-wrap
				max-width: 768px 
			.slider-title
				margin-top: 60px
				font-size: 24px
				line-height: 33px
			.slider-descr
				font-size: 18px
				line-height: 24px
				p
					padding-left: 15px
			.fa-chevron-left
				top: 240px
				left: 20px
			.fa-chevron-right
				top: 240px
				right: 20px
	.btn-wrap
		.btn-preview
			&:hover
				right: 0
				background: #4a94f9
	.tips
		.tips-list
			margin-bottom: 70px
	.popup-mail
		width: 90%
		max-width: 400px
		min-width: 300px  
	#sign-up
		.sign-in
			width: 90%
	.share
		.share-item
			width: 90%
			padding: 0 20px 30px
			box-sizing: border-box
			max-width: 600px
			overflow: hidden
			.share-item-media
				width: 100%
				height: 150px
				line-height: 150px
			.share-item-btn
				width: 80%
				font-size: 16px
	.import
		.import-top
			.import-top-meta
				width: 100%
				margin-bottom: 20px
				text-align: center
				float: none
				padding-left: 0
			.search
				float: none
				margin: 0 auto
	.tooltip-error, .tooltip-open
		right: 0
	#country
		.md-content
			padding: 70px 0 20px
	.doc
		padding-top: 40px
		.doc-title
			font-size: 24px
			margin-bottom: 28px
	.faq-list
		li
			padding: 20px 0px 13px 0px
			margin-bottom: 15px
			&.is-active
				padding: 20px 0px 13px 0px
		.faq-meta
			.faq-meta-title, .faq-meta-num
				font-size: 18px
		.faq-content, ol li .faq-meta .faq-meta-title, ol li .faq-meta .faq-meta-num
			font-size: 14px
	.faq-list .faq-content
		width: 80%
		margin: 15px 0 0 33px
	.offer .offer-meta
		margin-top: 25px
		font-size: 18px
	.offer .offer-item, .doc .doc-note
		width: 100%
		margin-left: 0
	.offer .offer-item .offer-item-cont
		font-size: 14px
	.doc .doc-note
		font-size: 14px
	.offer .offer-item .offer-item-num, .faq-list .faq-meta .faq-meta-num
		width: 33px
	.offer .offer-note
		width: 95%
		margin-left: 5%
		font-size: 14px
	.photoarea
		.photoarea-in 
			.photoarea-left
				width: 100%
				height: auto
				padding-left: 10px
				padding-right: 10px
				box-sizing: border-box
				border-radius: 3px 3px 0 0
				text-align: center
			.photoarea-right
				width: 100%
				height: auto
				padding-left: 10px
				padding-right: 10px
				box-sizing: border-box
				border-radius: 0px 0px 3px 3px
				border-left: 1px solid #4a94f9
				border-top: 0
				text-align: center
			.photoarea-items
				padding-left: 50px
				padding-right: 50px
	#birthday .md-content
		width: 90%
		max-width: 90%
		box-sizing: border-box
		padding-left: 30px
		padding-right: 30px
		.birthday-label50
			width: 100%
			margin: 0
			&:first-child
				margin-bottom: 30px
		.h2
			margin: 0
			span
				display: inline
		.birthday-label1, .birthday-label2, .birthday-label3
			width: 100%
			margin-right: 0
			margin-bottom: 20px
		.birthday-row
			&.m-long
				margin-bottom: 20px
	#connect .connect-row
		width: 100%
	#connect-success .md-content
		min-width: 300px
		max-width: 500px 
		// padding-left: 0
		// padding-right: 0
		padding-bottom: 30px
	.connectafter .connectafter-list
		margin: 0
		display: block
		ul
			display: block
		li
			display: block
	.share
		.share-meta
			height: auto
			.share-meta-descr
				display: block 
				margin-bottom: 10px
		.share-tooltip
			top: 100px
	.switchoption
		height: 118px
		line-height: 110px
		.switchoption-label
			width: auto
			right: 0px
		.switchoption-items
			height: auto
			line-height: 1
		.switchoption-item
			width: 100%
			height: 60px
	.js-validateform
		&.is-switch
			.switchoption-label
				top: 59px
				left: 0
	.wishroundMerchantLettrsSend .wishroundMerchantLettrsSend-btn, .wishroundMerchantWishPosted .wishroundMerchantLettrsSend-btn
		padding: 14px 40px 
	.mail-step1 .mail-step1-title span
		display: inline-block
		padding: 0 40px
	.mail-step1 .mail-step1-back
		left: 0
	.step
		.step-title
			font-size: 36px
	.step .step-left
		width: 90%
		margin: 0 5%
	.step
		margin-bottom: 40px
		.step-in
			padding: 0
			.step-left, .step-right
				// width: auto
				width: 100%
				min-width: 300px
				max-width: 500px  
				margin: 0 auto
				float: none
		.step-form
			// width: 100%
			width: 300px
			margin: 0 auto
			float: none
		.step-summ
			padding: 0 0 0 20px
			.step-summ-input
				width: 142px
		.step-label.m-left, .step-label.m-right
			width: 100%
		.step-label.m-left
			margin-bottom: 20px
		.step-row
			margin-bottom: 20px
			&.mb-20
				margin-top: 20px
		.step-list
			width: 300px
			margin: 0 auto
			li
				width: auto
				min-width: 300px 
				max-width: 300px 
				margin: 40px auto 0px
				text-align: left
				.step-list-ico1, .step-list-ico2, .step-list-ico3
					text-align: center
			.step-list-meta
				max-width: 210px
	.stepcollected
		.stepcollected-meta
			margin-bottom: 0
		.stepcollected-user
			margin-top: 17px
			margin-bottom: 20px
		.stepcollected-l
			width: 300px
			margin: 0 auto
			.stepcollected-col1
				width: 100%
				margin: 0 auto
			.stepcollected-col2
				width: 100%
				margin: 0 auto
			.ranger
				float: left
		.stepcollected-cont
			width: 300px
			margin: 0 auto
		.stepcollected-media
			text-align: left
	.step-load-wrap .step-load-ava
		width: 0
		display: none
	.step-load-wrap .step-comment
		width: 300px
	.js-step-form .switchoption-label
		top: 0
	.js-step-form.is-switch .switchoption-label
		top: 59px
	.js-step-form.is-switch .switchoption-label
		left: 0
		right: 0
	.js-step-form .switchoption-item.m-left
		color: #fff
	.js-step-form .switchoption-item.m-right
		color: #bdc1c6
	.js-step-form.is-switch .switchoption-item.m-left
		color: #bdc1c6
	.js-step-form.is-switch .switchoption-item.m-right
		color: #fff
	.show-768
		display: block !important
		&.custom-btn
			display: inline-block !important
	header
		&.custom-768
			text-align: center
	// body:not(.m-desktop)
	// 	.wish
	// 		width: 320px
	// 		margin: 0 auto
	// 		padding-top: 0
	// 		.wish-in
	// 			position: relative
	// 			.wish-title
	// 				// display: none
	// 				width: 300px
	// 				height: 50px
	// 				padding: 0 10px
	// 				overflow: hidden
	// 				position: absolute
	// 				top: 140px
	// 				left: 50%
	// 				margin-left: -160px
	// 				margin-bottom: 0
	// 				font-size: 20px
	// 				font-weight: 400
	// 				color: #FFF
	// 				z-index: 10
	// 		.wish-layout
	// 			width: 320px
	// 			.wish-col1
	// 				margin: 320px
	// 				max-width: 500px
	// 				width: 300px
	// 				margin: 0 auto
	// 				float: none
	// 			.wish-col2
	// 				width: 320px
	// 				width: 300px
	// 				margin: 0 auto
	// 				float: none
	// 			.wish-prod-single
	// 				width: 100%
	// 				height: 200px
	// 				line-height: 200px
	// 				position: relative
	// 				&:before
	// 					content: ""
	// 					width: 100%
	// 					height: 80px
	// 					background: linear-gradient(to top,  rgba(0,0,0,0.05) 0%,rgba(0,0,0,0.65) 100%)
	// 					position: absolute
	// 					bottom: 0px
	// 					left: 0
	// 					right: 0
	// 				& > img
	// 					vertical-align: top
	// 					height: 200px //
	.input.m-small label
		margin-right: 60px
		height: 32px
		margin-top: -16px
	// .ranger .ranger-tooltip
	// 	left: 50%
	// 	margin-left: -120px

@media only screen and (max-width: 600px)
	.share
		.share-item-meta
			margin-bottom: 15px
		.share-list-item
			width: 50%
			margin-left: 0px
			margin-bottom: 15px
			// text-align: left
			text-align: center
			&:first-child
				margin-left: 0px
	#one-wish .one-wish-items
		padding: 0
	#one-wish .one-wish-hide
		margin-top: 0
	#sign-up .popup-mail-row
		font-size: 0
		.birthday-label1
			width: 100%
			margin-bottom: 30px
			margin-right: 0
		.birthday-label2
			width: 45%
			margin-right: 5%
		.birthday-label3
			width: 50%
	.popup-mail .popup-mail-row .popup-mail-label50
		width: 100%
		&:first-child
			margin-bottom: 30px

@media only screen and (max-height: 550px)
	.contacts
		.contacts-in
			padding: 10px
		.contacts-logo
			margin-bottom: 35px
		.contacts-tel
			margin-bottom: 35px
			.contacts-tel-meta
				font-size: 24px
			.contacts-tel-num
				font-size: 36px
		.contacts-mail
			.contacts-mail-meta
				font-size: 24px
				margin-bottom: 20px
			
@media only screen and (max-width: 1110px)
	.prod
		.prod-in
			padding: 30px 10px
		.prod-items
			width: 100%
			padding: 0 50px
			box-sizing: border-box
		.slick-prev
			left: 10px
		.slick-next
			right: 10px

// if the WIDTH OF THE SCREEN less 1050px then:
@media only screen and (max-width: 1050px)
	.shop
		.shop-in
			padding: 30px
			padding-bottom: 90px
		.shop-items
			padding: 0 50px
			box-sizing: border-box
		.slick-prev
			left: 10px
		.slick-next
			right: 10px

@media only screen and (max-width: 520px)
	.personification
		width: 90%
	.file-dropzone-list
		margin-left: -5%
		margin-top: 5px
	.file
		width: 100%
		.dz-preview
			width: 45%
			margin-left: 5%
			margin-top: 5%
	.btn-wrap
		height: auto
		+clr
		.btn-back
			float: left
		.btn-next
			display: block
			width: auto
			overflow: hidden
			border-radius: 0 2px 2px 0 
		.btn-preview
			width: auto
			height: auto
			margin-top: 15px
			position: static
			display: block
			background: transparent
			border: 0
			&:before
				content: none
			&:hover
				background: transparent 
			span
				display: inline-block
				vertical-align: middle
				width: auto
				padding: 0
				position: static
				font-size: 14px
				color: #4a94f9
				text-decoration: underline
	.popup-sign-up, .popup-forgot-step1 .popup-forgot-step-in, .popup-forgot-step2 .popup-forgot-step-in
		width: 90%
	.popup-forgot-step1 .popup-forgot-step-in
		padding: 70px 0
		margin: 0 auto
	.popup-forgot-step2 .popup-forgot-step-in
		padding: 70px 0
		margin: 0 auto
		.popup-forgot-title, .popup-forgot-meta
			margin-bottom: 30px
	.popup-forgot-step2
		.btn-success
			font-size: 16px
	#one-wish
		.one-wish-items
			.one-wish-item
				width: 90%
			.one-wish-media
				width: 100%
				height: 150px
				line-height: 150px
	.slider
		.slider-bg
			&.m-slide1
				width: 100%
				height: 100%
				min-height: 550px
				background: url(../img/bg/slider-bg1-mobile.jpg)
				+cover
			&.m-slide2
				width: 100%
				height: 100%
				min-height: 550px
				background: url(../img/bg/slider-bg2-mobile.jpg)
				+cover
			&.m-slide3
				width: 100%
				height: 100%
				min-height: 550px
				background: url(../img/bg/slider-bg3-mobile.jpg)
				+cover
			&.m-slide4
				width: 100%
				height: 100%
				min-height: 550px
				background: url(../img/bg/slider-bg4-mobile.jpg)
				+cover
			&.m-slide5
				width: 100%
				height: 100%
				min-height: 550px
				background: url(../img/bg/slider-bg5-mobile.jpg)
				+cover
			&.m-slide6
				width: 100%
				height: 100%
				min-height: 550px
				background: url(../img/bg/slider-bg6-mobile.jpg)
				+cover
			&.m-new-yaar
				width: 100%
				height: 100%
				min-height: 550px
				background: url(../img/bg/index-slider-new-year-mobile.jpg)
				+cover
	.checkoutform .payment .payment-form
		width: auto
	.checkoutform .payment .payment-form .payment-label.m-50
		width: 100%
		margin-top: 32px
		&:first-child
			margin-top: 0
	#checkoutPayForm.checkoutform .payment .payment-form .payment-label.m-50
		width: 47%
		margin-top: 0
		&:first-child
			margin-right: 6%
	// .checkoutform .payment-ssl .payment-ssl-meta
	// 	width: 225px
	.checkoutHowWork
		 .checkbox span
		 	font-size: 10px
	.wishroundMerchantCreate, .wishroundMerchantAlmostReadyMe, .wishroundMerchantAlmostReadyFriend
		.form 
			width: 100%
		.tooltip-open
			width: 260px
			margin-right: 0
			margin-right: -150px
			right: 50%
	#short-link-preview-wrap2, #short-link-preview-wrap1
		width: 100%
		word-wrap: break-word
		line-height: 1.2
	.wishroundMerchantLettrsSend .wishroundMerchantLettrsSend-btn, .wishroundMerchantWishPosted .wishroundMerchantLettrsSend-btn
		padding: 14px 20px 

// if the WIDTH OF THE SCREEN less 481px then:
@media only screen and (max-width: 481px)
	.hide480
		display: none
	%btn
		font-size: 21px
	.lang
		.lang-select
			span
				width: 35px
				&:after
					position: absolute
					top: 13px
					right: -10px
					margin-left: 0
	body
		.slider
			height: 740px
			padding-top: 0
			.slider-item
				height: 740px
				&.first-slide
					.slider-cat
						width: 454px
						height: 196px
						background: url("../img/svg/cat-mobile480-slide1.svg")
						position: absolute
						bottom: 0
						left: 50%
						margin-left: -227px
					.slider-item-ico1,
					.slider-item-ico2,
					.slider-item-ico3,
					.slider-item-ico4,
					.slider-item-ico5,
					.slider-item-ico6,
					.slider-item-ico7,
					.slider-item-ico8,
					.slider-item-ico9,
					.slider-item-ico10,
					.slider-item-ico11
						display: none
			.btn-warning
				min-width: 268px
				margin: 0 -10px 30px
			.slider-title
				margin: 60px auto 30px 
				font-size: 24px
			.slider-link
				font-size: 18px
				line-height: 24px
			.slick-dots
				bottom: 150px
			.fa-chevron-left
				left: 0
			.fa-chevron-right
				right: 0
	.nav-enter
		display: none
		right: 115px
	.how-work
		.h3
			&.m-cooperation
				margin-top: 30px
				margin-bottom: 30px
		.how-work-label
			width: 100%
		.how-sel-ico, .how-sel-title
			margin-bottom: 10px
	.cool-bg
		padding: 30px 0
		.h2
			font-size: 34px
	.quote
		.quote-bracket
			display: none
		.quote-overlay
			font-size: 18px
			p
				margin-top: 15px
	.contacts
		.contacts-in
			padding: 10px
		.contacts-logo
			margin-bottom: 35px
		.contacts-tel
			margin-bottom: 35px
			.contacts-tel-meta
				font-size: 24px
			.contacts-tel-num
				font-size: 36px
		.contacts-mail
			.contacts-mail-meta
				font-size: 24px
				margin-bottom: 20px
	.wish-list
		li
			padding: 0 5px
			font-size: 12px
	.tile
		.user-slider
			width: 300px
	.nav
		.nav-list
			li
				&.m-mobile-lang
					display: block
				&.m-enter
					display: block !important
	.wish-wrap
		padding-top: 25px
	.wish-list
		margin-bottom: 23px
	.form
		.form-row
			margin-bottom: 21px
		.form-label50
			&.m-right
				margin-bottom: 0
	.section-bottom
		margin: 30px auto 55px
	.user
		.user-in
			padding-bottom: 90px
		.h3
			margin-bottom: 35px
		.slick-dots
			bottom: -60px
	.input
		&.m-small
			label
				// margin-top: -6px
				font-size: 14px
			&.floating-placeholder-float
				label
					margin-top: -22px
					font-size: 12px
	#form-general
		transform: translate3d(0px, -82px, 0)
	body:not(.m-desktop)
		footer
			.footer-row
				.footer-right
					width: 200px

 

@media only screen and (max-width: 480px)
	.md-modal-row
		max-width: 84%
	.form
		width: 300px
	#ui-datepicker-div
		width: 298px
		margin: 0 0px
		padding: 0px 0px 10px
	.ui-datepicker
		.ui-datepicker-prev
			width: 40px
			left: 0
			span
				margin-left: 0
		.ui-datepicker-next
			width: 40px
			right: 0
			span
				margin-left: -8px
				&:before
					margin-left: 0
	.user
		.user-items
			width: 100%
		.user-item
			margin-left: 0 
		.user-media-img
			& > img
				width: auto
				min-width: 100% 
		.slick-dots
			left: 0
	.how-work
		&.m-plug
			.btn-success
				width: 80%
	body.mobile-page
		#cycle-2 .cycle-slide
			width: 120px
			margin: 0 3px
	// body
	// 	.slider
	// 		.slider-title
	// 			margin: 0 auto 20px
	// 			font-size: 24px
	// 		.slider-descr
	// 			font-size: 18px
	// 		.btn-success
	// 			width: 80%
	// 			min-width: 80%
	// 		.slick-dots
	// 			bottom: 10px
	.tips
		.tips-ico
			.fa
				font-size: 40px
		.tips-descr
			font-size: 18px
	.tooltipster-default .tooltipster-content
		width: 260px
	.shop
		.shop-items
			padding: 0 10px
		.slick-prev
			left: -20px
		.slick-next
			right: -20px
	.md-modal
		.md-content
			padding: 70px 20px
			box-sizing: border-box
	#partners
		.h2
			padding-bottom: 0px
		.md-content-in
			padding-bottom: 30px
		.md-modal-row
			max-width: 100%
	#sign-up
		.md-content
			width: 90%
		.popup-mail .popup-mail-title .fa-envelope
			display: none
		.popup-mail .popup-mail-title .fa-arrow-left 
			top: 0
		.popup-mail-row
			width: 90%
			margin: 0 auto 30px
		.popup-mail-reg
			width: 90%
			margin: 0 auto 55px
			box-sizing: border-box
		.popup-mail-title
			width: 90%
			margin: 0 auto
			span
				width: 230px
			.fa-envelope, span
				margin-bottom: 30px
		.fa-arrow-left
			display: block
			top: 10px
			margin: 0 0 10px
	.share
		.share-tooltip
			max-width: 300px
			right: 10px
			left: 10px
			top: 135px
		.share-item-btn
			width: auto
			padding: 19px 10px 18px
			font-size: 14px
			.fa-facebook-square
				font-size: 16px
		.share-title
			margin-bottom: 15px
		.share-meta
			span
				margin-bottom: 5px
				// display: block
		.share-item
			.share-item-btn
				padding-left: 5px
				padding-right: 5px
				.fa-facebook-square
					display: none
		.share-list
			.share-list-item
				width: 100%
				text-align: left
				a
					display: block
	.import
		.import-table
			.import-table-item
				text-align: center
				.import-table-check
					width: 10%
				.import-table-name
					width: 70%
					text-align: left
				.import-table-mail
					width: 70%
					margin-left: 10%
					text-align: left
	#country
		.md-content
			padding: 70px 0 20px
		.country-flag
			width: 50px
			height: 50px
			margin-bottom: 10px
		.country-list
			a
				&.m-pl, &.m-de
					margin-left: 0
					margin-right: 0
	.afterpayment.m-error, .afterpayment.m-success
		.afterpayment-l
			width: 100%
		.afterpayment-meta
			margin-bottom: 30px
		.afterpayment-title
			margin-bottom: 30px
			font-size: 24px
		.afterpayment-btn
			padding-left: 15px
			padding-right: 15px
	#birthday .md-content
		padding-left: 10px
		padding-right: 10px
	.photoarea .photoarea-in .photoarea-items
		padding-left: 10px
		padding-right: 10px
	.payment .payment-form
		width: 300px
		.payment-label.m-50
			width: 140px
	// .payment-ssl .payment-ssl-meta
	// 	width: 250px
	.payment .tooltip-payment
		max-width: 260px
		min-width: 260px
		left: 50%
		margin-left: -145px
	.wishroundCheckoutPopup .md-content
		padding: 30px 40px 0
	.mail-step1 .mail-step1-meta span
		display: inline-block
	.import .import-title-back
		left: 0
	.create-wish .create-wish-item
		width: 100%
	.cookie .cookie-left a
		display: block

// if the WIDTH OF THE SCREEN less 332px then:
@media only screen and (max-width: 332px)
	.ui-datepicker
		left: 0 !important
	#ui-datepicker-div
		margin: 0 10px

// mobile page
body.mobile-page
	header
		position: relative
		&.m-mobile
			min-width: inherit
			height: 44px
			padding: 0 10px
			padding-left: 0
			padding-right: 0
			&.m-user
				.user-login .user-login-ava
					margin-left: 0
				.user-login .user-login-title
					font-size: 0
				.user-login-title
					span
						max-width: 70px
					.fa
						font-size: 24px
						margin-left: 0
			&.m-special
				.logo
					position: absolute
					top: 50%
					left: 50%
					margin-left: -50px
					margin-top: -15px
			&.m-dropnav
				.header-btn, .fa, .nav
					display: none
				.nav-mobile
					display: block
				.nav
					width: 100%
					position: absolute
					top: 100%
					left: 0
					right: 0
					background: #fff
					box-shadow: 0px 6px 4px rgba(159, 195, 217, 0.2)
					.header-right
						width: 110px
						margin: 0 auto
						float: none
						height: auto
						line-height: 1.2
						text-align: center
						.header-btn, .header-logout
							display: block
							margin: 5px auto
					.nav-list
						width: 100%
						li
							display: block
			.header-btn.custom-btn
				display: block !important
				margin-top: 0
				margin-right: 0
				position: absolute
				top: 6px
				right: 45px
				padding-left: 15px
				padding-right: 15px
				font-size: 14px
				font-weight: 600 
			.header-right
				height: 44px
				line-height: 44px
				*
					line-height: 1.2 
			.lang
				display: block
			.logo
				width: 100px
				height: 30px
				margin-top: 7px
			.header-logout
				margin-left: 10px
			.header-btn
				padding-left: 8px
				padding-right: 8px
		&.m-merch
			padding: 0
			.nav-mobile
				display: none
			.header-in
				padding: 10px
		&.is-user-login
			.header-btn.custom-btn
				right: 75px
		.header-in
			min-height: 44px
		.user-login-ava
			background: blue
			display: block
			width: 30px
			height: 30px
			border-radius: 50%
			+cover
			position: absolute
			right: 40px
			top: 50%
			margin-top: -15px
	.wishsettings-items
		text-align: center
		.wishsettings-item
			width: 25%
	.wish
		padding-top: 0
		.wish-in
			padding: 0
			.wish-prod
				position: relative
				.wish-title
					padding: 0 10px
					z-index: 1111
					position: absolute
					margin-bottom: 0
					bottom: 155px
					left: 0
					right: 0
					font-size: 20px
					font-weight: 600
					color: #fff  
					text-align: center
					word-wrap: break-word // fix large title
			#carousel
				width: 80%
				max-width: 350px 
				.wish-caro-prev
					left: -10%
				.wish-caro-next
					right: -10%
			#slideshow-1
				width: 100%
				margin: 0 auto
			#cycle-1
				max-height: 360px 
				text-align: center
				position: relative
				font-size: 0
				&:before
					content: ""
					height: 150px
					position: absolute
					bottom: 0
					left: 0
					right: 0
					background: linear-gradient(to top,  rgba(0,0,0,0.55) 0%, rgba(0,0,0,0.50) 15%, rgba(0,0,0,0.0) 100%)
					z-index: 1100
			#cycle-1 div
				width: 100%
				// height: auto
				// line-height: 1
				height: 360px 
				line-height: 360px
			.wish-descr
				margin-bottom: 0
				padding: 0 10px 15px
				word-wrap: break-word // fix large title
				.wish-descr-title
					text-align: center
			.wish-prod-single
				max-height: 360px 
				text-align: center
				position: relative
				font-size: 0
				&:before
					content: ""
					height: 150px
					position: absolute
					bottom: 0
					left: 0
					right: 0
					background: linear-gradient(to top,  rgba(0,0,0,0.55) 0%, rgba(0,0,0,0.50) 15%, rgba(0,0,0,0.0) 100%)
				img
					width: auto
					max-width: 100% 
					height: auto
					max-height: 360px
					display: inline-block
				.wish-title
					padding: 0 10px
					position: absolute
					margin-bottom: 0
					bottom: 15px
					left: 0
					right: 0
					font-size: 20px
					font-weight: 600
					color: #fff  
					text-align: center
					word-wrap: break-word // fix large title
			.ranger
				padding: 20px 10px 0
				.ranger-top
					margin-bottom: 2px
					text-align: center
				.ranger-price .ranger-price-from
					font-weight: 700
				.ranger-price, .ranger-day
					float: none
					display: inline-block
					vertical-align: middle
				.ranger-day
					margin-top: 9px
			.btn-warning
				display: block
				margin: 0 10px
				padding: 11px
				font-size: 30px
				font-weight: 700
				text-align: center
			.wish-share-btn, .wishbalance-link
				margin-top: 15px
				margin-bottom: 20px
				font-weight: 600
			.wish-layout
				margin-bottom: 15px
				.wish-share
					border-left: 0
					border-right: 0
					&.m-long
						li
							.wish-share-item
								line-height: 40px
					li
						&.wish-share-total
							.wish-share-descr
								font-size: 10px
								line-height: 14px
						&:not(.wish-share-total)
							a
								padding: 5px 0 13px
						.fa
							font-size: 30px
							margin-right: 5px
						.wish-share-num
							font-size: 24px
			.wish-meta
				text-align: center
				span
					margin-bottom: 10px
			.wish-user
				border-top: 1px solid #dfe9f1
				padding-top: 15px
				padding-bottom: 20px
				padding-left: 10px
				overflow: hidden
				.wish-user-ava
					float: left
				.wish-user-descr
					display: block
					max-width: inherit
		.wish-banner
			width: 100%
			a
				height: 136px
				line-height: 136px
			.wish-banner-title
				width: 100%
				padding: 0 25px
				box-sizing: border-box
				line-height: 1.6
				display: inline-block
				vertical-align: middle
				position: relative
				top: 0
				margin-top: 0
		.chip
			border: 0
		.chip-none
			height: 243px
			margin-bottom: 0
			box-sizing: border-box
	.wish .wish-layout .wish-share li
		width: 30%
	.wish .wish-layout .wish-share li.wish-share-total
		width: 40%
	.wish .wish-layout .wish-share .wish-share-descr
		margin-left: 5px
	.wish .wish-banner .wish-banner-title
		font-size: 26px
	.merchmore
		margin: 20px 0
		padding: 20px
		text-align: center
		.merchmore-meta
			display: block
			margin: 10px 0
	







	
