.svg-secure
	width: 160px

//
.merchstat
	min-width: 1200px //
	height: 729px
	position: relative
	text-align: center
	&:before
		content: ""
		position: absolute
		top: 0
		left: 0
		width: 100%
		height: 729px
		background: url("../img/bg/texture1.jpg")
		+cover
	.merchstat-in
		@extend %wrap
		height: 519px
		padding-top: 203px
		position: relative
		z-index: 777
		color: #fff 
	.merchstat-title
		text-align: center
		span
			font-size: 60px
			font-weight: 700 
			&.merchstat-title-big
				display: block
				font-size: 100px
				line-height: 1
	.merchstat-btn
		display: inline-block
		// width: 300px
		padding: 23px 49px
		border-radius: 37px
		margin: 35px auto 0
		background: #0db882
		text-align: center
		font-size: 24px
		font-weight: bold 
		color: #fff
		text-decoration: none
		box-shadow: inset 0px -3px 0 #0b9f70
		transition: 0.2s background linear, 0.2s color linear, 0.2s box-shadow linear
		&:hover
			background: #fff
			color: #0db882
			box-shadow: inset 0px -3px 0 #E3F9EC

.merchsection
	min-width: 1200px // 
	padding-top: 90px
	&.m-green
		background: #0db882
		padding: 74px 0 84px
	&.m-benefits
		padding-top: 36px
	&.m-testimonials
		margin-bottom: 122px
		padding-top: 100px
	.merchsection-in
		@extend %wrap
		width: 1200px
	.merch-title
		font-size: 36px
		font-weight: 700
		color: #333  
		text-align: center

.tab
	max-width: 1220px
	margin: 10px auto 40px
	padding: 0 10px
	text-align: center
	font-size: 0
	&.m-mod
		margin: 10px auto 100px
		text-align: left
		padding: 0
		.tab-nav
			padding: 30px 0 0
			li
				&.is-active
					color: #55606e 
				&.is-hidden
					display: none
		.tab-content
			height: auto
			// padding: 70px 70px 15px
		.tab-item
			display: none
			&.is-active
				display: block
			&.is-hidden
				display: none
	.tab-nav
		padding: 30px 30px 0
		display: inline-block
		font-size: 18px
		+clr
		overflow: hidden
		li
			float: left
			position: relative
			border-top: 2px solid #fff
			z-index: 2
			&.is-active
				background: #fff
				border-top: 2px solid #0fb882 
				box-shadow: 0 0 30px rgba(159, 195 ,217, .2)
				z-index: 3
				&.m-mod
					border-top: 2px solid #5a84d6
				a
					color: #55606e 
		a
			display: block
			padding: 15px 19px
			text-decoration: none
			font-weight: 700 
			color: #a7adb5 
	.tab-content
		height: 310px
		padding: 70px 68px
		border-radius: 5px
		background: #fff 
		box-shadow: 0 0 30px rgba(159,195,217,.2)
		font-size: 14px
		position: relative
		z-index: 2

.graph
	height: 310px
	position: relative
	&.m-blue
		.graph-meta, .graph-3 .graph-3-wrap .fa
			color: #5a84d6
		.graph-2 .graph-2-wrap
			padding: 13px 21px 12px
			border-color: #5a84d6
		.graph-3
			.graph-3-wrap
				&:before
					border-color: #5a84d6
		.graph-41, .graph-42, .graph-43, .graph-5 .graph-5-wrap:before
			border-color: #5a84d6
		.graph-41 .fa, .graph-42 .fa, .graph-43 .fa
			color: #5a84d6
	.graph-meta
		font-size: 14px
		line-height: 1.6 
		font-weight: 600
		color: #0fb882
	.graph-1
		// width: 70px
		width: 100px
		height: 114px
		position: absolute
		top: 50%
		margin-top: -46px
		left: 1px
		&:before
			content: ""
			width: 47px
			height: 8px
			background: url("../img/png/border1.png")
			position: absolute
			top: 29px
			right: -34px
		.svg-user, .svg-user-bl
			width: 57px
			height: 50px
			margin-bottom: 27px
	.graph-2
		width: 106px
		height: 114px
		position: absolute
		top: 50%
		margin-top: -47px
		left: 146px
		&:before
			content: ""
			width: 47px
			height: 8px
			background: url("../img/png/border1.png")
			position: absolute
			top: 29px
			right: -55px
		.graph-2-wrap
			width: 60px
			margin-bottom: 15px
			padding: 21px 
			border: 2px solid #0fb882
			border-radius: 4px
			//
			// width: 104px
			// height: 64px
			// line-height: 64px
			// padding: 0 21px
			// box-sizing: border-box
			// vertical-align: middle
		.graph-2-btn
			width: 35px
			padding: 5px 14px
			display: inline-block
			background: #0fb882
			border-radius: 4px
			font-size: 10px
			color: #fff
			// 
			// min-width: 35px
			// max-width: 100%
			// width: 100%
			// padding: 5px 0px
			// vertical-align: middle
			// line-height: 1
			// box-sizing: border-box
			// text-align: center
			width: auto 
			min-width: 35px
			padding: 5px 9px
	.graph-3
		width: 100px
		height: 200px
		position: absolute
		top: 50%
		margin-top: -48px
		left: 316px
		.graph-3-wrap
			width: 100px
			height: 100px
			margin-bottom: 65px
			display: inline-block
			position: relative
			&:before
				content: ""
				display: inline-block
				width: 66px
				height: 66px
				border: 2px solid #0fb882
				border-radius: 6px
				transform: rotate(45deg)
			.fa
				position: absolute
				top: 50%
				left: 50%
				font-size: 30px
				margin-top: -30px
				margin-left: -15px
				color: #0fb882
		.graph-line-center
			width: 47px
			height: 8px
			background: url("../img/png/border1.png")
			position: absolute
			top: 30px
			right: -55px
		.graph-line-top
			width: 108px
			height: 58px
			background: url("../img/png/border2.png")
			position: absolute
			top: -83px
			right: -57px
		.graph-line-bottom
			width: 107px
			height: 62px
			background: url("../img/png/border3.png")
			position: absolute
			top: 92px
			right: -57px
	.graph-41, .graph-42, .graph-43
		display: inline-block
		width: 94px
		height: 62px
		line-height: 68px
		text-align: center
		border: 2px solid #0fb882
		border-radius: 3px
		left: 484px
		.fa
			font-size: 24px
			color: #0fb882 
	.graph-41
		position: absolute
		top: -5px
		&:before
			content: ""
			width: 117px
			height: 58px
			background: url("../img/png/border4.png")
			position: absolute
			top: 29px
			right: -130px
	.graph-42
		position: absolute
		top: 109px
		&:before
			content: ""
			width: 47px
			height: 8px
			background: url("../img/png/border1.png")
			position: absolute
			top: 29px
			right: -64px
	.graph-43
		position: absolute
		top: 223px
		&:before
			content: ""
			width: 117px
			height: 60px
			background: url("../img/png/border5.png")
			position: absolute
			top: -24px
			right: -127px
	.graph-5
		width: 100px
		height: 200px
		position: absolute
		top: 50%
		margin-top: -48px
		left: 653px
		&:before
			content: ""
			width: 47px
			height: 8px
			background: url("../img/png/border1.png")
			position: absolute
			top: 29px
			right: -54px
		.graph-5-wrap
			width: 100px
			height: 100px
			margin-bottom: 65px
			display: inline-block
			position: relative
			&:before
				content: ""
				display: inline-block
				width: 66px
				height: 66px
				border: 2px solid #0fb882
				border-radius: 6px
				transform: rotate(45deg)
		.svg-money, .svg-money-bl
			width: 35px
			height: 36px
			position: absolute
			top: 15px
			left: 31px
	.graph-6
		width: 165px
		height: 200px
		position: absolute
		top: 50%
		margin-top: -48px
		left: 784px
		&:before
			content: ""
			width: 47px
			height: 8px
			background: url("../img/png/border1.png")
			position: absolute
			top: 30px
			right: -24px
		.svg-transfer, .svg-check
			height: 66px
			margin-bottom: 12px
		.graph-meta 
			line-height: 1.6
	.graph-7
		width: 100px
		height: 200px
		position: absolute
		top: 50%
		margin-top: -36px
		left: 980px
		.svg-car, .svg-car-bl
			margin-bottom: 21px

.merchlist
	margin-top: 36px
	margin-bottom: 30px
	+clr
	.merchlist-item
		float: left
		width: 590px
		margin-bottom: 53px
		text-align: center
	.merchlist-ico
		height: 165px
		line-height: 165px
		margin-bottom: 7px
		display: inline-block
		vertical-align: middle
		.svg-people1, .svg-diagramm, .svg-customer, .svg-people2
			display: inline-block
			vertical-align: middle
	.merchlist-title
		margin-bottom: 20px
		font-size: 24px
		font-weight: 600 
	.merchlist-content
		width: 326px
		margin: 0 auto
		font-size: 16px
		line-height: 1.8
		color: #55606e
		text-align: center

.testimonials
	margin-top: 52px
	margin-bottom: 80px
	+clr
	.testimonials-item
		width: 590px
		float: left
		text-align: center
	.testimonials-media
		margin-bottom: 20px
	// 	img
	.testimonials-title
		margin-bottom: 15px
		font-size: 24px
		font-weight: 600
		color: #333 
	.testimonials-meta
		margin-bottom: 21px
		font-size: 14px
		color: #a7adb5 
	.testimonials-content
		width: 350px
		margin: 0 auto
		font-size: 18px
		line-height: 1.7
		font-weight: 400
		color: #55606e 

#merchcontact
	height: 248px
	padding: 0
	position: relative
.merchcontact
	height: 90px
	position: absolute
	top: 50%
	margin-top: -45px
	padding: 0px
	font-size: 0
	.merchcontact-left
		width: 590px
		padding-left: 100px
		display: inline-block
		vertical-align: middle
	.merchcontact-right
		width: 490px
		display: inline-block
		vertical-align: middle
		text-align: center
	.merchcontact-descr
		color: #fff
		font-size: 36px
		font-weight: 700 
		line-height: 45px
	.merchcontact-btn
		display: inline-block
		margin-left: -35px
		margin-top: 11px
		padding: 19px 47px
		background: #fff
		border: 2px solid #fff
		border-radius: 35px
		font-size: 24px
		font-weight: 700
		color: #0db882  
		text-align: center
		text-decoration: none
		transition: 0.2s background linear, 0.2s color linear
		&:hover
			background: #0db882 
			color: #fff  

.merchconnect
	padding-bottom: 115px
	margin-top: 25px
	font-size: 0
	.merchconnect-item
		width: 590px
		display: inline-block
		vertical-align: middle
		&.m-secure
			.merchconnect-ico
				width: 194px
				height: 194px
				position: relative
				svg
					position: absolute
					top: -17px
					left: 0
			.merchconnect-descr
				width: 340px
				padding-right: 30px
		&.m-integration
			width: 523px
			padding-left: 67px
			.merchconnect-ico
				width: 165px
				svg
					width: 165px
			.merchconnect-descr
				width: 318px
				padding-right: 0
				margin-left: 40px
	.merchconnect-ico
		width: 210px
		display: inline-block
		vertical-align: middle
	.merchconnect-descr
		width: 300px
		padding-right: 70px
		display: inline-block
		vertical-align: middle
	.merchconnect-title
		margin-bottom: 15px
		font-size: 24px
		font-weight: 600
		color: #333  
	.merchconnect-content
		font-size: 18px
		line-height: 1.7
		color: #55606e

.merchform
	display: none
	height: 70px
	padding: 10px 0
	position: absolute
	top: 50%
	margin-top: -45px
	border-radius: 35px
	font-size: 0
	// overflow: hidden
	&.m-cashout
		.merchform-input
			&.m-mail
				width: 292px
				padding-left: 40px
				border-radius: 35px 0 0 35px
				line-height: 1.3 
			&.m-number
				width: 278px
			&.m-number2
				width: 386px
				border-radius: 0 35px 35px 0
		.merchform-link
			padding: 23px 52px
			top: 8px
			right: -82px
	.animated
		-webkit-animation-duration: 0.75s //
		 animation-duration: 0.75s //
	.merchform-input
		display: inline-block
		padding-top: 25px
		padding-bottom: 21px
		padding-left: 20px
		padding-right: 20px
		background: #fff
		outline: none
		border: 0
		font-size: 18px  
		color: #55606e
		+placeholder
			color: #a7adb5
		&:focus
		 +placeholder
		 	color: transparent 
		&.m-name
			width: 209px
			border-radius: 35px 0 0 35px
			padding-left: 40px
			border-right: 1px solid #dee0e2
		&.m-mail
			width: 227px
			border-right: 1px solid #dee0e2
		&.m-number
			width: 150px
			border-right: 1px solid #dee0e2
		&.m-link
			// width: 241px
			width: 241px
			// padding-right: 150px
			padding-right: 50px
			border-radius: 0 35px 35px 0
		&.is-error
			border-color: $red
			+placeholder
				color: $red 
			&:focus
			 +placeholder
			 	color: transparent 
	.merchform-link
		display: inline-block
		padding: 21px 36px
		font-size: 24px
		font-weight: 700
		color: #0db882
		text-decoration: none
		background: #fff
		border: 2px solid #0db882
		border-radius: 37px
		position: absolute
		top: 9px
		// right: 0
		right: -100px
#how-it-works
	.tab-item
		opacity: 0
		transition: border-color linear 0.5s, color linear 0.5s
		height: 310px
		position: absolute
		top: 50%
		margin-top: -155px
		&.is-active
			opacity: 1 

// popup
#connect
	.md-overlay
		min-width: 590px
	.md-content
		max-width: 500px
		& > .md-content-in
			padding-bottom: 0
	.connect-row
		width: 400px
		margin: 30px auto 0
	.h2
		padding: 0 0 24px
			
#connect-success
	.md-overlay
		min-width: 870px
	.md-content
		min-width: 760px
		max-width: 760px
		padding-bottom: 0
		& > .md-content-in
			padding-bottom: 0

.connect
	.connect-row
		margin-top: 30px
		&:first-child
			margin-top: 0

.connectafter
	text-align: center
	.fa-check
		margin-bottom: 50px
		font-size: 60px
		color: #0fb882
	.connectafter-title
		margin-bottom: 20px
		font-size: 24px
		font-weight: 700
		color: #55606e  
	.connectafter-meta
		margin-bottom: 60px
		font-size: 14px
		color: #a7adb5 
	.connectafter-list
		margin: 0 -80px
		display: table
		table-layout: fixed
		width: 900px
		ul
			display: table-row
		li
			display: table-cell
			box-sizing: border-box
			text-align: left
			background: #eff4f8
			border-radius: 2px
			border: 1px solid transparent
			&:hover
				border-color: #4a94f9
				background: #fff 
				.connectafter-list-title
					color: #4a94f9
			&.is-spesial
				background: #fafcfd
		a
			display: block
			padding: 30px 30px 30px
			text-decoration: none
			color: #55606e
	.connectafter-list-title
		margin-bottom: 15px
		font-size: 18px
		font-weight: 700 
	.connectafter-list-content
		font-size: 14px
		line-height: 1.6
		font-weight: 400 
		color: #55606e

// // svg color
// .svg-user, .svg-money
// 	path
// 		fill: #0fb882
    
// .svg-color-green
// 	fill: #0fb882




