.visa, .master-card, .cb
	width: 42px
	height: 28px
	position: absolute
	top: 50%
	margin-top: -14px
	right: 20px

#type-card
	width: 42px
	height: 28px
	position: absolute
	top: 50%
	margin-top: -14px
	right: 20px
	// &.visa
	// 	// background: url("../visa.png")
	// 	background: url("../img/png/visa.png")
	// &.mastercard
	// 	background: url("../img/png/master-card.png")

// .visa
// 	+s($s-visa)

// .master-card
// 	+s($s-master-card)

// .cb
// 	+s($s-cb)

#input-cvv
	cursor: pointer
	&.is-focus
		input
			border-color: #4a94f9
		label, .js-tooltip
			color: #4a94f9
	input
		cursor: pointer


.payment-overlay
	position: absolute
	top: 0
	left: 0
	right: 0
	bottom: 0
	opacity: 0.3
	z-index: -1
	&.is-active
		z-index: 666
	&.m-checkout
		background: red 
		// &.is-active
		// 	z-index: 91111
				
.payment
	position: relative
	.payment-form
		width: 324px
		margin: 100px auto 0
	#type-card
		opacity: 0
		transition: 0.3s all ease
		transform: translate3d(-40px, 0px, 0px)
		&.visa, &.mastercard
			opacity: 1
			transform: translate3d(0px, 0px, 0px)
	.visa, .master-card, .cb
		opacity: 0
		transition: 0.3s all ease
		transform: translate3d(-40px, 0px, 0px)
		&.is-active
			opacity: 1
			transform: translate3d(0px, 0px, 0px)
	.payment-row
		+clr
		margin-bottom: 28px
		position: relative
		&.m-logo
			margin-bottom: 0
			text-align: center
			.logo
				margin-bottom: 10px
				float: none
		&.m-btn
			margin-bottom: 20px
			z-index: 999
		&.m-ssl
			// margin-top: 115px
			// margin-bottom: 80px
			margin-top: 58px
			margin-bottom: 10px
		.fa-info-circle
			padding: 20px
			font-size: 18px
			margin-top: -29px
			right: 0
			z-index: 1111
			cursor: pointer
	.payment-partners
		margin-bottom: 0px
		img
			max-width: 100% 
	.payment-label
		&.m-50
			width: 152px
			float: left
			&:first-child
				margin-right: 20px
	.payment-meta
		font-size: 18px
		line-height: 1
		color: #55606e
		text-align: center
	.select-wrap
		height: 58px
		line-height: 58px
		background: #fff
		border: 1px solid #cddce8
		border-radius: 3px
		font-size: 18px
		color: #2c3e50
		.select-title
			top: 8px
		select
			// width: 478px
			height: 50px
			line-height: 50px
			position: absolute
			top: 8px
			left: 0
			border: 0
	.payment-cansel
		text-decoration: none
		text-align: center
		font-size: 18px
		color: #4a94f9
		transition: 0.2s color linear
		&:hover
			color: #00bf5f
	.btn-success
		.fa
			width: 24px
			height: 24px
			line-height: 1
			margin: 0 auto 
			display: none
		.btn-summ
			height: 24px
			line-height: 24px
		&.is-load
			.btn-summ
				display: none
			.fa
				display: block
				animation: spin 1s infinite linear
	.checkbox
		margin-top: 21px
	.tooltip-payment
		display: none
		max-width: 380px
		min-width: 340px
		box-shadow: 0 0 80px rgba(135, 155, 182, 0.4)
		padding: 15px 15px
		position: absolute
		bottom: -95px
		left: -20px
		z-index: 1888
		text-align: left
		font-size: 14px
		font-weight: 400
		line-height: 18px
		color: #55606e
		background: #fff
	.payment-keyboard
		height: 0
		width: 0
		padding: 20px
		padding: 0
		background: #FFF 
		border: 1px solid #4a94f9
		box-shadow: 0 0 80px rgba(#879bb6, .4)
		border-radius: 3px
		position: absolute
		left: 0
		top: 0
		z-index: 1111
		font-size: 0
		transition: 0.1s all ease
		opacity: 0
		overflow: hidden
		// &.m-checkout
		// 	z-index: 99111
		&.is-active
			width: 150px
			height: 200px
			padding: 20px
			// left: -232px
			left: -202px
			top: -88px
			opacity: 1 
		.payment-keyboard-items
			margin-left: -5px
			margin-top: -11px
		.payment-keyboard-btn
			display: inline-block
			margin-left: 10px
			margin-top: 11px
			width: 40px
			height: 40px
			border: 1px solid #4a94f9
			background: #fff 
			border-radius: 50%
			font-size: 18px
			color: #55606e 
			outline: none
			transition: 0.2s color linear
			&:hover
				color: #4a94f9
			&.reset
				&:before
					content: "\f00d"
					+FontAwesome
			.fa-times
				font-size: 14px
				line-height: 38px
				color: #333 
				transition: 0.2s color linear
.payment-ssl
	color: #bdc1c6
	.payment-ssl-ico
		font-size: 40px
		display: inline-block
		vertical-align: middle
	.payment-ssl-meta
		display: inline-block
		vertical-align: middle
		margin-left: 10px
		font-size: 14px




