.step
	padding-top: 126px
	margin-bottom: 80px
	.step-in
		margin-bottom: 55px
		@extend %wrap
		+clr
	.step-meta
		margin-left: 20px
		margin-bottom: 7px
		color: #bdc1c6
		font-size: 12px
		line-height: 1
	.step-row
		margin-bottom: 30px
		+clr
		position: relative
		&.mb-20
			margin-top: 40px
			margin-bottom: 16px
	.step-label
		width: 232px
		&.m-left
			float: left
		&.m-right
			float: right
		a
			z-index: 777
	.tooltip-error
		&.js-price
			max-width: 280px 
			right: auto
			left: 0
			bottom: auto
			top: 105%
			&.is-active
				display: block
	.step-ava
		width: 60px
		height: 60px
		border-radius: 50%
		font-size: 0
		display: block
		margin: 9px auto 9px
		overflow: hidden
		img
			display: block
			width: auto
			height: auto
			max-width: 60px
			max-height: 60px
	.step-title
		margin-bottom: 50px
		font-size: 36px
		font-weight: 400 
		color: #55606e 
		text-align: center
	.step-left
		width: 840px
		float: left
		// overflow: hidden
	.step-right
		// width: 340px
		width: 280px
		margin-left: 60px
		float: left
	.step-form
		width: 500px
		float: right
	.step-policy
		font-size: 12px
		color: #a7adb5
		text-align: center
		a
		 color: #4a94f9
		 text-decoration: none 

.stepcollected
	.stepcollected-meta
		margin-bottom: 15px
		font-size: 17px
		font-weight: 700
		color: #55606e  
	.stepcollected-user
		margin-bottom: 25px
		font-size: 0
	.stepcollected-ava
		width: 84px
		height: 84px
		overflow: hidden
		border-radius: 50%
		margin-right: 20px
		display: inline-block
		vertical-align: middle
		img
			width: 100%
	.stepcollected-descr
		display: inline-block
		vertical-align: middle
		max-width: 175px // 
		.stepcollected-descr-meta
			display: block
			font-size: 14px
			line-height: 24px
			color: #55606e
			.stepcollected-descr-meta-fio
				max-width: 175px //
				+text-overflow  //
		.stepcollected-descr-link
			font-size: 12px
			color: #4a94f9
			text-decoration: none
	.stepcollected-media
		width: 280px
		height: 180px
		line-height: 180px
		overflow: hidden //
		margin-bottom: 18px
		text-align: center
		img
			// display: block
			display: inline-block
			vertical-align: middle 
			width: auto
			height : auto
			max-height: 100%
			max-width: 100%
	.stepcollected-cont 
		font-size: 14px
		line-height: 24px 
		color: #55606e
	.ranger
		margin-bottom: 20px
		cursor: default
		.ranger-top
			margin-bottom: 2px
		.ranger-price .ranger-price-from
			font-weight: 700 

.step-summ
	padding: 0 20px
	height: 110px
	line-height: 104px
	border: 1px solid #cddce8
	border-radius: 3px
	position: relative
	&.focus
		border-color: #00bf5f
		.fa
			color: #00bf5f 
	&.is-error
		border-color: #e75d66 
		.fa, .step-summ-meta
			color: #e75d66
		.step-summ-ico
			color: #e75d66
	.step-summ-ico, .step-summ-input, .step-summ-meta
		display: inline-block
		vertical-align: middle
		line-height: 1.2
	.step-summ-ico
		margin-top: 5px
		font-size: 36px
		color: #a7adb5 
	.step-summ-input
		width: 200px
		padding: 10px 0px 10px 10px
		border: 0
		font-size: 60px
		font-weight: 700 
		color: #00bf5f
		text-align: right
		outline: none
		&.is-error
			border: 1px solid $red
			border-radius: 3px
	.step-summ-meta
		margin-left: -5px
		font-size: 60px
		font-weight: 700 
		color: #00bf5f

.step-load-wrap
	height: 105px
	+clr
	.step-load-ava
		width: 100px
		min-width: 100px
		height: 105px
		display: table-cell
		vertical-align: top
		border: 1px solid #cddce8
		border-radius: 3px 0 0 3px
		border-right-width: 0
		text-align: center
		position: relative
		cursor: pointer
		.fa-smile-o
			position: absolute
			top: 50%
			left: 50%
			margin-top: -25px
			margin-left: -30px
			font-size: 70px
			color: #dfe9f1
	.step-load-ava-facebook
		padding-top: 10px
		font-size: 14px
		color: #a7adb5
		span, .fa
			display: inline-block
			vertical-align: middle
		.fa
			margin-left: 3px
			font-size: 16px
			color: #a7adb5  
	.step-comment
		width: 100%
		height: 105px
		display: table-cell
		.textarea
			height: 107px
			min-height: 107px 
			textarea
				height: 107px
				min-height: 107px 
				border-radius: 0 3px 3px 0
				border-left: 1px solid #cddce8
				resize: none 
				&:focus
					border-left-color: #4a94f9

.step-list
	@extend %wrap
	+clr
	li
		float: left
		width: 33.33%
		font-size: 0
		text-align: center
	.step-list-ico1, .step-list-ico2, .step-list-ico3
		width: 85px
		display: inline-block
		vertical-align: middle
	.step-list-ico1
		position: relative
		&:before
			content: ""
			+s($s-ok)
			position: absolute
			top: 25px
			left: 29px
			z-index: 111 
	.step-list-ico2
		position: relative
		span
			font-size: 14px
			font-weight: 700
			color: #dfe9f1
			position: absolute
			top: 24px
			left: 28px
			text-align: center
			text-transform: uppercase
	.step-list-ico3
		position: relative
		span
			font-size: 14px
			font-weight: 700
			color: #fff
			position: absolute
			top: 45px
			left: 25px
	.fa-shield
		font-size: 82px
		color: #dfe9f1 
	.fa-circle-o
		font-size: 82px
		color: #dfe9f1 
	.fa-lock
		font-size: 82px
		color: #dfe9f1 
	.step-list-meta
		font-size: 14px
		line-height: 24px 
		color: #a7adb5
		display: inline-block
		vertical-align: middle
		text-align: left
		max-width: 230px // 



	

