// Sprite
@mixin sprite-width($sprite) 
	width: nth($sprite, 5)

@mixin sprite-height($sprite)
	height: nth($sprite, 6)

@mixin sprite-position($sprite)
	$sprite-offset-x: nth($sprite, 3)
	$sprite-offset-y: nth($sprite, 4)
	background-position: $sprite-offset-x  $sprite-offset-y

@mixin sprite-image($sprite)
	$sprite-image: nth($sprite, 9)
	background-image: url("../img/#{$sprite-image}")

@mixin s($sprite)
	@include sprite-image($sprite)
	@include sprite-position($sprite)
	@include sprite-width($sprite)
	@include sprite-height($sprite)

// Breakpoints
@mixin r($width)
	// @media only screen and (max-width: $width+'px')
	@media screen and (max-width: $width)
		@content

// height
@mixin rh($height)
	@media screen and (max-height: $height + "px")
		@content


// @font-face (.eot, .woff, .ttf)
@mixin font($alias, $name)
	@font-face
		font-family: $alias
		src: url("../fonts/" + $name + ".eot")
		src: url("../fonts/" + $name + ".eot?#iefix") format("embedded-opentype"), url("../fonts/" + $name + ".woff") format("woff"), url("../fonts/" + $name + ".ttf") format("truetype")
		font-weight: normal
		font-style: normal

@mixin font-smoothing($value: on)
	@if $value == on
		-webkit-font-smoothing: antialiased
		-moz-osx-font-smoothing: grayscale
	@else
		-webkit-font-smoothing: subpixel-antialiased
		-moz-osx-font-smoothing: auto

@mixin hide-text
	text-indent: -9999px
	overflow: hidden

@mixin text-overflow
	overflow: hidden
	-ms-text-overflow: ellipsis
	text-overflow: ellipsis
	white-space: nowrap

@mixin clr
	&:before,
	&:after
		content: ""
		display: table
	&:after
		clear: both

@mixin cover
	background-repeat: no-repeat
	background-size: cover
	background-position: 50% 50%

@mixin retina
	@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2)
		@content

@mixin placeholder
	&::placeholder
		@content

@mixin justify
	text-align: justify
	font-size: 0
	&:after
		content: ""
		display: inline-block
		width: 100%
		height: 0

@mixin vertical
	text-align: center
	font-size: 0
	&:before
		content: ""
		display: inline-block
		vertical-align: middle
		width: 0
		height: 100%

@mixin g($color1, $color2)
	background-image: linear-gradient(bottom, $color1 0%, $color2 100%)
// @mixin gh($color1, $color2)
// 	+background-image(linear-gradient(left, $color1, $color2))

// Force hardware acceleration in CSS animations
@mixin gpu
	transform: translate3d(0, 0, 0)
// If animation is still flickering,
// you can use a few CSS properties to fix the problem:
// -webkit-backface-visibility: hidden
// -webkit-perspective: 1000

// Triangles
// e.g.: +arrow(500,50, #000, l)
@mixin arrow($width, $height, $bg, $direction)
	width: 0px
	height: 0px
	border-style: solid
	@if $direction == t
		border-width: 0 $width / 2 + px $height + px $width / 2 + px
		border-color: transparent transparent $bg transparent
	@if $direction == r
		border-width: $height / 2 + px 0 $height / 2 + px $width + px
		border-color: transparent transparent transparent $bg
	@if $direction == b
		border-width: $height + px $width / 2 + px 0 $width / 2 + px
		border-color: $bg transparent transparent transparent
	@if $direction == l
		border-width: $height / 2 + px $width + px $height / 2 + px 0
		border-color: transparent $bg transparent transparent
	@if $direction == tl
		border-width: $height + px $width + px 0 0
		border-color: $bg transparent transparent transparent
	@if $direction == tr
		border-width: 0 $width + px $height + px 0
		border-color: transparent $bg transparent transparent
	@if $direction == br
		border-width: 0 0 $height + px $width + px
		border-color: transparent transparent $bg transparent
	@if $direction == bl
		border-width: $width + px 0 0 $height + px
		border-color: transparent transparent transparent $bg
// to make smooth edges
@mixin arrow-smoothting
	transform: rotate(0.05deg)

@mixin gray
	filter: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><filter id='grayscale'><feColorMatrix type='matrix' values='0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0'/></filter></svg>#grayscale")
	// Firefox 10+
	filter: gray
	// IE6-9
	-webkit-filter: grayscale(100%)
	// Chrome 19+ & Safari 6+
	filter: progid:DXImageTransform.Microsoft.BasicImage(grayScale=1)
	-ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(grayScale=1)"
@mixin gray-half
	filter: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><filter id='grayscale'><feColorMatrix type='saturate' values='0.5'/></filter></svg>#grayscale")
	// Firefox 10+
	filter: gray alpha(opacity = 50)
	// IE6-9
	-webkit-filter: grayscale(50%)
	// Chrome 19+ & Safari 6+
@mixin gray-zero
	filter: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><filter id='grayscale'><feColorMatrix type='matrix' values='1 0 0 0 0, 0 1 0 0 0, 0 0 1 0 0, 0 0 0 1 0'/></filter></svg>#grayscale")
	-webkit-filter: grayscale(0%)

=unselectable
	-webkit-touch-callout: none
	-webkit-user-select: none
	-khtml-user-select: none
	-moz-user-select: none
	-ms-user-select: none
	user-select: none

=nosel
	+unselectable

=selection
	& ::selection
		@content
	& ::-moz-selection
		@content