body.landing .landing-slider .landing-slider-i, body.landing .landing-video .landing-video-l, body.landing .landing-benefits, body.landing .landing-partners-i, body.landing footer .footer-in {
  margin-left: auto;
  margin-right: auto;
  padding-left: 10px;
  padding-right: 10px;
}

html.fp-enabled, .fp-enabled body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  /*Avoid flicker on slides transitions for mobile phones #336 */
  -webkit-tap-highlight-color: transparent;
}

header {
  min-width: 960px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 3333;
}

header .header-in {
  margin-left: auto;
  margin-right: auto;
  padding-left: 10px;
  padding-right: 10px;
  position: relative;
}

footer {
  box-shadow: 0 -4px 6px rgba(159, 195, 217, 0.2);
  -webkit-transition: 0.3s padding ease-in-out;
  transition: 0.3s padding ease-in-out;
}

.nav-mobile {
  display: none;
  width: 24px;
  height: 21px;
  position: absolute;
  top: 50%;
  margin-top: -10px;
  right: 10px;
  -webkit-transition: 0.2s -webkit-transform ease;
  transition: 0.2s transform ease;
  cursor: pointer;
  z-index: 1111;
}

.nav-mobile.is-active {
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}

.nav-mobile.is-active i {
  background: #00BF5F;
}

.nav-mobile i {
  margin-top: 4px;
  display: block;
  width: 24px;
  height: 4px;
  background: #55606e;
}

.nav-mobile i:first-child {
  margin-top: 0;
}

.nav-overlay {
  display: none;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 2222;
}

body.landing .landing-slider-i, body.landing .landing-video-l, body.landing .landing-benefits, body.landing .landing-partners-i, body.landing header .header-in, body.landing footer .footer-in {
  width: 960px !important;
}

body.landing footer div.footer-in {
  padding-top: 0;
  padding-bottom: 0;
}

body.landing .landing-nav a {
  font-size: 12px;
}

body.landing.is-fullpage-destroy {
  min-width: 960px;
}

body.landing.is-fullpage-destroy header {
  position: absolute;
}

body.landing.is-fullpage-destroy .landing-slider .landing-slider-i {
  width: 960px;
  margin: 0 auto 0;
}

body.landing.is-fullpage-destroy .landing-video .landing-video-title {
  margin-bottom: 45px;
}

body.landing.is-fullpage-destroy .landing-video .landing-video-l {
  margin: 0 auto 0;
  position: relative;
}

body.landing .create-campain {
  float: right;
  text-decoration: none;
  padding: 7px 19px 8px;
  margin-top: 15px;
  margin-bottom: 15px;
  font-size: 14px;
  font-weight: 700;
  text-decoration: none;
  border-radius: 34px;
  position: relative;
  z-index: -1;
  opacity: 0;
  -webkit-transition: 0.2s background linear, 0.2s color linear, 0.2s opacity linear, 0.2s -webkit-transform linear;
  transition: 0.2s background linear, 0.2s color linear, 0.2s opacity linear, 0.2s transform linear;
}

body.landing .create-campain:active {
  -webkit-transform: scale(0.95);
  -ms-transform: scale(0.95);
  transform: scale(0.95);
}

body.landing .section {
  position: relative;
}

body.landing .fp-section.fp-table, body.landing .fp-slide.fp-table {
  display: table;
  table-layout: fixed;
  width: 100%;
}

body.landing .fp-tableCell {
  display: table-cell;
  vertical-align: middle;
  width: 100%;
  height: 100%;
}

body.landing .landing-slider .landing-slider-i {
  position: relative;
  z-index: 999;
}

body.landing .landing-slider .landing-slider-text {
  width: 715px;
  margin-bottom: 45px;
}

body.landing .landing-slider .landing-slider-text .landing-slider-title {
  display: inline-block;
  margin-bottom: 30px;
  font-size: 30px;
  line-height: 41px;
  font-weight: 700;
  position: relative;
}

body.landing .landing-slider .landing-slider-text .landing-slider-title.black:before {
  content: "";
  background: url("../../img/png/blanding_title_line1_black.png") 0 0 no-repeat;
  width: 16px;
  height: 14px;
  background-size: 16px 14px;
}

body.landing .landing-slider .landing-slider-text .landing-slider-title.black:after {
  content: "";
  background: url("../../img/png/blanding_title_line2_black.png") 0 0 no-repeat;
  width: 12px;
  height: 32px;
  background-size: 12px 32px;
  left: 50px;
  top: -70px;
}

body.landing .landing-slider .landing-slider-text .landing-slider-title.black .landing-slider-title-line1 {
  background: url("../../img/png/blanding_title_line3_black.png") 0 0 no-repeat;
  width: 7px;
  height: 33px;
  background-size: 7px 33px;
  left: 180px;
}

body.landing .landing-slider .landing-slider-text .landing-slider-title.black .landing-slider-title-line1:before {
  content: "";
  background: url("../../img/png/blanding_title_line4_black.png") 0 0 no-repeat;
  width: 13px;
  height: 17px;
  background-size: 13px 17px;
  left: 100px;
  top: 30px;
}

body.landing .landing-slider .landing-slider-text .landing-slider-title.black .landing-slider-title-line1:after {
  content: "";
  background: url("../../img/png/blanding_title_line5_black.png") 0 0 no-repeat;
  width: 23px;
  height: 12px;
  background-size: 23px 12px;
  top: 61px;
  left: 190px;
}

body.landing .landing-slider .landing-slider-text .landing-slider-title:before {
  content: "";
  background: url("../../img/png/blanding_title_line1.png") 0 0 no-repeat;
  width: 16px;
  height: 14px;
  background-size: 16px 14px;
  position: absolute;
  left: -39px;
  top: 50%;
  margin-top: -8px;
}

body.landing .landing-slider .landing-slider-text .landing-slider-title:after {
  content: "";
  background: url("../../img/png/blanding_title_line2.png") 0 0 no-repeat;
  width: 12px;
  height: 17px;
  background-size: 12px 17px;
  position: absolute;
  left: 0;
  top: -32px;
}

body.landing .landing-slider .landing-slider-text .landing-slider-title .landing-slider-title-line1 {
  background: url("../../img/png/blanding_title_line3.png") 0 0 no-repeat;
  width: 12px;
  height: 32px;
  background-size: 12px 32px;
  position: absolute;
  left: 70px;
  top: -62px;
}

body.landing .landing-slider .landing-slider-text .landing-slider-title .landing-slider-title-line1:before {
  content: "";
  background: url("../../img/png/blanding_title_line4.png") 0 0 no-repeat;
  width: 7px;
  height: 33px;
  background-size: 7px 33px;
  position: absolute;
  left: 110px;
  top: -20px;
}

body.landing .landing-slider .landing-slider-text .landing-slider-title .landing-slider-title-line1:after {
  content: "";
  background: url("../../img/png/blanding_title_line5.png") 0 0 no-repeat;
  width: 13px;
  height: 17px;
  background-size: 13px 17px;
  position: absolute;
  left: 210px;
  top: 20px;
}

body.landing .landing-slider .landing-slider-text .landing-slider-title .landing-slider-title-line2 {
  background: url("../../img/png/blanding_title_line6.png") 0 0 no-repeat;
  width: 23px;
  height: 12px;
  background-size: 23px 12px;
  position: absolute;
  right: -60px;
  top: 10px;
}

body.landing .landing-slider .landing-slider-text p {
  font-size: 14px;
  line-height: 19px;
}

body.landing .landing-slider .landing-slider-row {
  width: 940px;
  margin: 0 auto;
  text-align: center;
  font-size: 0;
  position: relative;
}

body.landing .landing-slider .landing-slider-list {
  display: inline-block;
  vertical-align: middle;
  font-size: 18px;
  line-height: 14px;
  font-weight: 700;
}

body.landing .landing-slider .landing-slider-list li {
  margin-right: 30px;
  display: inline-block;
  vertical-align: middle;
}

body.landing .landing-slider .landing-slider-list a {
  text-decoration: underline;
}

body.landing .landing-slider .landing-slider-list a:hover {
  text-decoration: none;
}

body.landing .landing-slider .landing-slider-btn {
  padding: 18px 25px 17px;
  display: inline-block;
  vertical-align: middle;
  border-radius: 34px;
  font-size: 18px;
  line-height: 17px;
  font-weight: 700;
  text-decoration: none;
  -webkit-transition: 0.2s background linear, 0.2s color linear, 0.2s -webkit-transform linear;
  transition: 0.2s background linear, 0.2s color linear, 0.2s transform linear;
}

body.landing .landing-slider .landing-slider-btn:active {
  -webkit-transform: scale(0.95);
  -ms-transform: scale(0.95);
  transform: scale(0.95);
}

body.landing .landing-slider .landing-slider-ico {
  position: absolute;
  top: 10px;
  right: 160px;
  opacity: 0;
  -webkit-transition: 0.5s opacity linear;
  transition: 0.5s opacity linear;
}

body.landing .landing-slider .landing-slider-ico.is-animate {
  opacity: 1;
}

body.landing .landing-slider .landing-slider-ico.right-en-white {
  background: url("../../img/png/landing_slider_right_en_white.png");
  width: 138px;
  height: 105px;
  background-size: 138px 105px;
}

body.landing .landing-slider .landing-slider-ico.right-en-black {
  background: url("../../img/png/landing_slider_right_en_black.png");
  width: 138px;
  height: 105px;
  background-size: 138px 105px;
}

body.landing .landing-slider .landing-slider-ico.right-pl-white {
  background: url("../../img/png/landing_slider_right_pl_white.png");
  width: 146px;
  height: 66px;
  background-size: 146px 66px;
}

body.landing .landing-slider .landing-slider-ico.right-pl-black {
  background: url("../../img/png/landing_slider_right_pl_black.png");
  width: 146px;
  height: 66px;
  background-size: 146px 66px;
}

body.landing .landing-slider .landing-slider-ico.bottom-en-white {
  background: url("../../img/png/landing_slider_right_en_white.png");
  width: 164px;
  height: 108px;
  background-size: 164px 108px;
}

body.landing .landing-slider .landing-slider-ico.bottom-en-black {
  background: url("../../img/png/landing_slider_right_en_black.png");
  width: 164px;
  height: 108px;
  background-size: 164px 108px;
}

body.landing .landing-slider .landing-slider-ico.bottom-pl-white {
  background: url("../../img/png/landing_slider_bottom_pl_white.png");
  width: 205px;
  height: 77px;
  background-size: 205px 77px;
  position: absolute;
  top: auto;
  bottom: -100px;
  right: 400px;
}

body.landing .landing-slider .landing-slider-ico.bottom-pl-black {
  background: url("../../img/png/landing_slider_bottom_pl_black.png");
  width: 176px;
  height: 73px;
  background-size: 176px 73px;
  position: absolute;
  top: auto;
  bottom: -100px;
  right: 530px;
}

body.landing .landing-slider .landing-slider-ico.left-pl-white {
  background: url("../../img/png/landing_slider_left_pl_white.png");
  width: 176px;
  height: 99px;
  background-size: 176px 99px;
  position: absolute;
  top: auto;
  right: auto;
  bottom: -75px;
  left: 140px;
}

body.landing .landing-slider .landing-slider-ico.left-pl-black {
  background: url("../../img/png/landing_slider_left_pl_black.png");
  width: 176px;
  height: 99px;
  background-size: 176px 99px;
  position: absolute;
  top: auto;
  right: auto;
  bottom: -75px;
  left: 140px;
}

body.landing .landing-slider .landing-slider-ico.left-ru-white {
  background: url("../../img/png/landing_slider_left_ru_white.png");
  width: 175px;
  height: 99px;
  background-size: 175px 99px;
  position: absolute;
  top: auto;
  right: auto;
  bottom: -75px;
  left: 140px;
}

body.landing .landing-slider .landing-slider-ico.left-ru-black {
  background: url("../../img/png/landing_slider_left_ru_black.png");
  width: 175px;
  height: 99px;
  background-size: 175px 99px;
  position: absolute;
  top: auto;
  right: auto;
  bottom: -75px;
  left: 140px;
}

body.landing .landing-slider .landing-slider-ico.left-en-white {
  background: url("../../img/png/landing_slider_left_en_white.png");
  width: 185px;
  height: 81px;
  background-size: 185px 81px;
  position: absolute;
  top: auto;
  right: auto;
  bottom: -75px;
  left: 235px;
}

body.landing .landing-slider .landing-slider-ico.left-en-black {
  background: url("../../img/png/landing_slider_left_en_black.png");
  width: 185px;
  height: 81px;
  background-size: 185px 81px;
  position: absolute;
  top: auto;
  right: auto;
  bottom: -75px;
  left: 235px;
}

body.landing .landing-next-slide {
  width: 61px;
  height: 63px;
  background-image: url("../../img/png/scrl.png");
  position: absolute;
  bottom: 50px;
  left: 50%;
  margin-left: -30px;
  cursor: pointer;
  -webkit-transition: 0.2s opacity linear;
  transition: 0.2s opacity linear;
}

body.landing .landing-next-slide:hover {
  opacity: 0.6;
}

body.landing .landing-next-slide.m-black {
  background-image: url("../../img/png/scrl_black.png");
  width: 61px;
  height: 64px;
  background-size: 61px 64px;
}

body.landing .landing-video {
  margin-bottom: 70px;
  position: relative;
}

body.landing .landing-video .landing-video-l {
  font-size: 0;
  text-align: right;
}

body.landing .landing-video .landing-video-l:before, body.landing .landing-video .landing-video-l:after {
  content: "";
  display: table;
}

body.landing .landing-video .landing-video-l:after {
  clear: both;
}

body.landing .landing-video .landing-video-col1 {
  width: 450px;
  margin-right: 25px;
  display: inline-block;
  vertical-align: middle;
  text-align: left;
}

body.landing .landing-video .landing-video-col2 {
  width: 485px;
  display: inline-block;
  vertical-align: middle;
  text-align: right;
  position: relative;
}

body.landing .landing-video .landing-video-col2 img {
  max-width: 100%;
  max-height: 100%;
}

body.landing .landing-video .landing-video-col2 .video-js {
  width: 100%;
  z-index: 9;
}

body.landing .landing-video .landing-video-col2 .vjs-poster {
  background-color: #fff;
}

body.landing .landing-video .landing-video-ico {
  position: absolute;
  top: -85px;
  right: 200px;
}

body.landing .landing-video .landing-video-ico.pl-black {
  background: url("../../img/png/landing_video_ico_pl_black.png");
  width: 205px;
  height: 70px;
  background-size: 205px 70px;
}

body.landing .landing-video .landing-video-ico.pl-white {
  background: url("../../img/png/landing_video_ico_pl_white.png");
  width: 205px;
  height: 70px;
  background-size: 205px 70px;
}

body.landing .landing-video .landing-video-ico.en-black {
  background: url("../../img/png/landing_video_ico_en_black.png");
  width: 167px;
  height: 69px;
  background-size: 167px 69px;
}

body.landing .landing-video .landing-video-ico.en-white {
  background: url("../../img/png/landing_video_ico_en_white.png");
  width: 167px;
  height: 69px;
  background-size: 167px 69px;
}

body.landing .landing-video .landing-video-descr {
  font-size: 14px;
  line-height: 19px;
  font-weight: 300;
  position: relative;
  z-index: 9;
}

body.landing .landing-video .landing-video-title {
  font-size: 30px;
  line-height: 1.2;
  font-weight: 700;
  position: relative;
  z-index: 9;
  text-align: left;
}

body.landing .landing-video .landing-video-title:before {
  content: "";
  width: 182px;
  height: 2px;
  position: absolute;
  bottom: -20px;
  left: 0;
}

body.landing .landing-benefits {
  margin-bottom: 70px;
}

body.landing .landing-benefits ul {
  width: 940px;
  margin: 0 auto;
}

body.landing .landing-benefits ul:before, body.landing .landing-benefits ul:after {
  content: "";
  display: table;
}

body.landing .landing-benefits ul:after {
  clear: both;
}

body.landing .landing-benefits li {
  width: 235px;
  float: left;
}

body.landing .landing-benefits .landing-benefits-ico {
  height: 76px;
  line-height: 72px;
  position: relative;
}

body.landing .landing-benefits .landing-benefits-ico.m-ico2 {
  line-height: 76px;
}

body.landing .landing-benefits .landing-benefits-ico.m-ico4 {
  line-height: 70px;
}

body.landing .landing-benefits .landing-benefits-ico svg {
  display: inline-block;
  vertical-align: middle;
}

body.landing .landing-benefits .landing-benefits-meta {
  width: 940px;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  position: relative;
}

body.landing .landing-benefits .landing-benefits-meta:before {
  content: "";
  width: 119px;
  height: 2px;
  position: absolute;
  bottom: -20px;
  left: 0;
}

body.landing .landing-benefits .landing-benefits-title {
  margin-bottom: 14px;
  font-size: 14px;
  font-weight: 700;
  color: #4A4A4A;
}

body.landing .landing-benefits .landing-benefits-content {
  padding: 0 15px 0 0;
  font-size: 14px;
  line-height: 19px;
  font-weight: 400;
  color: #4A4A4A;
}

body.landing .landing-partners {
  margin: -80px 0 0;
}

body.landing .landing-partners .landing-partners-item img {
  -webkit-transform: scale(0.4);
  -ms-transform: scale(0.4);
  transform: scale(0.4);
  -webkit-transition: 0.4s -webkit-transform linear, 0.3s opacity linear;
  transition: 0.4s transform linear, 0.3s opacity linear;
}

body.landing .landing-partners .slick-active + .slick-active img {
  opacity: 1;
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}

body.landing .landing-partners .slick-active img, body.landing .landing-partners .slick-active + .slick-active + .slick-active img {
  opacity: 0.49;
  -webkit-transform: scale(0.4);
  -ms-transform: scale(0.4);
  transform: scale(0.4);
}

body.landing .landing-partners .slick-active .landing-partners-item-descr, body.landing .landing-partners .slick-active + .slick-active + .slick-active .landing-partners-item-descr {
  opacity: 0;
  -webkit-transition: 0s opacity linear;
  transition: 0s opacity linear;
}

body.landing .landing-partners .slick-active + .slick-active .landing-partners-item-descr {
  opacity: 1;
  -webkit-transition: 0.5s opacity linear;
  transition: 0.5s opacity linear;
}

body.landing .landing-partners-i {
  position: relative;
}

body.landing .landing-partners-i .js-partners-prev, body.landing .landing-partners-i .js-partners-next {
  font-size: 30px;
  position: absolute;
  bottom: 20px;
  cursor: pointer;
  outline: none;
  border: 0;
  color: #4A4A4A;
}

body.landing .landing-partners-i .js-partners-prev {
  left: -40px;
}

body.landing .landing-partners-i .js-partners-next {
  right: -40px;
}

body.landing .landing-partners-items {
  width: 650px;
  margin: 0 auto;
  position: relative;
}

body.landing .landing-partners-items:before, body.landing .landing-partners-items:after {
  content: "";
  display: table;
}

body.landing .landing-partners-items:after {
  clear: both;
}

body.landing .landing-partners-items:before, body.landing .landing-partners-items:after {
  content: "";
  position: absolute;
  left: 50%;
  margin-left: -10px;
}

body.landing .landing-partners-items:before {
  top: -30px;
  background: url("../../img/png/bracket_2.png");
  width: 19px;
  height: 15px;
  background-size: 19px 15px;
}

body.landing .landing-partners-items:after {
  bottom: -30px;
  background: url("../../img/png/bracket_1.png");
  width: 19px;
  height: 15px;
  background-size: 19px 15px;
}

body.landing .landing-partners-item {
  margin: 0 0px;
  float: none;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  position: relative;
  -webkit-transition: 0.3s -webkit-transform linear;
  transition: 0.3s transform linear;
}

body.landing .landing-partners-item img {
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 100%;
}

body.landing .landing-partners-item a {
  display: inline-block;
  text-decoration: none;
}

body.landing .landing-partners-item-descr {
  min-height: 112px;
  opacity: 0;
  margin: 0 -160px 35px;
  font-family: TimesNewRoman, 'Times New Roman', Times, Baskerville, Georgia, serif;
  font-style: italic;
  font-weight: 400;
  font-size: 24px;
  line-height: 1.2;
  color: #4A4A4A;
  letter-spacing: 1px;
}

body.landing .landing-review {
  width: 100%;
  overflow: hidden;
  z-index: 1001;
}

body.landing .landing-review .vjs-control-bar {
  display: none !important;
}

body.landing .landing-review .vjs-poster {
  display: none;
}

body.landing .landing-review .video-js .vjs-tech {
  width: auto;
  min-width: 100%;
  height: auto;
  min-height: 100%;
}

body.landing .landing-review #really-cool-video2 {
  position: absolute;
  top: 0;
  left: -15%;
  width: 130% !important;
  height: 100% !important;
  -webkit-transform: translate3d(0px, 0px, 0);
  transform: translate3d(0px, 0px, 0);
  z-index: -1;
}

body.landing .landing-review #really-cool-video2:before {
  content: "";
  width: 100%;
  height: 100%;
  background: url("../../img/bg/blanding_pattern.png") 0 0 repeat;
  opacity: 0.3;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  -webkit-transform: translate3d(0px, 0px, 0);
  transform: translate3d(0px, 0px, 0);
}

body.landing .landing-review #really-cool-video2:after {
  content: "";
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.38);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  -webkit-transform: translate3d(0px, 0px, 0);
  transform: translate3d(0px, 0px, 0);
}

body.landing .landing-review .landing-review-i {
  width: 960px;
  height: 100%;
  margin: 0 auto;
  position: relative;
  z-index: 999;
}

body.landing .landing-review .js-review-prev, body.landing .landing-review .js-review-next {
  font-size: 48px;
  position: absolute;
  top: 75px;
  cursor: pointer;
  outline: none;
  border: 0;
}

body.landing .landing-review .js-review-prev {
  left: -38px;
}

body.landing .landing-review .js-review-next {
  right: 0px;
}

body.landing .landing-review .landing-review-items {
  width: 450px;
  height: 250px;
  position: absolute;
  top: 50%;
  margin-top: -55px;
  right: 0px;
  color: #fff;
  z-index: 999;
}

body.landing .landing-review .landing-review-title {
  margin-bottom: 45px;
  font-size: 30px;
  font-weight: 700;
  position: relative;
}

body.landing .landing-review .landing-review-title:before {
  content: "";
  width: 182px;
  height: 2px;
  position: absolute;
  bottom: -20px;
  left: 0;
}

body.landing .landing-review .landing-review-text {
  font-size: 14px;
  line-height: 1.4;
}

body.landing .landing-review .slick-dots {
  width: 420px;
  margin-top: 25px;
  text-align: center;
  position: static;
}

body.landing .landing-review .slick-dots li {
  vertical-align: middle;
}

body.landing .landing-review .slick-dots li.slick-active button {
  height: 13px;
  width: 13px;
  border-color: #fff;
}

body.landing .landing-review .slick-dots li button {
  width: 8px;
  height: 8px;
  border-radius: 0;
  background: #fff;
  border: 1px solid #979797;
  opacity: 0.67;
}

body.landing .landing-review .slick-list {
  width: 420px;
}

body.landing footer {
  padding-top: 13px;
  padding-bottom: 15px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

body.landing footer .footer-in {
  width: 960px;
}

body.landing footer .footer-l:before, body.landing footer .footer-l:after {
  content: "";
  display: table;
}

body.landing footer .footer-l:after {
  clear: both;
}

body.landing footer .footer-col1 {
  width: 220px;
  float: left;
}

body.landing footer .footer-col2 {
  width: 235px;
  float: left;
}

body.landing footer .footer-col3 {
  width: 230px;
  float: right;
}

body.landing footer .footer-col4 {
  width: 230px;
  float: right;
}

body.landing footer .gray-logo {
  width: 295px;
  height: 80px;
  background-size: 295px 80px;
  display: inline-block;
  vertical-align: top;
}

body.landing footer .footer-blanding-nav li {
  height: 19px;
  line-height: 1;
}

body.landing footer .footer-blanding-nav li a {
  display: inline-block;
  vertical-align: top;
  font-size: 12px;
  line-height: 17px;
  color: #fff;
  text-decoration: none;
}

body.landing footer .footer-blanding-nav li a:hover span {
  text-decoration: underline;
}

body.landing footer .footer-blanding-nav li span, body.landing footer .footer-blanding-nav li i {
  display: inline-block;
  vertical-align: middle;
}

body.landing footer .footer-blanding-nav li i {
  font-size: 15px;
  width: 20px;
}

body.landing footer .footer-blanding-nav li .fa-desktop, body.landing footer .footer-blanding-nav li .fa-mobile {
  margin-right: 3px;
  font-weight: 400;
}

body.landing footer .footer-blanding-nav li .fa-mobile {
  font-size: 20px;
}

.video-js, .vjs-tech, .vjs-tech *, .vjs-tech sourse {
  outline: none;
}

.vjs-big-play-button {
  display: none !important;
}

.video-js {
  background-color: #fff !important;
}

@media only screen and (min-width: 1500px) {
  .landing-review {
    overflow: hidden;
  }

  .landing-review .video-js .vjs-tech {
    width: 100%;
    height: auto;
  }
}

body.landing.m-mobile header {
  position: fixed;
}

body.landing.m-mobile header.m-mobile-scroll .create-campain {
  opacity: 1;
  z-index: 1;
}

body.landing.m-mobile header .header-in {
  height: 60px;
  padding-left: 20px;
  padding-right: 20px;
  box-sizing: border-box;
}

body.landing.m-mobile header .header-in .logo-white {
  width: 100px;
}

body.landing.m-mobile header .create-campain {
  margin-right: 40px;
  margin-top: 9px;
  margin-bottom: 0;
  font-size: 14px;
}

body.landing.m-mobile .landing-nav {
  display: none;
  padding: 10px 0;
  background: rgba(255, 255, 255, 0.8);
  position: absolute;
  top: 60px;
  left: 0;
  right: 0;
}

body.landing.m-mobile .landing-nav li {
  margin-left: 0;
  line-height: 1;
  font-size: 0;
}

body.landing.m-mobile .landing-nav a {
  display: inline-block;
  padding: 8px 10px;
  font-size: 11px;
  line-height: 14px;
  text-transform: uppercase;
}

body.landing.m-mobile .nav-mobile {
  display: block;
}

body.landing.m-mobile .nav-mobile.is-active i {
  background: #00BF5F;
}

body.landing.m-mobile .nav-mobile i {
  border-radius: 0;
}

body.landing.m-mobile footer .footer-col3 {
  float: left;
}

body.landing.m-mobile footer .footer-col4 {
  float: left;
}

body.landing.m-mobile .nav-overlay {
  background: none;
}

body.landing.m-mobile .landing-review {
  height: 400px;
  overflow: visible;
}

body.landing.m-mobile .landing-review .landing-review-i {
  z-index: auto;
}

body.landing.m-mobile .landing-review .landing-review-i:before, body.landing.m-mobile .landing-review .landing-review-i:after {
  content: "";
  display: table;
}

body.landing.m-mobile .landing-review .landing-review-i:after {
  clear: both;
}

body.landing.m-mobile .landing-review .landing-review-wrap {
  width: 340px;
  margin-right: 10px;
  height: 400px;
  float: right;
  position: relative;
}

body.landing.m-mobile .landing-review .landing-review-wrap .slick-dots li {
  z-index: 1111;
}

body.landing.m-mobile .landing-review .slick-list {
  width: 100%;
}

body.landing.m-mobile .landing-review .js-review-prev {
  top: 50%;
  margin-top: -15px;
  left: 0;
  right: auto;
  font-size: 30px;
  color: #fff;
  z-index: 9999;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

body.landing.m-mobile .landing-review .js-review-next {
  top: 50%;
  margin-top: -15px;
  right: 0;
  font-size: 30px;
  color: #fff;
  z-index: 9999;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

body.landing.m-mobile .landing-review .slick-dots {
  width: 280px;
  position: absolute;
  bottom: 75px;
  right: 40px;
  left: auto;
  margin-top: 0;
}

body.landing.m-mobile .landing-review .landing-review-items {
  width: 100%;
  height: 400px;
  top: 0;
  margin-top: 0;
}

body.landing.m-mobile .landing-review .landing-review-item {
  width: 100%;
  height: 400px;
}

body.landing.m-mobile .landing-review .landing-review-item-bg {
  width: 100%;
  height: 400px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 100;
}

body.landing.m-mobile .landing-review .landing-review-content {
  width: 960px;
  margin: 110px auto 0;
  display: block;
  position: relative;
  z-index: 999;
}

body.landing.m-mobile .landing-review .landing-review-content-i {
  width: 280px;
  float: right;
  margin-right: 40px;
}

body.landing.m-mobile .landing-review .landing-review-title {
  margin-bottom: 15px;
  font-size: 20px;
}

body.landing.m-mobile .landing-review .landing-review-title:before {
  width: 60px;
  bottom: -8px;
}

body.landing.m-mobile .landing-review .landing-review-text {
  font-size: 13px;
  line-height: 18px;
}

body.landing.m-mobile .landing-review-item:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: -webkit-linear-gradient(left, transparent 0%, rgba(0, 0, 0, 0.55) 100%);
  background-image: linear-gradient(left, transparent 0%, rgba(0, 0, 0, 0.55) 100%);
  z-index: 110;
}

@media only screen and (min-width: 1200px) {
  body.landing.m-mobile header .header-in {
    padding-left: 0;
    padding-right: 0;
    box-sizing: border-box;
  }
}

@media only screen and (max-width: 1200px) {
  body.landing .landing-slider .landing-slider-i, body.landing .landing-video .landing-video-l, body.landing .landing-benefits, body.landing .landing-partners-i, body.landing footer .footer-in, header .header-in {
    box-sizing: border-box;
  }

  body.landing .landing-video .landing-video-col1 {
    width: 430px;
  }
}

@media only screen and (max-width: 960px) {
  body.landing.m-mobile {
    min-width: 100%;
  }

  body.landing.m-mobile .landing-slider-i, body.landing.m-mobile .landing-video-l, body.landing.m-mobile .landing-benefits, body.landing.m-mobile .landing-partners-i, body.landing.m-mobile header .header-in, body.landing.m-mobile footer .footer-in {
    width: 100% !important;
  }

  body.landing.m-mobile header {
    min-width: 100%;
  }

  body.landing.m-mobile .create-campain {
    margin-top: 10px;
  }

  body.landing.m-mobile .landing-review .landing-review-i {
    width: 100%;
  }

  body.landing.m-mobile .landing-review .landing-review-content-i {
    margin-right: 40px;
  }

  body.landing.m-mobile .landing-review .landing-review-content {
    width: 100%;
  }

  body.landing.m-mobile #section4 footer .footer-l {
    width: 580px;
    margin: 0 auto;
  }

  body.landing.m-mobile #section4 footer .footer-col1 {
    width: 130px;
    margin-right: 50px;
  }

  body.landing.m-mobile #section4 footer .footer-col1 svg {
    width: 100%;
  }

  body.landing.m-mobile #section4 footer .footer-col2 {
    width: 150px;
  }

  body.landing.m-mobile #section4 footer .footer-col3 {
    width: 150px;
  }

  body.landing.m-mobile #section4 footer .footer-col4 {
    width: 100px;
    float: left;
  }
}

@media only screen and (max-width: 480px) {
  body.landing.m-mobile header .header-in {
    padding-left: 20px;
    padding-right: 20px;
  }

  body.landing.m-mobile header .nav-mobile {
    right: 20px;
  }

  body.landing.m-mobile header .create-campain {
    font-size: 11px;
    margin-top: 13px;
    margin-right: 35px;
    padding: 4px 15px 6px;
  }
}

@media only screen and (max-width: 320px) {
  body.landing.m-mobile header .header-in {
    padding-left: 10px;
    padding-right: 10px;
  }

  body.landing.m-mobile header .nav-mobile {
    right: 10px;
  }
}
