@import "../lib/mixins";
@import "../lib/sprite";

body#landing-birthday
	&.is-fullpage-destroy
		#section0
			min-height: 550px
			line-height: 550px
			text-align: center
			.landing-slider-i
				margin-top: 0
				line-height: 1
				display: inline-block
				vertical-align: middle
				text-align: left
		#section1
			margin-bottom: 0
			min-height: 500px
			line-height: 500px
			text-align: center
			.landing-video-l
				line-height: 1
				display: inline-block
				vertical-align: middle
				text-align: left
			.landing-video-ico1,
			.landing-video-ico2,
			.landing-video-ico3,
			.landing-video-ico4,
			.landing-video-ico5,
			.landing-video-ico6
				display: none
		#section2
			margin-bottom: 0
			min-height: 450px
			.landing-benefits-ico1,
			.landing-benefits-ico2,
			.landing-benefits-ico3,
			.landing-benefits-ico4,
			.landing-benefits-ico5
				display: none
		#section3
			margin-bottom: 0
			min-height: 650px
			line-height: 650px
			// overflow: hidden
			.video-js
				line-height: 1
				display: inline-block
				vertical-align: middle
				.vjs-tech
					display: none //
			.vjs-poster
				background-size: cover
				background-position: 50% 0%
				width: 100%
				display: block
			.landing-review-i
				line-height: 1
				display: inline-block
				vertical-align: middle
				.landing-review-items
					right: 10px
		#section4
			min-height: 400px
			line-height: 400px
			text-align: center
			.landing-partners
				margin: 0px 0 0
				line-height: 1
				display: inline-block
				vertical-align: middle
			.landing-partners-ico1,
			.landing-partners-ico2,
			.landing-partners-ico3,
			.landing-partners-ico4,
			.landing-partners-ico5
				display: none
			footer
				position: relative
				z-index: 10
				line-height: 1
				text-align: left
	header
		background: transparent
		box-shadow: none
		transition: 0.2s background linear
		padding-top: 0
		padding-bottom: 0
		&.is-animate
			background: rgba(#fff, .84)
			box-shadow: 0px 9px 6px rgba(159, 195, 217, 0.2)
			svg
				path
					fill: #00bf5f
				path.wishround-font
					fill: #333
			.create-campain
				opacity: 1
				z-index: 10
			.landing-nav
				li
					&.active
						a
							color: #ff3a3a 
				a
					color: #505050
		.header-in
			+clr
			padding-bottom: 5px
			padding-top: 5px
		.logo-white
			float: left
			display: block
			text-decoration: none
		.landing-home
			float: left
			margin-top: 7px
			height: 38px
		svg
			path
				transition: 0.2s fill linear
	.landing-nav
		text-align: center
		margin: 13px 30px 10px
		overflow: hidden
		+clr
		li
			display: inline-block
			vertical-align: middle
			margin-left: 30px
			&.active
				a
					color: #ff3a3a 
		a
			display: block
			font-size: 12px
			color: #fff
			font-weight: 700 
			text-decoration: none
			transition: 0.2s color linear
	.create-campain
		background: #ff3a3a
		color: #fff
		box-shadow: inset 0 -3px 0 #de2323
		&:hover
			background: #de2323
			color: #fff
	.landing-slider
		width: 100%
		height: 100%
		background-repeat: no-repeat
		background-size: cover
		background-position: top right
		position: relative
		z-index: 9
		.landing-slider-i
			margin-top: -70px
		.landing-slider-text
			color: #fff
		.landing-slider-row
			.landing-slider-list
				a, span
					color: #fff
			.landing-slider-btn
				background: #ff3a3a
				box-shadow: inset 0 -3px 0 #de2323
				color: #fff
				&:hover
					background: #de2323
	.landing-video
		.landing-video-descr
			color: #3D3C40
			font-size: 16px
			line-height: 22px
			letter-spacing: 1.35px
			p
				margin-top: 13px
				&:first-child
					margin-top: 0
		.landing-video-title
			margin-bottom: 85px
			color: #3D3C40
			&:before
				background: #FF3A47
		.landing-video-ico1
			background: url("../../img/png/blanding_anim_ico1.png")
			width: 183px
			height: 169px
			background-size: 183px 169px
			position: absolute
			top: -20px
			left: -30px
		.landing-video-ico2
			background: url("../../img/png/blanding_anim_ico2.png")
			width: 70px
			height: 66px
			background-size: 70px 66px
			position: absolute
			top: 38px
			left: 45%
		.landing-video-ico3
			background: url("../../img/png/blanding_anim_ico3.png")
			width: 252px
			height: 276px
			background-size: 252px 276px
			position: absolute
			top: 0px
			right: -10px
		.landing-video-ico4
			background: url("../../img/png/blanding_anim_ico4.png")
			width: 47px
			height: 45px
			background-size: 47px 45px
			position: absolute
			top: 135px
			left: 65%
		.landing-video-ico5
			background: url("../../img/png/blanding_anim_ico5.png")
			width: 208px
			height: 294px
			background-size: 208px 294px
			position: absolute
			bottom: -150px
			left: 0px
		.landing-video-ico6
			background: url("../../img/png/blanding_anim_ico6.png")
			width: 47px
			height: 45px
			background-size: 47px 45px
			position: absolute
			bottom: -20px
			left: 35%
	.landing-benefits
		.landing-benefits-meta
			margin: 0 auto 75px
			color: #3D3C40
			&:before
				background: #FF3A47
		li
			&:first-child
				.landing-benefits-ico
					&:before
						content: none
		.landing-benefits-content,
		.landing-benefits-title
			text-align: center
		.landing-benefits-ico
			width: 76px
			border: 3px solid #979797
			border-radius: 50%
			margin: 0 auto 30px
			text-align: center
			&:before
				content: ""
				width: 158px
				height: 3px
				background: #979797
				position: absolute
				top: 50%
				margin-top: -1px
				right: 100%
		.landing-benefits-ico1
			background-image: url("../../img/png/birthday-landing-benefits-ico1.png")
			width: 108px
			height: 105px
			background-size: 108px 105px
			position: absolute
			top: 40px
			left: 60%
		.landing-benefits-ico2
			background-image: url("../../img/png/birthday-landing-benefits-ico2.png")
			width: 121px
			height: 122px
			background-size: 121px 122px
			position: absolute
			top: 125px
			right: 20px
		.landing-benefits-ico3
			background-image: url("../../img/png/birthday-landing-benefits-ico3.png")
			width: 104px
			height: 96px
			background-size: 104px 96px
			position: absolute
			bottom: -30px
			left: 100px
		.landing-benefits-ico4
			background-image: url("../../img/png/birthday-landing-benefits-ico4.png")
			width: 47px
			height: 45px
			background-size: 47px 45px
			position: absolute
			bottom: 80px
			left: 47%
		.landing-benefits-ico5
			background-image: url("../../img/png/birthday-landing-benefits-ico5.png")
			width: 211px
			height: 244px
			background-size: 211px 244px
			position: absolute
			bottom: -120px
			right: 15px
	.landing-review
		.landing-review-title
			&:before
				background: #FF3A47
	.landing-partners-ico1
		background-image: url("../../img/png/landing-partners-ico1.png")
		width: 131px
		height: 169px
		background-size: 131px 169px
		position: absolute
		top: 35px
		left: 0
	.landing-partners-ico2
		background-image: url("../../img/png/landing-partners-ico2.png")
		width: 72px
		height: 71px
		background-size: 72px 71px
		position: absolute
		top: 45px
		left: 40%
	.landing-partners-ico3
		background-image: url("../../img/png/landing-partners-ico3.png")
		width: 193px
		height: 196px
		background-size: 193px 196px
		position: absolute
		top: 30px
		right: 20px
	.landing-partners-ico4
		background-image: url("../../img/png/landing-partners-ico4.png")
		width: 153px
		height: 181px
		background-size: 153px 181px
		position: absolute
		bottom: 60px
		left: 20%
	.landing-partners-ico5
		background-image: url("../../img/png/landing-partners-ico5.png")
		width: 47px
		height: 45px
		background-size: 47px 45px
		position: absolute
		bottom: 220px
		right: 50px
	footer
		background: #363636 url("../../img/png/blanding_footer_patern.png") 0 0px repeat-x
		.footer-blanding-nav
			a
				&:hover
					color: #ff3a3a

// media BIRTHDAY style 1900 - 960
body#landing-birthday.m-mobile
	header
		border-bottom: 1px solid #FF3A47
		background: rgba(#FFF, .99)
		.landing-home
			margin-top: 4px
			path
				fill: #00BF5F
			.wishround-font
				fill: #4A4A4A
		.landing-nav
			margin: 0
			border-top: 1px solid #FF3A47
			li
				display: block
				margin-left: 0
			a
				color: #4A4A4A
				&.is-active
					color: #FF3A47
				&:hover
					color: #FF3A47
		.create-campain
			box-shadow: inset 0 -2px 0 #de2323
	#section0
		height: 400px
		min-height: 400px
		line-height: 400px 
		.landing-slider-i
			display: block
			padding-top: 140px
			margin-top: 0
			line-height: 1
		.landing-next-slide, .landing-slider-ico
			display: none
		.landing-slider-text
			width: 390px
			padding-left: 40px
			font-weight: 600 
			p
				font-size: 13px
		.landing-slider-title
			margin-bottom: 10px
			font-size: 20px
			line-height: 27px
			&:before
				left: -25px
				margin-top: -20px 
			&:after
				left: 15px
				top: -27px
			.landing-slider-title-line1
				left: 65px
				top: -50px
				&:before
					left: 75px
					top: 0px
				&:after
					left: 140px
					top: 15px
			.landing-slider-title-line2
				display: none
		.landing-slider-row
			width: auto
			padding-left: 40px
			padding-right: 40px
			text-align: center
			.landing-slider-list
				font-size: 11px
				a
					text-transform: uppercase
			.landing-slider-btn
				padding: 9px 24px 11px
				font-size: 14px
				line-height: 15px
				font-weight: 800
				box-shadow: inset 0 -2px 0 #de2323
	#section1
		margin-bottom: 0
		padding-bottom: 60px
		text-align: center
		.landing-video-l
			width: 100%
			margin-bottom: 30px
			line-height: 1
			display: inline-block
			vertical-align: middle
			text-align: left
			padding-left: 20px
			padding-right: 20px
			.landing-video-col1				
				display: block
				width: 100%
				max-width: 400px
				margin-left: auto
				margin-right: auto
				.landing-video-descr
					font-size: 13px
					line-height: 19px
					font-weight: 400 
					letter-spacing: normal
			.landing-video-col2
				width: 100%
				max-width: 400px
				display: block
				margin: 0 auto 30px
			.landing-video-title
				padding: 40px 0 0
				font-size: 20px
				margin-bottom: 50px
		.landing-video-ico1,
		.landing-video-ico6
			display: none
		.landing-video-ico2
			background: url("../../img/png/blanding_anim_ico2.png")
			width: 47px
			height: 45px
			background-size: 47px 45px
			top: 20px
			left: auto
			right: 18%
			opacity: 0.5
		.landing-video-ico3
			background: url("../../img/png/blanding_anim_ico3.png")
			width: 60px
			height: 66px
			background-size: 60px 66px
			left: auto
			top: auto
			bottom: -63px
			right: 0%
		.landing-video-ico4
			bottom: -55px
			left: 44%
			top: auto
			right: auto
		.landing-video-ico5
			background: url("../../img/png/blanding_anim_ico5.png")
			width: 70px
			height: 100px
			background-size: 70px 100px
			position: absolute
			bottom: auto
			top: 0
			left: 0px
	#section2
		margin-bottom: 0
		padding-left: 20px
		padding-right: 20px
		padding-bottom: 30px
		padding-top: 30px
		ul
			width: 100%
			li
				width: 25%
				position: relative
				&:first-child
					&:before
						content: none
				&:before
					content: ""
					width: 60%
					height: 0
					border-bottom: 2px dashed #ff3a3a 
					position: absolute
					top: 22px
					left: -30%
					right: 0 
		.landing-benefits-ico
			width: 44px
			height: 44px
			line-height: 44px
			svg
				width: 100%
				height: 100%
		.landing-benefits-ico1,
		.landing-benefits-ico2,
		.landing-benefits-ico3,
		.landing-benefits-ico4,
		.landing-benefits-ico5
			display: none
		.landing-benefits-meta
			width: 100%
			margin: 0 auto 65px
			font-size: 20px
			&:before
				bottom: -10px
		.landing-benefits-ico
			border: 0
			&:before
				content: none
		.landing-benefits-content
			text-align: left
	#section4
		.landing-partners
			margin: 80px auto 120px
			.landing-partners-item-descr
				margin: 0 -100px 35px
				font-size: 18px
				line-height: 1.4 
		.landing-partners-ico1
			background-image: url("../../img/png/mobile-landing-partners-ico1.png")
			width: 35px
			height: 41px
			background-size: 35px 41px
			top: -45px
			left: 12%
		.landing-partners-ico2
			background-image: url("../../img/png/mobile-landing-partners-ico2.png")
			width: 150px
			height: 145px
			background-size: 150px 145px
			top: -65px
			right: 20px
			left: auto 
		.landing-partners-ico3
			background-image: url("../../img/png/mobile-landing-partners-ico3.png")
			width: 96px
			height: 94px
			background-size: 96px 94px
			top: auto
			bottom: 140px
			right: auto
			left: 12%  
		.landing-partners-ico4
			background-image: url("../../img/png/mobile-landing-partners-ico4.png")
			width: 60px
			height: 62px
			background-size: 60px 62px
			left: auto
			bottom: 160px
			right: 12% 
		.landing-partners-ico5,
		.landing-partners-ico6
			display: none
		footer
			position: static

// media BIRTHDAY style 767-481
@media only screen and (max-width: 767px)
	body#landing-birthday.m-mobile
		.landing-slider
			.landing-slider-title
				&:before, 
				&:after,
					content: none
				.landing-slider-title-line1,
				.landing-slider-title-line2
					display: none
			.landing-slider-text
				padding-left: 10px
			.landing-slider-row
				padding-left: 10px
				padding-right: 10px
			.landing-slider-list
				li
					margin-right: 25px
			.landing-slider-btn
				padding: 9px 9px
		#section1
			padding-bottom: 0
			.landing-video-l
				.landing-video-title
					margin-bottom: 55px
				.landing-video-ico1, 
				.landing-video-ico2,
				.landing-video-ico3,
				.landing-video-ico4,
				.landing-video-ico5,
				.landing-video-ico6
					display: none
		#section2
			.landing-benefits-meta
				margin: 0 auto 45px
			ul
				font-size: 0
				li
					width: 50%
					float: none
					display: inline-block
					vertical-align: top
					margin-bottom: 15px
					&:before
						content: none
			.landing-benefits-top
				margin-bottom: 5px
				+clr
			.landing-benefits-ico
				width: 30px
				height: 30px
				line-height: 30px
				float: left
				margin-right: 15px
				margin-bottom: 0
			.landing-benefits-title
				overflow: hidden
				text-align: left
			.landing-benefits-content
				clear: both
		#section3
			height: 285px
			.slick-dots
				bottom: 20px
				li
					margin-left: 20px
			.landing-review-wrap
				width: 305px
				height: 285px 
			.landing-review-content
				margin: 25px auto 0
				.landing-review-content-i
					width: 245px
			.landing-review-items
				height: 285px
			.landing-review-item
				height: 285px
			.landing-review-item-bg
				height: 285px 
		#section4
			.landing-partners-ico1,
			.landing-partners-ico2,
			.landing-partners-ico3,
			.landing-partners-ico4,
				display: none
			.landing-partners
				margin: 60px auto 60px
				.landing-partners-i
					.js-partners-next
						right: -10px
					.js-partners-prev
						left: -10px
				.landing-partners-items
					width: 440px
			 	.landing-partners-item-descr
			 		font-size: 13px
			footer
				padding-bottom: 50px
				.footer-l
					width: 100%
				.footer-col1
					width: 105px
					margin-right: 30px 
				.footer-col4
					width: 100%
					position: absolute
					bottom: 0
					left: 0
					right: 0
					.footer-blanding-nav
						width: 100%
						+clr
						li
							width: 33.33333%
							height: 35px
							line-height: 35px
							float: left
							text-align: center
							a
								display: block
								height: 100%
								line-height: 34px
								background: #9B9B9B
								&:hover
									background: #D8D8D8
									color: #fff
									span
										text-decoration: none
				.footer-col2
					.footer-blanding-nav
						li
							opacity: 0
							position: relative
							z-index: -1
				.footer-col3
					float: right

// media ALL style 480-320
@media only screen and (max-width: 480px)
	body#landing-birthday.m-mobile
		#section0
			.landing-slider-row
				text-align: center
				padding-left: 0
				padding-right: 0
			.landing-slider-list
				display: block
				li
					display: block
					margin-right: 0
					margin-bottom: 10px
			.landing-slider-btn
				margin: 0 auto
				font-size: 13px
			.landing-slider-text
				width: 90%
				padding-left: 20px
				margin-bottom: 20px
		#section1
			.landing-video-l
				.landing-video-title
					font-size: 16px
				.landing-video-col1
					display: block
					width: 100%
					margin-right: 0
				.landing-video-col2
					display: block
					width: 100%
		#section2
			overflow: hidden
			.landing-benefits-meta
				font-size: 18px
				&:before
					bottom: -10px
			ul
				li
					width: 100%
					margin-bottom: 35px
					background: #fff
					z-index: 10
					&:last-child
						.landing-benefits-ico
							&:before
								content: none 
			.landing-benefits-top
				font-size: 0
			.landing-benefits-ico
				margin-right: 8px
				float: none
				display: inline-block
				vertical-align: middle
				&:before
					content: ""
					width: 0px
					// height: 500px
					height: auto 
					border-left: 2px dashed #FF3A47
					background: transparent 
					top: 35px
					left: 15px
					bottom: -135px
			.landing-benefits-title
				margin-bottom: 0
				display: inline-block
				vertical-align: middle
			.landing-benefits-content
				padding-left: 38px
		#section3
			height: 330px
			.slick-dots
				bottom: 45px
				right: auto
				margin-right: 0
				left: 50%
				margin-left: -140px
				li
					margin-left: 20px
			.landing-review-i
				text-align: center
			.landing-review-wrap
				width: 260px
				height: 330px
				margin-right: 0
				display: inline-block
				float: none
			.landing-review-content
				margin: 20px auto 0
				text-align: center
				.landing-review-content-i
					width: 220px
					height: 250px
					padding: 15px 30px
					display: inline-block
					float: none
					margin: 0 auto
					background: rgba(#000, .36)
					text-align: left
			.landing-review-items
				height: 330px
			.landing-review-item
				height: 330px
			.landing-review-item-bg
				height: 330px
				background-position: 10% 50%
		#section4
			.landing-partners
				.landing-partners-items
					width: 280px
					.landing-partners-item
						img
							transform: scale(0.8)
				.landing-partners-item-descr
					// max-width: 300px 
					margin: 0 0px 10px
					opacity: 1
			footer
				.footer-col2
					display: none
				.footer-col3
					float: right
					margin-bottom: 10px

// media ALL style 320
@media only screen and (max-width: 320px)
	body#landing-birthday.m-mobile
		.landing-slider
			.landing-slider-text
				padding-left: 0
			.landing-slider-row
				.landing-slider-btn
					font-size: 13px
		#section0
			.landing-slider-text
				padding-left: 0px
		#section1
			.landing-video-l
				padding-left: 10px
				padding-right: 10px
		#section2
			padding-left: 10px
			padding-right: 10px

