body#landing-wedding.is-fullpage-destroy #section0 {
  min-height: 600px;
  line-height: 600px;
  text-align: center;
}

body#landing-wedding.is-fullpage-destroy #section0 .landing-slider-i {
  margin-top: 0;
  line-height: 1;
  display: inline-block;
  vertical-align: middle;
  text-align: left;
}

body#landing-wedding.is-fullpage-destroy #section1 {
  margin-bottom: 0;
  min-height: 500px;
  line-height: 500px;
  text-align: center;
}

body#landing-wedding.is-fullpage-destroy #section1 .landing-video-l {
  line-height: 1;
  display: inline-block;
  vertical-align: middle;
  text-align: left;
}

body#landing-wedding.is-fullpage-destroy #section1 .landing-video-ico1, body#landing-wedding.is-fullpage-destroy #section1 .landing-video-ico2, body#landing-wedding.is-fullpage-destroy #section1 .landing-video-ico3, body#landing-wedding.is-fullpage-destroy #section1 .landing-video-ico4, body#landing-wedding.is-fullpage-destroy #section1 .landing-video-ico5, body#landing-wedding.is-fullpage-destroy #section1 .landing-video-ico6 {
  display: none;
}

body#landing-wedding.is-fullpage-destroy #section2 {
  margin-bottom: 0;
  min-height: 450px;
}

body#landing-wedding.is-fullpage-destroy #section2 .landing-benefits-ico1, body#landing-wedding.is-fullpage-destroy #section2 .landing-benefits-ico2, body#landing-wedding.is-fullpage-destroy #section2 .landing-benefits-ico3, body#landing-wedding.is-fullpage-destroy #section2 .landing-benefits-ico4, body#landing-wedding.is-fullpage-destroy #section2 .landing-benefits-ico5 {
  display: none;
}

body#landing-wedding.is-fullpage-destroy #section3 {
  margin-bottom: 0;
  min-height: 650px;
  line-height: 650px;
}

body#landing-wedding.is-fullpage-destroy #section3 .video-js {
  line-height: 1;
  display: inline-block;
  vertical-align: middle;
}

body#landing-wedding.is-fullpage-destroy #section3 .video-js .vjs-tech {
  display: none;
}

body#landing-wedding.is-fullpage-destroy #section3 .vjs-poster {
  background-size: cover;
  background-position: 50% 0%;
  width: 100%;
  display: block;
}

body#landing-wedding.is-fullpage-destroy #section3 .landing-review-i {
  line-height: 1;
  display: inline-block;
  vertical-align: middle;
}

body#landing-wedding.is-fullpage-destroy #section3 .landing-review-i .landing-review-items {
  right: 10px;
}

body#landing-wedding.is-fullpage-destroy #section4 {
  min-height: 400px;
  line-height: 400px;
  text-align: center;
}

body#landing-wedding.is-fullpage-destroy #section4 .landing-partners-ico1, body#landing-wedding.is-fullpage-destroy #section4 .landing-partners-ico2, body#landing-wedding.is-fullpage-destroy #section4 .landing-partners-ico3, body#landing-wedding.is-fullpage-destroy #section4 .landing-partners-ico4, body#landing-wedding.is-fullpage-destroy #section4 .landing-partners-ico5, body#landing-wedding.is-fullpage-destroy #section4 .landing-partners-ico6, body#landing-wedding.is-fullpage-destroy #section4 .landing-partners-ico7 {
  display: none;
}

body#landing-wedding.is-fullpage-destroy #section4 .landing-partners {
  line-height: 1;
  display: inline-block;
  vertical-align: middle;
}

body#landing-wedding.is-fullpage-destroy #section4 footer {
  position: relative;
  z-index: 10;
  line-height: 1;
  text-align: left;
}

body#landing-wedding header {
  background: transparent;
  box-shadow: none;
  -webkit-transition: 0.2s background linear;
  transition: 0.2s background linear;
  padding-top: 0;
  padding-bottom: 0;
}

body#landing-wedding header.is-animate {
  background: rgba(255, 255, 255, 0.84);
  box-shadow: 0px 9px 6px rgba(159, 195, 217, 0.2);
}

body#landing-wedding header.is-animate .create-campain {
  opacity: 1;
  z-index: 10;
}

body#landing-wedding header.is-animate .landing-nav li.active a {
  color: #ff3a3a;
}

body#landing-wedding header.is-animate .landing-nav a {
  color: #505050;
}

body#landing-wedding header.is-animate svg path {
  fill: #00bf5f;
}

body#landing-wedding header.is-animate svg path.wishround-font {
  fill: #333;
}

body#landing-wedding header .header-in {
  padding-bottom: 5px;
  padding-top: 5px;
}

body#landing-wedding header .header-in:before, body#landing-wedding header .header-in:after {
  content: "";
  display: table;
}

body#landing-wedding header .header-in:after {
  clear: both;
}

body#landing-wedding header .logo-white {
  float: left;
  display: block;
  text-decoration: none;
}

body#landing-wedding header .landing-home {
  float: left;
  margin-top: 7px;
  height: 38px;
}

body#landing-wedding header svg path {
  fill: #fff;
}

body#landing-wedding header svg path.wishround-font {
  fill: #fff;
}

body#landing-wedding .landing-nav {
  text-align: center;
  margin: 13px 30px 10px;
  overflow: hidden;
}

body#landing-wedding .landing-nav:before, body#landing-wedding .landing-nav:after {
  content: "";
  display: table;
}

body#landing-wedding .landing-nav:after {
  clear: both;
}

body#landing-wedding .landing-nav li {
  display: inline-block;
  vertical-align: middle;
  margin-left: 30px;
}

body#landing-wedding .landing-nav li.active a {
  color: #ff3a3a;
}

body#landing-wedding .landing-nav a {
  display: block;
  font-size: 12px;
  color: #fff;
  font-weight: 700;
  text-decoration: none;
  -webkit-transition: 0.2s color linear;
  transition: 0.2s color linear;
}

body#landing-wedding .create-campain {
  background: #FF3A3A;
  box-shadow: inset 0 -3px 0 #B53535;
  color: #fff;
}

body#landing-wedding .create-campain:hover {
  background: #B53535;
}

body#landing-wedding .landing-slider {
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top right;
  position: relative;
  z-index: 9;
}

body#landing-wedding .landing-slider:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.37);
}

body#landing-wedding .landing-slider .landing-slider-text {
  color: #fff;
}

body#landing-wedding .landing-slider .landing-slider-text p {
  font-size: 16px;
  line-height: 22px;
}

body#landing-wedding .landing-slider .landing-slider-title:after {
  background: url("../../img/png/wedding-landing-heart1.png") 0 0 no-repeat;
  width: 39px;
  height: 32px;
  background-size: 39px 32px;
  left: -30px;
  top: -45px;
}

body#landing-wedding .landing-slider .landing-slider-title .landing-slider-title-line1:after {
  left: 315px;
}

body#landing-wedding .landing-slider .landing-slider-title .landing-slider-title-line2 {
  background: url("../../img/png/wedding-landing-heart2.png") 0 0 no-repeat;
  width: 25px;
  height: 19px;
  position: absolute;
  left: 280px;
  top: -65px;
}

body#landing-wedding .landing-slider .landing-slider-title .landing-slider-title-line2:before {
  content: "";
  display: block;
  background: url("../../img/png/blanding_title_line6.png") 0 0 no-repeat;
  width: 23px;
  height: 12px;
  background-size: 23px 12px;
  position: absolute;
  right: -220px;
  top: 40px;
}

body#landing-wedding .landing-slider .landing-slider-i {
  margin-top: -70px;
  position: relative;
  z-index: 10;
}

body#landing-wedding .landing-slider .landing-slider-row .landing-slider-list a, body#landing-wedding .landing-slider .landing-slider-row .landing-slider-list span {
  color: #fff;
}

body#landing-wedding .landing-slider .landing-slider-row .landing-slider-btn {
  background: #FF3A3A;
  box-shadow: inset 0 -3px 0 #B53535;
  color: #fff;
}

body#landing-wedding .landing-slider .landing-slider-row .landing-slider-btn:hover {
  background: #B53535;
}

body#landing-wedding .landing-video .landing-video-descr {
  color: #fff;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 1.5px;
  font-weight: 400;
  color: #4A4A4A;
}

body#landing-wedding .landing-video .landing-video-descr p {
  margin-top: 13px;
}

body#landing-wedding .landing-video .landing-video-descr p:first-child {
  margin-top: 0;
}

body#landing-wedding .landing-video .landing-video-title {
  margin-bottom: 65px;
  color: #4A4A4A;
}

body#landing-wedding .landing-video .landing-video-title:before {
  background: #FF3A3A;
}

body#landing-wedding .landing-video .landing-video-ico1 {
  background: url("../../img/png/wedding_landing_anim_ico1.png");
  width: 129px;
  height: 133px;
  position: absolute;
  top: 20px;
  left: 20px;
  opacity: 0.3;
}

body#landing-wedding .landing-video .landing-video-ico2 {
  background: url("../../img/png/wedding_landing_anim_ico2.png");
  width: 54px;
  height: 45px;
  position: absolute;
  top: 99px;
  left: 49%;
  opacity: 0.3;
}

body#landing-wedding .landing-video .landing-video-ico3 {
  background: url("../../img/png/wedding_landing_anim_ico3.png");
  width: 158px;
  height: 199px;
  position: absolute;
  top: 106px;
  right: 0px;
  opacity: 0.3;
}

body#landing-wedding .landing-video .landing-video-ico4 {
  background: url("../../img/png/wedding_landing_anim_ico4.png");
  width: 99px;
  height: 101px;
  position: absolute;
  bottom: -20px;
  left: 51%;
  opacity: 0.3;
}

body#landing-wedding .landing-benefits .landing-benefits-meta {
  margin: 0 auto 110px;
  color: #3D3C40;
}

body#landing-wedding .landing-benefits .landing-benefits-meta:before {
  background: #FF3A3A;
}

body#landing-wedding .landing-benefits .landing-benefits-top {
  margin-bottom: 10px;
  font-size: 0;
}

body#landing-wedding .landing-benefits .landing-benefits-top .landing-benefits-title, body#landing-wedding .landing-benefits .landing-benefits-top .landing-benefits-ico {
  display: inline-block;
  vertical-align: middle;
}

body#landing-wedding .landing-benefits .landing-benefits-title {
  max-width: 180px;
  margin-bottom: 0;
}

body#landing-wedding .landing-benefits .landing-benefits-ico {
  width: auto;
  height: auto;
  line-height: 1;
  margin-bottom: 0px;
  margin-right: 7px;
  border: none;
  text-align: center;
}

body#landing-wedding .landing-benefits ul li {
  position: relative;
}

body#landing-wedding .landing-benefits ul li.landing-benefits-first:before {
  content: "";
  width: 120px;
  height: 28px;
  background: url("../../img/png/landing_benefits_arr1_mod.png");
  position: absolute;
  top: -41px;
  right: -10px;
}

body#landing-wedding .landing-benefits ul li.landing-benefits-second:before {
  content: "";
  width: 120px;
  height: 28px;
  background: url("../../img/png/landing_benefits_arr1_mod.png");
  position: absolute;
  top: -41px;
  right: -10px;
}

body#landing-wedding .landing-benefits ul li.landing-benefits-third:before {
  content: "";
  width: 120px;
  height: 28px;
  background: url("../../img/png/landing_benefits_arr3_mod.png");
  position: absolute;
  top: -41px;
  right: -10px;
}

body#landing-wedding .landing-benefits ul svg g {
  stroke: #FF3A3A;
}

body#landing-wedding .landing-benefits .landing-benefits-ico1 {
  background-image: url("../../img/png/wedding-landing-benefits-ico1.png");
  width: 137px;
  height: 132px;
  position: absolute;
  top: 2px;
  left: 8px;
  opacity: 0.3;
}

body#landing-wedding .landing-benefits .landing-benefits-ico2 {
  background-image: url("../../img/png/wedding-landing-benefits-ico2.png");
  width: 53px;
  height: 47px;
  position: absolute;
  top: 70px;
  left: 40%;
  opacity: 0.3;
}

body#landing-wedding .landing-benefits .landing-benefits-ico3 {
  background-image: url("../../img/png/wedding-landing-benefits-ico3.png");
  width: 272px;
  height: 247px;
  position: absolute;
  top: 28px;
  right: 0px;
  opacity: 0.3;
}

body#landing-wedding .landing-benefits .landing-benefits-ico4 {
  background-image: url("../../img/png/wedding-landing-benefits-ico4.png");
  width: 194px;
  height: 170px;
  position: absolute;
  bottom: -50px;
  left: 70px;
  opacity: 0.3;
}

body#landing-wedding .landing-benefits .landing-benefits-ico5 {
  background-image: url("../../img/png/wedding-landing-benefits-ico5.png");
  width: 99px;
  height: 101px;
  position: absolute;
  bottom: -10px;
  right: 30%;
  opacity: 0.3;
}

body#landing-wedding .landing-review {
  height: 500px;
}

body#landing-wedding .landing-review .landing-review-i {
  width: 100%;
}

body#landing-wedding .landing-review #really-cool-video2:after, body#landing-wedding .landing-review #really-cool-video2:before {
  content: none;
}

body#landing-wedding .landing-review .landing-review-title {
  color: #4A4A4A;
}

body#landing-wedding .landing-review .landing-review-title:before {
  background: #FF3A3A;
}

body#landing-wedding .landing-review .landing-review-text {
  color: #4A4A4A;
}

body#landing-wedding .landing-review .landing-review-item {
  height: auto !important;
  background: transparent !important;
}

body#landing-wedding .landing-review .landing-review-items {
  width: 560px;
  padding-top: 30px;
}

body#landing-wedding .landing-review .landing-review-items .slick-list {
  margin: 0 auto;
  width: 420px;
}

body#landing-wedding .landing-review .landing-review-items .fa-angle-right, body#landing-wedding .landing-review .landing-review-items .fa-angle-left {
  top: 50%;
  margin-top: -24px;
  color: #4A4A4A;
}

body#landing-wedding .landing-review .landing-review-items .fa-angle-right {
  right: 30px;
}

body#landing-wedding .landing-review .landing-review-items .fa-angle-left {
  left: 30px;
}

body#landing-wedding .landing-review .landing-review-items {
  height: 380px;
  background: rgba(255, 255, 255, 0.52);
}

body#landing-wedding .landing-review .slick-dots {
  bottom: -35px;
  margin: 25px auto 0;
}

body#landing-wedding .landing-review .slick-dots li button {
  background: rgba(74, 74, 74, 0.87);
  border-color: rgba(74, 74, 74, 0.87);
}

body#landing-wedding .landing-partners-ico1 {
  background-image: url("../../img/png/wedding-landing-partners-ico1.png");
  width: 194px;
  height: 170px;
  position: absolute;
  top: 50px;
  left: 70px;
  opacity: 0.3;
}

body#landing-wedding .landing-partners-ico2 {
  background-image: url("../../img/png/wedding-landing-partners-ico2.png");
  width: 89px;
  height: 81px;
  position: absolute;
  top: 105px;
  right: 100px;
  opacity: 0.3;
}

body#landing-wedding .landing-partners-ico3 {
  background-image: url("../../img/png/wedding-landing-partners-ico3.png");
  width: 186px;
  height: 169px;
  position: absolute;
  bottom: 60px;
  left: 0;
  opacity: 0.3;
}

body#landing-wedding .landing-partners-ico4 {
  background-image: url("../../img/png/wedding-landing-partners-ico4.png");
  width: 42px;
  height: 37px;
  position: absolute;
  bottom: 183px;
  left: 36%;
  opacity: 0.3;
}

body#landing-wedding .landing-partners-ico5 {
  background-image: url("../../img/png/wedding-landing-partners-ico5.png");
  width: 118px;
  height: 97px;
  position: absolute;
  bottom: 162px;
  right: 20px;
  opacity: 0.3;
}

body#landing-wedding footer {
  background: #363636 url("../../img/png/wedding-landing-footer-bg.png") 0 0px repeat;
}

body#landing-wedding footer .footer-blanding-nav a {
  color: #fff;
}

body#landing-wedding footer .footer-blanding-nav a:hover {
  color: #FF3A3A;
}

body#landing-wedding.m-mobile header {
  border-bottom: 1px solid #FF3A3A;
  background: rgba(255, 255, 255, 0.99);
}

body#landing-wedding.m-mobile .landing-home {
  margin-top: 4px;
}

body#landing-wedding.m-mobile .landing-nav {
  margin: 0;
  border-top: 1px solid #FF3A3A;
}

body#landing-wedding.m-mobile .landing-nav li {
  display: block;
  margin-left: 0;
}

body#landing-wedding.m-mobile .landing-nav a {
  color: #4A4A4A;
}

body#landing-wedding.m-mobile .landing-nav a.is-active {
  color: #FF3A47;
}

body#landing-wedding.m-mobile .landing-nav a:hover {
  color: #FF3A47;
}

body#landing-wedding.m-mobile .create-campain {
  box-shadow: inset 0 -2px 0 #B53535;
}

body#landing-wedding.m-mobile .landing-home path {
  fill: #00BF5F;
}

body#landing-wedding.m-mobile .landing-home .wishround-font {
  fill: #4A4A4A;
}

body#landing-wedding.m-mobile #section0 {
  height: 460px;
  min-height: 460px;
  line-height: 460px;
  overflow: hidden;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}

body#landing-wedding.m-mobile #section0:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-image: -webkit-linear-gradient(right, transparent 0%, rgba(0, 0, 0, 0.44) 100%);
  background-image: linear-gradient(right, transparent 0%, rgba(0, 0, 0, 0.44) 100%);
}

body#landing-wedding.m-mobile #section0 .landing-slider-i {
  display: block;
  padding-top: 135px;
  margin-top: 0;
  line-height: 1;
  position: relative;
}

body#landing-wedding.m-mobile #section0 .landing-slider-i:before {
  width: 340px;
  height: 370px;
  background-size: 340px 370px;
  right: 0px;
  margin-top: -85px;
}

body#landing-wedding.m-mobile #section0 .landing-next-slide, body#landing-wedding.m-mobile #section0 .landing-slider-ico {
  display: none;
}

body#landing-wedding.m-mobile #section0 .landing-slider-text {
  width: 390px;
  padding-left: 10px;
  font-weight: 400;
  position: relative;
  z-index: 100;
}

body#landing-wedding.m-mobile #section0 .landing-slider-text p {
  font-size: 13px;
}

body#landing-wedding.m-mobile #section0 .landing-slider-title {
  margin-bottom: 15px;
  font-size: 20px;
  line-height: 27px;
  color: #fff;
}

body#landing-wedding.m-mobile #section0 .landing-slider-title:before, body#landing-wedding.m-mobile #section0 .landing-slider-title:after {
  content: none;
}

body#landing-wedding.m-mobile #section0 .landing-slider-title .landing-slider-title-line1 {
  display: none;
}

body#landing-wedding.m-mobile #section0 .landing-slider-row {
  width: auto;
  padding-left: 40px;
  padding-right: 40px;
  text-align: center;
}

body#landing-wedding.m-mobile #section0 .landing-slider-row .landing-slider-list {
  font-size: 11px;
}

body#landing-wedding.m-mobile #section0 .landing-slider-row .landing-slider-list a {
  text-transform: uppercase;
}

body#landing-wedding.m-mobile #section0 .landing-slider-row .landing-slider-btn {
  padding: 9px 24px 11px;
  font-size: 14px;
  line-height: 15px;
  font-weight: 800;
  box-shadow: inset 0 -2px 0 #B53535;
}

body#landing-wedding.m-mobile #section1 {
  margin-bottom: 0;
  padding-bottom: 60px;
  text-align: center;
}

body#landing-wedding.m-mobile #section1 .landing-video-l {
  width: 100%;
  margin-bottom: 30px;
  line-height: 1;
  display: inline-block;
  vertical-align: middle;
  text-align: left;
  padding-left: 20px;
  padding-right: 20px;
}

body#landing-wedding.m-mobile #section1 .landing-video-l .landing-video-col1 {
  display: block;
  width: 100%;
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
}

body#landing-wedding.m-mobile #section1 .landing-video-l .landing-video-descr {
  font-size: 13px;
  line-height: 19px;
  font-weight: 400;
  letter-spacing: normal;
  text-align: left;
}

body#landing-wedding.m-mobile #section1 .landing-video-l .landing-video-col2 {
  width: 100%;
  max-width: 400px;
  display: block;
  margin: 0 auto 30px;
}

body#landing-wedding.m-mobile #section1 .landing-video-l .landing-video-title {
  padding: 40px 0 0;
  font-size: 20px;
  margin-bottom: 50px;
}

body#landing-wedding.m-mobile #section2 {
  margin-bottom: 0;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 30px;
  padding-top: 30px;
}

body#landing-wedding.m-mobile #section2 ul {
  width: 100%;
}

body#landing-wedding.m-mobile #section2 ul li {
  width: 25%;
  position: relative;
}

body#landing-wedding.m-mobile #section2 ul li:first-child:before {
  content: none;
}

body#landing-wedding.m-mobile #section2 ul li:before {
  content: "";
  width: 60%;
  height: 0;
  border-bottom: 2px dashed #ff3a3a;
  background: none;
  position: absolute;
  top: 22px;
  left: -30%;
  right: 0;
}

body#landing-wedding.m-mobile #section2 .landing-benefits-ico1 {
  background-image: url("../../img/png/m_wedding-landing-benefits-ico1.png");
  width: 33px;
  height: 27px;
  background-size: 33px 27px;
  position: absolute;
  top: 64px;
  left: 23%;
}

body#landing-wedding.m-mobile #section2 .landing-benefits-ico2 {
  background-image: url("../../img/png/m_wedding-landing-benefits-ico2.png");
  width: 41px;
  height: 34px;
  background-size: 41px 34px;
  position: absolute;
  left: 46%;
  top: 106px;
}

body#landing-wedding.m-mobile #section2 .landing-benefits-ico3 {
  background-image: url("../../img/png/m_wedding-landing-benefits-ico3.png");
  width: 67px;
  height: 62px;
  background-size: 67px 62px;
  position: absolute;
  left: 58%;
  right: auto;
  top: 26px;
}

body#landing-wedding.m-mobile #section2 .landing-benefits-ico4 {
  background-image: url("../../img/png/m_wedding-landing-benefits-ico4.png");
  width: 86px;
  height: 80px;
  background-size: 86px 80px;
  position: absolute;
  left: auto;
  right: 30px;
  top: 110px;
}

body#landing-wedding.m-mobile #section2 .landing-benefits-ico5 {
  background-image: url("../../img/png/m_wedding-landing-benefits-ico5.png");
  width: 33px;
  height: 27px;
  background-size: 33px 27px;
  position: absolute;
  left: 20%;
  bottom: 50px;
  right: auto;
  top: auto;
}

body#landing-wedding.m-mobile #section2 .landing-benefits-ico6 {
  background-image: url("../../img/png/m_wedding-landing-benefits-ico6.png");
  width: 41px;
  height: 46px;
  background-size: 41px 46px;
  position: absolute;
  left: 55%;
  bottom: 103px;
  right: auto;
  top: auto;
  opacity: 0.3;
}

body#landing-wedding.m-mobile #section2 .landing-benefits-meta {
  width: 100%;
  margin: 0 auto 65px;
  font-size: 20px;
}

body#landing-wedding.m-mobile #section2 .landing-benefits-meta:before {
  bottom: -10px;
}

body#landing-wedding.m-mobile #section2 .landing-benefits-ico {
  display: block;
  width: 44px;
  height: 44px;
  line-height: 44px;
  margin: 0 auto 30px;
  border: 0;
}

body#landing-wedding.m-mobile #section2 .landing-benefits-ico:before {
  content: none;
}

body#landing-wedding.m-mobile #section2 .landing-benefits-ico svg {
  width: 100%;
  height: 100%;
}

body#landing-wedding.m-mobile #section2 .landing-benefits-content {
  text-align: left;
}

body#landing-wedding.m-mobile #section3 {
  width: 100%;
  height: 400px;
}

body#landing-wedding.m-mobile #section3 .landing-review-item .landing-review-item-bg {
  background: auto;
}

body#landing-wedding.m-mobile #section3 .landing-review-wrap {
  width: 100%;
  margin-right: 0;
}

body#landing-wedding.m-mobile #section3 .landing-review-items {
  padding-top: 0;
  width: 100%;
  height: 400px;
}

body#landing-wedding.m-mobile #section3 .landing-review-items .slick-list {
  width: 100%;
}

body#landing-wedding.m-mobile #section3 .slick-dots {
  display: none !important;
}

body#landing-wedding.m-mobile #section3 .js-review-prev, body#landing-wedding.m-mobile #section3 .js-review-next {
  color: #4a4a4a;
}

body#landing-wedding.m-mobile #section3 .js-review-next {
  right: 20px;
}

body#landing-wedding.m-mobile #section3 .js-review-prev {
  left: auto;
  right: 380px;
}

body#landing-wedding.m-mobile #section3 .landing-review-item {
  min-height: 400px;
}

body#landing-wedding.m-mobile #section3 .landing-review-item:before {
  content: none;
}

body#landing-wedding.m-mobile #section3 .landing-review-item .landing-review-item-bg {
  height: 400px;
  background-position: top 0;
}

body#landing-wedding.m-mobile #section3 .landing-review-item .landing-review-content {
  width: 400px;
  height: 250px;
  margin: 50px 0 0 auto;
  padding-top: 30px;
  background: rgba(255, 255, 255, 0.52);
}

body#landing-wedding.m-mobile #section3 .landing-review-item .landing-review-content .landing-review-content-i {
  float: none;
  margin: 0 auto;
}

body#landing-wedding.m-mobile #section4 .landing-partners {
  margin: 80px auto 120px;
}

body#landing-wedding.m-mobile #section4 .landing-partners .landing-partners-item-descr {
  margin: 0 -100px 35px;
  font-size: 18px;
  line-height: 1.4;
}

body#landing-wedding.m-mobile #section4 .landing-partners-ico1 {
  background-image: url("../../img/png/m_wedding-landing-partners-ico1.png");
  width: 50px;
  height: 48px;
  background-size: 50px 48px;
  top: 5px;
  left: 7%;
}

body#landing-wedding.m-mobile #section4 .landing-partners-ico2 {
  background-image: url("../../img/png/m_wedding-landing-partners-ico2.png");
  width: 96px;
  height: 89px;
  background-size: 96px 89px;
  top: -105px;
  right: 50px;
  left: auto;
}

body#landing-wedding.m-mobile #section4 .landing-partners-ico3 {
  background-image: url("../../img/png/m_wedding-landing-partners-ico3.png");
  width: 81px;
  height: 76px;
  background-size: 81px 76px;
  top: auto;
  bottom: 40px;
  right: auto;
  left: 8%;
}

body#landing-wedding.m-mobile #section4 .landing-partners-ico4 {
  background-image: url("../../img/png/m_wedding-landing-partners-ico4.png");
  width: 50px;
  height: 48px;
  background-size: 50px 48px;
  left: auto;
  bottom: 190px;
  right: 17%;
}

body#landing-wedding.m-mobile #section4 footer {
  position: static;
}

@media only screen and (max-width: 767px) {
  body#landing-wedding.m-mobile #section0 {
    background-repeat: no-repeat;
    background-size: inherit;
    background-position: 0% 0%;
  }

  body#landing-wedding.m-mobile #section1 {
    padding-bottom: 0;
  }

  body#landing-wedding.m-mobile #section1 .landing-video-l .landing-video-title {
    margin-bottom: 55px;
  }

  body#landing-wedding.m-mobile #section2 .landing-benefits-ico1, body#landing-wedding.m-mobile #section2 .landing-benefits-ico2, body#landing-wedding.m-mobile #section2 .landing-benefits-ico3, body#landing-wedding.m-mobile #section2 .landing-benefits-ico4, body#landing-wedding.m-mobile #section2 .landing-benefits-ico5, body#landing-wedding.m-mobile #section2 .landing-benefits-ico6 {
    display: none;
  }

  body#landing-wedding.m-mobile #section2 ul li {
    width: 49%;
    margin-bottom: 20px;
  }

  body#landing-wedding.m-mobile #section2 ul li:before {
    content: none;
  }

  body#landing-wedding.m-mobile #section2 .landing-benefits-meta {
    width: 100%;
  }

  body#landing-wedding.m-mobile #section2 .landing-benefits-top {
    margin-bottom: 10px;
    height: 30px;
    line-height: 30px;
  }

  body#landing-wedding.m-mobile #section2 .landing-benefits-top:before, body#landing-wedding.m-mobile #section2 .landing-benefits-top:after {
    content: "";
    display: table;
  }

  body#landing-wedding.m-mobile #section2 .landing-benefits-top:after {
    clear: both;
  }

  body#landing-wedding.m-mobile #section2 .landing-benefits-top .landing-benefits-ico {
    width: 30px;
    height: 30px;
    line-height: 30px;
    float: left;
    margin-right: 15px;
    margin-bottom: 0;
  }

  body#landing-wedding.m-mobile #section2 .landing-benefits-top .landing-benefits-title {
    max-width: 150px;
    margin-bottom: 0;
    padding-right: 0;
    line-height: 1;
    display: inline-block;
    vertical-align: middle;
    overflow: hidden;
    text-align: left;
  }

  body#landing-wedding.m-mobile #section2 .landing-benefits-content {
    font-size: 13px;
    line-height: 18px;
  }

  body#landing-wedding.m-mobile #section3 .landing-review-wrap {
    z-index: 2222;
  }

  body#landing-wedding.m-mobile #section3 .slick-dots {
    bottom: -65px;
  }

  body#landing-wedding.m-mobile #section3 .slick-dots li {
    margin-left: 20px;
  }

  body#landing-wedding.m-mobile #section3 .landing-review-content {
    margin: 25px auto 0;
  }

  body#landing-wedding.m-mobile #section3 .landing-review-content .landing-review-content-i {
    width: 245px;
  }

  body#landing-wedding.m-mobile #section3 .landing-review-items {
    height: 485px;
  }

  body#landing-wedding.m-mobile #section3 .landing-review-item {
    height: 485px;
  }

  body#landing-wedding.m-mobile #section3 .landing-review-item-bg {
    height: 485px;
  }

  body#landing-wedding.m-mobile #section4 .landing-partners-ico1, body#landing-wedding.m-mobile #section4 .landing-partners-ico2, body#landing-wedding.m-mobile #section4 .landing-partners-ico3, body#landing-wedding.m-mobile #section4 .landing-partners-ico4 {
    display: none;
  }

  body#landing-wedding.m-mobile #section4 .landing-partners {
    margin: 60px auto 60px;
  }

  body#landing-wedding.m-mobile #section4 .landing-partners .landing-partners-i .js-partners-next {
    right: -10px;
  }

  body#landing-wedding.m-mobile #section4 .landing-partners .landing-partners-i .js-partners-prev {
    left: -10px;
  }

  body#landing-wedding.m-mobile #section4 .landing-partners .landing-partners-items {
    width: 440px;
  }

  body#landing-wedding.m-mobile #section4 .landing-partners .landing-partners-items .landing-partners-item-descr {
    font-size: 13px;
  }

  body#landing-wedding.m-mobile #section4 footer {
    padding-bottom: 50px;
  }

  body#landing-wedding.m-mobile #section4 footer .footer-l {
    width: 100%;
  }

  body#landing-wedding.m-mobile #section4 footer .footer-col1 {
    width: 105px;
    margin-right: 30px;
  }

  body#landing-wedding.m-mobile #section4 footer .footer-col4 {
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
  }

  body#landing-wedding.m-mobile #section4 footer .footer-col4 .footer-blanding-nav {
    width: 100%;
  }

  body#landing-wedding.m-mobile #section4 footer .footer-col4 .footer-blanding-nav:before, body#landing-wedding.m-mobile #section4 footer .footer-col4 .footer-blanding-nav:after {
    content: "";
    display: table;
  }

  body#landing-wedding.m-mobile #section4 footer .footer-col4 .footer-blanding-nav:after {
    clear: both;
  }

  body#landing-wedding.m-mobile #section4 footer .footer-col4 .footer-blanding-nav li {
    width: 33.33333%;
    height: 35px;
    line-height: 35px;
    float: left;
    text-align: center;
  }

  body#landing-wedding.m-mobile #section4 footer .footer-col4 .footer-blanding-nav li a {
    display: block;
    height: 100%;
    line-height: 34px;
    background: #9B9B9B;
  }

  body#landing-wedding.m-mobile #section4 footer .footer-col4 .footer-blanding-nav li a:hover {
    background: #D8D8D8;
    color: #fff;
  }

  body#landing-wedding.m-mobile #section4 footer .footer-col4 .footer-blanding-nav li a:hover span {
    text-decoration: none;
  }

  body#landing-wedding.m-mobile #section4 footer .footer-col2 .footer-blanding-nav li {
    opacity: 0;
    position: relative;
    z-index: -1;
  }

  body#landing-wedding.m-mobile #section4 footer .footer-col3 {
    float: right;
  }
}

@media only screen and (max-width: 600px) {
  body#landing-wedding.m-mobile #section0 {
    background-position: 35% 20%;
  }
}

@media only screen and (max-width: 480px) {
  body#landing-wedding.m-mobile #section0 .landing-slider-text {
    width: 100%;
    padding-right: 0px;
    margin-bottom: 60px;
    box-sizing: border-box;
  }

  body#landing-wedding.m-mobile #section0 .landing-slider-text p {
    font-size: 11px;
    line-height: 15px;
  }

  body#landing-wedding.m-mobile #section1 .landing-video-l .landing-video-col2 {
    margin-bottom: 20px;
  }

  body#landing-wedding.m-mobile #section1 .landing-video-l .landing-video-title {
    margin-bottom: 30px;
  }

  body#landing-wedding.m-mobile #section1 .landing-video-l .landing-video-title:before {
    bottom: -10px;
  }

  body#landing-wedding.m-mobile #section2 {
    overflow: hidden;
  }

  body#landing-wedding.m-mobile #section2 .landing-benefits-meta {
    margin-bottom: 30px;
    font-size: 18px;
  }

  body#landing-wedding.m-mobile #section2 .landing-benefits-meta:before {
    bottom: -10px;
  }

  body#landing-wedding.m-mobile #section2 ul li {
    width: 100%;
    padding-left: 0;
    margin-bottom: 35px;
    background: #fff;
    z-index: 10;
  }

  body#landing-wedding.m-mobile #section2 ul li:last-child .landing-benefits-ico:before, body#landing-wedding.m-mobile #section2 ul li:last-child .landing-benefits-ico:after {
    content: none;
  }

  body#landing-wedding.m-mobile #section2 ul li .landing-benefits-top {
    font-size: 13px;
  }

  body#landing-wedding.m-mobile #section2 ul li .landing-benefits-ico:before {
    content: none;
  }

  body#landing-wedding.m-mobile #section2 ul li .landing-benefits-ico:after {
    content: "";
    width: 0px;
    height: 150px;
    min-height: 150px;
    border-left: 2px dashed #FF3A3A;
    background: transparent;
    position: absolute;
    top: 35px;
    left: 15px;
    bottom: -135px;
    display: inline-block;
  }

  body#landing-wedding.m-mobile #section2 .landing-benefits-top {
    font-size: 0;
    height: auto;
    line-height: 1;
  }

  body#landing-wedding.m-mobile #section2 .landing-benefits-top .landing-benefits-title {
    max-width: 100%;
    margin-bottom: 0;
    display: inline-block;
    vertical-align: middle;
  }

  body#landing-wedding.m-mobile #section2 .landing-benefits-ico {
    margin-right: 8px;
    float: none;
    display: inline-block;
    vertical-align: middle;
  }

  body#landing-wedding.m-mobile #section2 .landing-benefits-ico:before {
    content: "";
    width: 0px;
    height: auto;
    border-left: 2px dashed #00BF5F;
    background: transparent;
    top: 35px;
    left: 15px;
    bottom: -135px;
  }

  body#landing-wedding.m-mobile #section2 .landing-benefits-content {
    padding-left: 38px;
  }

  body#landing-wedding.m-mobile #section3 .slick-dots {
    bottom: -125px;
    right: auto;
    margin-right: 0;
    left: 50%;
    margin-left: -140px;
  }

  body#landing-wedding.m-mobile #section3 .slick-dots li {
    margin-left: 20px;
  }

  body#landing-wedding.m-mobile #section3 .landing-review-i {
    text-align: center;
  }

  body#landing-wedding.m-mobile #section3 .landing-review-wrap {
    width: 280px;
    margin-right: 0;
    display: inline-block;
    float: none;
  }

  body#landing-wedding.m-mobile #section3 .landing-review-wrap .js-review-next {
    right: 10px;
  }

  body#landing-wedding.m-mobile #section3 .landing-review-wrap .js-review-prev {
    right: auto;
    left: 10px;
  }

  body#landing-wedding.m-mobile #section3 .landing-review-items {
    height: 400px;
  }

  body#landing-wedding.m-mobile #section3 .landing-review-item .landing-review-content {
    width: 280px;
    margin: 50px auto 0;
    padding-top: 15px;
    text-align: center;
    background: rgba(255, 255, 255, 0.82);
  }

  body#landing-wedding.m-mobile #section3 .landing-review-item .landing-review-content .landing-review-content-i {
    width: 225px;
    display: inline-block;
    float: none;
    margin: 0 auto;
    text-align: left;
  }

  body#landing-wedding.m-mobile #section3 .landing-review-item-bg {
    background-position: 10% 50%;
  }

  body#landing-wedding.m-mobile #section4 .landing-partners .landing-partners-items {
    width: 280px;
  }

  body#landing-wedding.m-mobile #section4 .landing-partners .landing-partners-items .landing-partners-item img {
    -webkit-transform: scale(0.8);
    -ms-transform: scale(0.8);
    transform: scale(0.8);
  }

  body#landing-wedding.m-mobile #section4 .landing-partners .landing-partners-item-descr {
    margin: 0 0px 10px;
    opacity: 1;
  }

  body#landing-wedding.m-mobile #section4 footer .footer-col2 {
    display: none;
  }

  body#landing-wedding.m-mobile #section4 footer .footer-col3 {
    float: right;
    margin-bottom: 10px;
  }
}

@media only screen and (max-width: 320px) {
  body#landing-wedding.m-mobile #section0 .landing-slider-text {
    padding-left: 0px;
    padding-right: 0px;
    margin-bottom: 80px;
    text-align: center;
  }

  body#landing-wedding.m-mobile #section1 .landing-video-l {
    padding-left: 10px;
    padding-right: 10px;
  }

  body#landing-wedding.m-mobile #section2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}
