@import "../lib/mixins";
@import "../lib/sprite";

.wishroundBtn
	display: inline-block
	background: #fff
	border: 1px solid #ddd
	border-radius: 3px
	cursor: pointer
	font-family: Arial, sans-serif
	padding: 5px 25px
	text-align: center
	text-decoration: none
	color: #484748

.wishroundBtn .icon-wr
	display: inline-block
	background: url(https://az798174.vo.msecnd.net/mainprodcdn/wishround-logo-green_v1.svg) no-repeat
	background-size: 100% auto
	background-position: 0 3px
	height: 20px
	margin-right: 10px
	padding-top: 3px
	width: 20px

.wishroundBtn span
	display: inline-block
	font-size: 16px
	padding: 5px 0
	vertical-align: top
	font-family: Arial !important

.wishroundBtn:hover
	background: #00bf5f
	border: 1px solid #00bf5f
	color: #fff

.wishroundBtn:hover .icon-wr 
	background-image: url(https://az798174.vo.msecnd.net/mainprodcdn/wishround-logo-white_v1.svg)