@import "../lib/mixins";
@import "../lib/sprite";

=transition
	transition: 0.2s ease-in-out
	
.wishround-merchant-btn
	width: 100%
	max-width: 280px
	padding: 14px 13px 13px
	box-sizing: border-box
	text-align: center
	font-size: 0
	span, .fa
		display: inline-block
		vertical-align: middle
	span
		margin-right: 5px
		font-size: 18px
		line-height: 1 
	.fa-angle-right
		margin-top: 4px
		font-size: 18px
		line-height: 1


// BLOCKS USED
// ===============================================
// ДЕЛАТЬ СБОРКУ ПО БЛОКАМ (КОМПОНЕНТАМ) 
// ПО ТИПУ БУТСТРАПА

// switchoption
.switchoption
	height: 60px
	border: 1px solid #cddce8
	border-radius: 3px
	position: relative
	.switchoption-label
		width: 222px
		height: 42px
		margin: 9px
		border-radius: 3px
		background: #4a94f9
		position: absolute
		top: 0px
		left: 0
		cursor: pointer
		transition: left 200ms ease-out
	.switchoption-items
		height: 60px
		position: relative
		+clr
	.switchoption-item
		width: 240px
		height: 60px
		line-height: 58px
		text-align: center
		cursor: pointer
		font-size: 18px
		color: #bdc1c6
		transition: color 100ms linear
		&.m-left
			float: left
			color: #fff 
		&.m-right
			float: right
	.switchoption-item-text
		display: inline-block
		line-height: 1
		padding: 0 10px
		vertical-align: middle
// form
.form
	width: 502px
	margin: 0 auto
	input, .select, .select li
		font-size: 18px
		+placeholder
			font-size: 16px
	.form-meta
		margin-bottom: 7px
		color: #bdc1c6
		font-size: 12px
		line-height: 1
	.form-row
		margin-bottom: 31px
		+clr
		text-align: left
		&.is-load, .btn-success.is-load
			.fa:not(.fa-spinner)
				display: none
			.fa
				&.fa-spinner
					display: block
					width: 24px
					height: 24px
					line-height: 1
					animation: spin 1s infinite linear
				&.fa-calendar-o
					display: block
		.fa-facebook-square
			z-index: 999
		.fa-spinner
			display: none
	.form-label50
		width: 232px
		position: relative
		&.m-left
			float: left
		&.m-right
			float: right
	.select-wrap
		height: 58px
		line-height: 58px
		background: #fff
		border-radius: 3px
		font-size: 18px
		color: #2c3e50
// btn
.popup-sign-tw
	display: block
	padding: 16px 10px
	background: #DFE9F1
	font-size: 18px
	font-weight: 600
	color: #3f67bc
	border-radius: 0 0 2px 2px
	text-decoration: none
	text-align: center
	transition: 0.2s all linear
	&:hover
		background: #eff4f8
		color: #5eaade
	.fa
		margin-right: 10px
		font-size: 24px
// btn
.popup-sign-fb
	display: block
	padding: 16px 10px
	background: #DFE9F1
	font-size: 18px
	font-weight: 600
	color: #3f67bc
	border-radius: 2px 2px 0 0
	border-bottom: 1px solid #fff
	text-decoration: none
	text-align: center
	transition: 0.2s all linear
	&:hover
		background: #eff4f8
		color: #5eaade
	.fa
		margin-right: 10px
		font-size: 24px
// share
.share
	margin-bottom: 0
	text-align: center
	.share-item
		width: 640px
		height: 346px
		margin: 0 auto
		overflow: hidden
		background: #fff
		border-radius: 2px
		border-top: 2px solid #00bf5f
		box-shadow: 0 0 30px rgba(159,195,217,.2)
		&:before
			content: ""
			width: 100%
			height: 155px
			position: absolute
			left: 0
			bottom: 0
			background: url(../../img/png/preview-shadow.png) repeat-x
			z-index: 100
		.share-item-title
			padding: 29px 10px
			text-align: center
			color: #333 
			font-weight: 700
			overflow: hidden
			-ms-text-overflow: ellipsis
			text-overflow: ellipsis
			white-space: nowrap
		.share-item-media
			width: 450px
			height: 260px
			line-height: 260px
			margin: 0 auto 0px
			position: relative
			font-size: 0
		.share-item-img
			width: auto
			height: auto
			max-width: 100%
			max-height: 100%
			display: inline-block
			vertical-align: middle
	.share-in
		@extend %wrap
		width: auto
		position: relative
	.share-title
		margin-bottom: 15px
		font-size: 24px
		color: #55606e
		text-align: center
	.share-meta
		height: 25px
		margin-bottom: 18px
		text-align: center
		font-size: 0
		.share-meta-descr
			display: inline-block
			vertical-align: middle
			font-size: 16px
			line-height: 1
			color: #a7adb5 
		#short-link-preview-wrap,
		#short-link-preview-wrap1,
		#short-link-preview-wrap2,
		#short-link-edit-wrap
			margin-left: 10px
			display: inline-block
			vertical-align: middle
			font-size: 16px
			line-height: 1
			button
				background: transparent
				border: 0
				outline: none 
				margin-left: 5px
				font-size: 14px
				color: #4a94f9
				border: 0
			a
				font-weight: 700
				color: #4a94f9
				text-decoration: none
		.short-link-ico-wrap
			width: 24px
			height: 24px
			line-height: 24px
			display: inline-block
			vertical-align: top
		#short-link-edit-wrap
			&.is-load
				.fa
					display: none
					&.fa-spinner
						display: inline-block
			span
				color: #bdc1c6
				font-weight: 700
			input
				min-height: 22px 
				background: #dfe9f1
				border: 0
				outline: none
				font-weight: 700
				font-size: 16px 
				line-height: 1.2
				color: #333
			.fa-spinner
				display: none
				font-size: 14px
				color: #4a94f9
				animation: spin 1s infinite linear
		.share-meta-link
			color: #4a94f9
			font-size: 0
			span
				font-size: 16px
			input
				outline: none
				border: 0
				font-size: 16px
	.share-tooltip
		opacity: 0
		max-width: 320px
		box-shadow: 0 0 80px rgba(135,155,182,.4)
		background: #fdf1d7
		padding: 7px 17px
		position: absolute
		top: 25px
		right: -130px
		z-index: -1
		text-align: left
		font-size: 14px
		font-weight: 400 
		line-height: 1.6 
		color: #55606e
		+transition
		&.is-active
			opacity: 1
			z-index: 2222
	.share-item-btn
		width: 448px
		margin: 0 auto 14px
		padding: 19px 0
		display: block
		background: #3f67bc
		border: 1px solid #3f67bc 
		text-align: center
		color: #fff
		@extend %btn
		box-sizing: border-box
		&:hover
			background: transparent
			color: #3f67bc
		&.btn-mod
			background: #00bf5f
			border-color: #00bf5f
			&:hover
				background: #fff
				color: #00bf5f  
		.fa
			margin-right: 10px
			display: inline-block
			vertical-align: middle
			font-size: 24px
		span
			display: inline-block
			vertical-align: middle
			font-size: 18px
	.share-item-meta
		text-align: center
		font-size: 14px
		color: #a7adb5
		p
			margin-top: 15px
			&:first-child
				margin-top: 0
	.share-list
		margin-bottom: 24px
		font-size: 0
		display: inline-block
		text-align: center
	.share-list-item
		margin-left: 30px
		display: inline-block
		vertical-align: middle
		font-size: 14px
		color: #a7adb5
		&:first-child
			margin-left: 0
			color: #a7adb5
		a
			text-decoration: none
			color: #a7adb5
			+transition
			&:hover
				color: #4a94f9
				.fa
					color: #4a94f9
		.fa
			margin-right: 10px
			font-size: 24px
			display: inline-block
			vertical-align: middle
			color: #dfe9f1
			+transition
		span
			display: inline-block
			vertical-align: middle

// datepicker
.ui-datepicker.is-position
	position: fixed !important
	top: 50% !important
	margin-top: -184px
.ui-datepicker 
	border: 1px solid #4a94f9
	border-radius: 3px
	background-color: #fff
	box-shadow: 0 0 80px rgba(135,155,182,.4)
.ui-datepicker-prev 
	width: 90px
	height: 83px
	position: absolute
	left: -30px
	font-size: 0
	cursor: pointer
.ui-datepicker-prev:hover, 
.ui-datepicker-next:hover
	.ui-icon:before
		color: #55606e
.ui-datepicker-next
	width: 90px
	height: 83px
	position: absolute
	right: -30px
	font-size: 0
	cursor: pointer
.ui-datepicker-prev .ui-icon:before
	content: "\f053"
	font: normal normal normal 14px/1 FontAwesome
	margin-left: -10px
	font-size: 24px
	color: #a7adb5
	display: inline-block
	vertical-align: middle
.ui-datepicker-next .ui-icon:before
	content: "\f054"
	font: normal normal normal 14px/1 FontAwesome
	margin-left: 10px
	font-size: 24px
	color: #a7adb5
	display: inline-block
	vertical-align: middle
.ui-widget-header
	color: #FFFFFF
	font-size: 24px
	color: #00bf5f
	font-weight: 700
.ui-datepicker
	display: none
	padding: 0
	width: 100px
.ui-corner-all, .ui-corner-bottom, .ui-corner-left, .ui-corner-bl 
	border-radius: 0
#ui-datepicker-div
	width: 440px
	padding: 0 30px 20px
	margin-left: -270px
	z-index: 2000 !important
#ui-datepicker-div a
	border: none
.ui-datepicker .ui-datepicker-header
	padding: 0
	position: relative
.ui-datepicker-header
	height: 83px
.ui-datepicker table
	border-collapse: collapse
	font-size: 0.9em
	margin: 0
	width: 100%
.ui-widget 
	font-family: 'Open Sans', sans-serif
	font-size: 16px
	font-weight: 300
.ui-state-hover,
.ui-widget-content .ui-state-hover,
.ui-widget-header .ui-state-hover,
.ui-state-focus,
.ui-widget-content .ui-state-focus,
.ui-widget-header .ui-state-focus
	// border: 1px solid #fbcb09
	background: transparent
	font-weight: bold
	color: #00bf5f
.ui-datepicker td.ui-datepicker-today a
	color: #00bf5f
.ui-datepicker td.ui-datepicker-other-month a
	color: #a7adb5
.ui-datepicker td.ui-state-disabled:hover span
	color: #55606e
	font-weight: 400
.ui-datepicker td span,
.ui-datepicker td a
	display: block
	padding: 0
	height: 42px
	line-height:42px
	text-align: center
	vertical-align: middle
	text-decoration: none
	font-size: 18px
	font-weight: 400
	color: #55606e
.ui-datepicker td.ui-datepicker-unselectable, .ui-datepicker td.ui-state-disabled
	background: #fff
	opacity: 0.3
.ui-datepicker td:hover
	color: #4a94f9
	font-weight: 400
.ui-datepicker td span:hover,
.ui-datepicker td a:hover
	color: #4a94f9
	font-weight: 400
.ui-datepicker tr td:last-child,  .ui-datepicker th:last-child 
	border-right: 0 solid #aec5d7 !important
.ui-datepicker .ui-datepicker-prev span, .ui-datepicker .ui-datepicker-next span
	display: block
	left: 50%
	margin-left: -8px
	margin-top: -9px
	position: absolute
	top: 53%
.ui-datepicker .ui-datepicker-title
	line-height: 2em
	padding-top: 22px
	margin: 0 2.3em 8px
	text-align: center
	font-size: 24px
	color: #00bf5f
	font-weight: 700
.ui-datepicker th
	border: 0 none
	background: #fff
	font-weight: 400
	font-size: 12px
	padding: 0
	text-align: center
	height: 42px
	color: #a7adb5
.ui-datepicker-calendar .ui-state-active, .ui-datepicker-current-day
	color: #4a94f9
.ui-datepicker-calendar .ui-state-active, .ui-datepicker-current-day:hover
	color: #4a94f9

// PAGE STYLE. GENERAL STYLE
// ===============================================
#popup-wrap
	&.is-modify
		.md-content
			.fa-arrow-left
				display: inline-block
		.md-modal-bottom
			.md-modal-bottom-col1
				.checkbox
					display: none
	&.is-modify-ready
		.md-content .fa-arrow-left
			display: none
		.checkbox
			display: none
	.md-overlay
		background-color: transparent
		background: transparent
	.fa-arrow-left
		width: 36px
		height: 36px
		line-height: 36px
		padding: 13px
		cursor: pointer
		position: absolute
		left: 0
		top: 0
		text-align: center
		color: #a7adb5
		&:hover
			color: #4a94f9
	.md-modal-bottom
		width: 80%
		max-width: 960px
		min-width: 300px
		margin: 17px auto
		font-size: 0
		position: relative
		z-index: 100
		.md-modal-bottom-col1
			width: 50%
			display: inline-block
			vertical-align: middle
			.checkbox
				padding-left: 20px
				display: inline-block
				position: relative
				cursor: pointer
				font-size: 0
				input
					opacity: 0
					position: absolute
					top: 0
					left: 0
					z-index: 999
					cursor: pointer
				input:checked + .checkbox-ico
					&:before
						content: "\f00c"
						font-family: "FontAwesome", Arial, Helvetica, sans-serif
						font-size: 14px
						color: #a7adb5
						font-weight: bold
						position: absolute
						top: 50%
						left: 50%
						margin-top: -8px
						margin-left: -7px
				input + .checkbox-ico
					display: inline-block
					vertical-align: middle
					width: 16px
					height: 16px
					border: 1px solid #cddce8
					cursor: pointer
					border-radius: 3px
					position: relative
				span
					color: #a7adb5
					margin-left: 10px
					font-size: 16px
					display: inline-block
					vertical-align: middle
		.md-modal-bottom-col2
			width: 50%
			display: inline-block
			vertical-align: middle
			text-align: right
			.powered
				.powered-meta
					margin-right: 20px
					display: inline-block
					vertical-align: middle
					font-size: 14px
					color: #bdc1c6
				.powered-ico
					width: 115px
					height: 32px
					margin-right: 20px
					display: inline-block
					vertical-align: middle
					background: url("../../img/png/logo_merch_btn.png")
	.md-content
		width: 80%
		max-width: 820px
		min-width: 300px
		height: 650px
		line-height: 650px
		margin: 40px auto 0
		padding: 0 70px
		background: #fff
		border-radius: 2px
		box-shadow: 0 0 80px rgba(135, 155, 182, 0.4)
		position: relative
		text-align: center
		overflow: hidden
		color: #55606e
		.h2
			padding: 0 0 35px
			font-size: 24px
			font-weight: 700
			text-align: center
		.md-close.fa
			display: inline-block
			width: 36px
			font-size: 36px
			line-height: 1
			padding: 13px
			margin-top: 0
			margin-left: auto
			margin-right: auto
			position: absolute
			color: #a7adb5
			cursor: pointer
			-webkit-transition: -webkit-transform 0.3s linear
			transition: transform 0.3s linear
			text-align: center
			top: 0
			right: 0
			outline: none
			text-decoration: none
			&:hover
				-webkit-transform: rotate(90deg)
				-ms-transform: rotate(90deg)
				transform: rotate(90deg)
		.fa-angle-left
			width: 36px
			height: 36px
			font-size: 40px
			line-height: 36px
			padding: 13px
			cursor: pointer
			position: absolute
			left: 0
			top: 0
			text-align: center
			color: #a7adb5
			&:hover
				color: #4a94f9 
		.fa-arrow-left
			display: none
			width: 36px
			height: 36px
			line-height: 36px
			padding: 13px
			cursor: pointer
			position: absolute
			left: 0
			top: 0
			text-align: center
			color: #a7adb5
			&:hover
				color: #4a94f9 
		.md-content-i
			width: 100% //
			vertical-align: middle
			display: inline-block
			line-height: 1.2
			text-align: center

// wishroundLoaderPopup popup
// ===============================================
#popup-wrap
	#wishroundLoaderPopup
		.fa-spinner
			-webkit-animation: spin 1.75s infinite linear
			animation: spin 1.75s infinite linear
			font-size: 120px
			color: #00bf5f

// checkoutHowWork popup
// ===============================================
#popup-wrap
	#checkoutHowWork
		padding: 0 0 20px
		font-size: 24px
		font-weight: 700
		text-align: center
		.checkoutHowWork-meta
			margin-bottom: 60px
			font-size: 14px
			font-weight: 400
		.how-work
			+clr
			.how-work-label
				width: 25%
				min-height: 1px
				float: left
				&.m-create
					.how-sel-ico
						img
							width: 105px
							height: 81px
							background-size: 105px 81px 
				&.m-send
					.how-sel-ico
						img
							width: 107px
							height: 78px
							background-size: 107px 78px 
				&.m-chip-in
					.how-sel-ico
						img
							width: 101px
							height: 83px
							background-size: 101px 83px 
				&.m-pay
					.how-sel-ico
						img
							width: 100px
							height: 84px
							background-size: 101px 84px 
			.how-sel
				color: #55606e
				text-align: center
			.how-sel-ico
				height: 125px
				line-height: 125px
				margin-bottom: 15px
				img
					display: inline-block
					vertical-align: middle
			.how-sel-title
				margin-bottom: 10px
				font-size: 16px
				font-weight: 700
				font-family: "Open Sans", sans-serif
				font-style: normal
			.how-sel-cont
				padding: 0 15px
				padding: 0
				font-size: 12px
				line-height: 1.6
				font-weight: 400 
		.how-work.m-mod
			padding: 0
			background: #FFF
		.md-overlay
			background-color: transparent
			background: transparent
		.how-work-row
			padding-bottom: 70px
			overflow: hidden
			&.m-center
				text-align: center
				padding-bottom: 0
			&.m-third
				font-size: 0
				.how-work-label
					width: 33.33%
					float: none
					display: inline-block
					vertical-align: middle
				.play-btn
					margin-top: 0
		.how-work-more
			font-size: 18px
			font-weight: 700
			color: #55606e
			text-decoration: none 
			transition: 0.2s color linear
			&:hover
				color: #00bf5f
		.h2
			padding-bottom: 20px
		.md-modal-bottom
			.checkbox.m-mod
				padding-left: 20px
		.checkbox
			&:hover
				input + .checkbox-ico
					border-color: #cddce8
			span
				font-size: 14px
				color: #bdc1c6 
		.btn-success
			&.is-load
				color: transparent
				position: relative
				&:before
					content: "\f110"
					font-family: "FontAwesome", Arial, Helvetica, sans-serif
					width: 24px
					height: 24px
					line-height: 24px
					position: absolute
					top: 50%
					left: 50%
					margin-top: -12px
					margin-left: -12px
					font-size: 24px
					color: #fff
					font-weight: 400 
					-webkit-animation: spin 1s infinite linear
					animation: spin 1s infinite linear
				&:hover
					&:before
						color: #00bf5f
			.fa-arrow-right
				font-size: 18px
				margin-left: 10px
		.play-btn
			display: block
			margin-top: 22px
			text-decoration: none
			font-size: 0
			.play-btn-ico
				margin-right: 15px
				display: inline-block
				vertical-align: middle
				font-size: 36px
				color: #b2bec7
			span
				display: inline-block
				vertical-align: middle
				font-size: 18px
				color: #55606e
				font-weight: 700
		.btn-success
			display: inline-block
			padding-left: 40px
			padding-right: 40px
			// margin-top: 10px
			margin-left: auto
			margin-right: auto
			outline: none
			font-size: 18px

// wishroundHowVideo popup
// ===============================================
.wishroundHowVideo
	.btn-success
		margin-top: 25px
// wishroundMerchantCreate popup
// ===============================================
#popup-wrap
	.wishroundMerchantCreate
		&:before
			content: ""
			width: 33%
			height: 2px
			position: absolute
			top: 0
			left: 0
			background: #00bf5f
		.btn-success .fa-spinner
			margin: 0 auto
		.md-content .h2
			padding-bottom: 20px
		.form-row
			margin-bottom: 20px
	.js-validateform0
		&.is-switch
			.switchoption-label
				left: 260px
			.switchoption-item
				&.m-left
					color: #bdc1c6
				&.m-right
					color: #fff
			#wishroundMerchantCreateWrap
				transform: translate3d(0px, 0px, 0)
			#wishroundMerchantCreateName
				opacity: 1 
		#wishroundMerchantCreateName
			margin-bottom: 20px
			opacity: 0
			+transition
		#wishroundMerchantCreateWrap
			background: #fff 
			transition: transform 0.3s ease
			transform: translate3d(0px, -82px, 0)
			position: relative
			z-index: 999

// SIGN-UP popup
// ===============================================
#popup-wrap
	#sign-up
		&:before
			content: ""
			width: 33%
			height: 2px
			position: absolute
			top: 0
			left: 0
			background: #00bf5f
		.popup-sign-up
			padding-top: 50px
			padding-bottom: 0
			width: 400px
			margin: 0 auto
			padding-top: 100px
			padding-bottom: 25px
			.h2
				padding-bottom: 0
				font-size: 24px
				font-weight: 700
				position: relative
				span
					color: #55606e
				.fa
					padding: 15px
					font-size: 12px
					color: #a7adb5
					cursor: pointer
			.popup-note
				margin-bottom: 60px
				font-size: 12px // new upd
				a
					display: inline
					text-decoration: none
					color: #4a94f9
					&:hover
						text-decoration: underline
			.popup-sign-meta
				margin: 17px 0 17px
				text-align: center
				font-size: 14px
				color: #a7adb5
			.popup-sign-mail
				margin-bottom: 110px
				font-size: 18px
				font-weight: 600
				color: #4a94f9
				text-decoration: none
				text-align: center
				a
					display: block
					padding: 5px 0
					color: #4a94f9
					font-weight: 600
					text-decoration: none
				.fa
					margin-right: 10px
					font-size: 24px
			.popup-sign-enter
				font-size: 14px
				text-align: center
				span
					margin-right: 10px
				a
					font-weight: 400
					text-decoration: none
					color: #4a94f9
					&:hover 
						text-decoration: underline
			.tooltip-error-secure
				display: none
				max-width: 320px
				box-shadow: 0 0 80px rgba(135, 155, 182, 0.4)
				padding: 15px 20px
				position: absolute
				bottom: -85px
				right: -100px
				z-index: 1888
				text-align: left
				font-size: 14px
				font-weight: 400
				line-height: 1.6
				color: #55606e
				background: #fff
				&.is-active
					display: block
			.popup-note
				margin-bottom: 60px
				font-size: 14px
				color: #bdc1c6
				text-align: center
		.popup-mail
			width: 400px
			margin: 0 auto
			padding: 50px 0 25px
			font-weight: 400
			.popup-mail-title
				margin-bottom: 20px
				position: relative
				text-align: center
				.fa-arrow-left
					display: inline-block
					vertical-align: middle
					margin-right: 25px
					font-size: 24px
					color: #4a94f9
					cursor: pointer
					position: absolute
					left: 0
					top: 50%
					margin-top: -10px
				.fa-envelope
					display: inline-block
					vertical-align: middle
					margin-right: 10px
					font-size: 24px
					color: #55606e
				span
					display: inline-block
					vertical-align: middle
					font-size: 18px
					font-weight: 700
					color: #55606e
			.popup-mail-row
				margin-bottom: 30px
				font-size: 0
				position: relative
				.popup-mail-label50
					width: 190px
					float: left
					&:first-child
						margin-right: 20px
			.popup-mail-reg
				display: block
				margin-bottom: 30px
				padding: 20px 18px 19px
				background: #00BF5F
				border: 1px solid #00BF5F
				border-radius: 2px
				color: #fff
				font-size: 18px
				font-weight: 600
				text-align: center
				text-decoration: none
				transition: 0.2s all linear
				&:hover
					background: transparent
					color: #00BF5F
				&:active
					transform: scale(0.95)
				&.is-load
					color: transparent
					position: relative
					&:before
						content: "\f110"
						font-family: "FontAwesome", Arial, Helvetica, sans-serif
						width: 24px
						height: 24px
						font-size: 24px
						line-height: 24px
						-webkit-animation: spin 1s infinite linear
						animation: spin 1s infinite linear
						position: absolute
						top: 50%
						left: 50%
						margin-top: -12px
						margin-left: -12px
						color: #fff 
					&:hover
						&:before
							color: #00BF5F 
			.popup-sign-enter
				font-size: 14px
				text-align: center
				span
					margin-right: 10px
				a
					font-weight: 400
					text-decoration: none
					color: #4a94f9
					&:hover
						text-decoration: underline
			.js-email-fio, .js-email-facebook, .js-email-twitter, .js-pass-warning
				width: 300px
				display: none
				position: absolute
				top: 0
				right: -250px
				left: auto
				z-index: 999
				bottom: auto
				&.is-active
					display: block
			.tooltip-hint2
				width: 300px
				display: none
				position: absolute
				top: 50px
				right: 20px
				left: auto
				z-index: 999
				bottom: auto
				&.is-active
					display: block
			.birthday-label1, .birthday-label2, .birthday-label3
				display: inline-block
				vertical-align: top
				select
					width: 100%
			.birthday-label1
				width: 150px
				margin-right: 20px
			.birthday-label2 
				width: 100px
				margin-right: 20px
			.birthday-label3 
				width: 110px
			.birthday-note
				margin-left: 22px
				margin-bottom: 8px
				font-size: 12px
				color: #bdc1c6
				position: relative
				text-align: left
				span
					display: inline-block
					vertical-align: middle
					margin-right: 10px
				.fa
					vertical-align: middle
					font-size: 18px
					cursor: pointer
					-webkit-transition: 0.2s ease-in-out
					transition: 0.2s ease-in-out
					&:hover 
						color: #4a94f9
		.sign-in
			width: 402px
			margin: 0 auto
			padding: 55px 0 25px
			.sign-sign-top
				margin-bottom: 23px
				position: relative
				text-align: center
				.fa-arrow-left
					font-size: 24px
					color: #4a94f9
					text-align: center
					text-decoration: none
					position: absolute
					top: 50%
					margin-top: -12px
					left: 0
				span
					font-size: 18px
					color: #55606e
					font-weight: 700
			.popup-sign-row
				margin-bottom: 30px
			.forgot-pass
				position: absolute
				top: 50%
				margin-top: -9px
				right: 20px
				z-index: 999
				font-size: 18px
				color: #4a94f9
				cursor: pointer
				&:hover
					text-decoration: underline
			.popup-sign-meta
				margin: 25px 0 18px
				text-align: center
				font-size: 14px
				color: #a7adb5
			.popup-sign-btn
				display: block
				text-align: center
				&.is-load
					position: relative
					color: transparent
					&:before
						content: "\f110"
						font-family: "FontAwesome", Arial, Helvetica, sans-serif
						width: 24px
						height: 24px
						font-size: 24px 
						line-height: 24px
						color: #fff 
						-webkit-animation: spin 1s infinite linear
						animation: spin 1s infinite linear
						position: absolute
						top: 50%
						left: 50%
						margin-top: -12px
						margin-left: -12px
					&:hover
						&:before
							color: #00bf5f 
			.popup-sign-enter
				margin-top: 33px
				font-size: 14px
				text-align: center
				span
					margin-right: 10px
				a
					font-weight: 400
					text-decoration: none
					color: #4a94f9
					&:hover 
						text-decoration: underline
		.popup-forgot-step1
			.popup-forgot-step-in
				width: 400px
				padding: 70px 30px
			.popup-forgot-title
				margin-bottom: 55px
				position: relative
				text-align: center
				.fa-arrow-left
					font-size: 24px
					color: #4a94f9
					text-align: center
					text-decoration: none
					position: absolute
					top: 50%
					margin-top: -12px
					left: 0
					cursor: pointer
				span
					font-size: 18px
					font-weight: 700
			.popup-forgot-row
				margin-top: 30px
				&:first-child
					margin-top: 0
				.btn-success
					display: block
					text-align: center
					&.is-load
						color: transparent
						position: relative
						&:before
							content: "\f110"
							font-family: "FontAwesome", Arial, Helvetica, sans-serif
							width: 24px
							height: 24px
							font-size: 24px
							line-height: 24px
							color: #fff
							-webkit-animation: spin 1s infinite linear
							animation: spin 1s infinite linear
							position: absolute
							top: 50%
							left: 50%
							margin-top: -12px
							margin-left: -12px
						&:hover
							&:before
								color: #00bf5f 
		.popup-forgot-step2
			.popup-forgot-step-in
				width: 400px
				padding: 70px 30px
			.popup-forgot-title
				margin-bottom: 65px
				font-size: 18px
				color: #55606e
				font-weight: 700
				text-align: center
			.popup-forgot-meta
				margin-bottom: 60px
				font-size: 18px
				color: #a7adb5
				text-align: center
				a
					text-decoration: none
					color: #4a94f9
					&:hover
						text-decoration: underline
			.btn-success
				display: block
				text-align: center
				&.is-load
					position: relative
					color: transparent
					&:before
						content: "\f110"
						font-family: "FontAwesome", Arial, Helvetica, sans-serif
						width: 24px
						height: 24px
						font-size: 24px
						line-height: 24px
						color: #fff 
						-webkit-animation: spin 1s infinite linear
						animation: spin 1s infinite linear
						position: absolute
						top: 50%
						left: 50%
						margin-top: -12px
						margin-left: -12px
					&:hover
						&:before
							color: #00bf5f 
	#one-wish
		width: 720px
		&:before
			content: ""
			width: 33%
			height: 2px
			position: absolute
			top: 0
			left: 0
			background: #00bf5f
		.md-content
			position: relative
			z-index: 1111
		.one-wish-title
			font-size: 24px
			font-weight: 700
			color: #333
			text-align: center
		.one-wish-content
			padding: 22px 25px
			font-size: 16px
			color: #a7adb5
			text-align: center
			p 
				margin-bottom: 15px
		.one-wish-items
			overflow: hidden
			padding: 0

			display: table
			table-layout: fixed
			border-collapse: separate
			border-spacing: 30px 0px
		.one-wish-hide
			margin-top: 55px
			text-align: center
			.one-wish-hide-meta
				display: none
				margin-bottom: 15px
				font-size: 16px
				color: #bdc1c6
			.btn-success
				display: none
				padding-left: 40px
				padding-right: 40px
				&.is-load
					color: transparent
					position: relative
					&:before
						content: "\f110"
						font-family: "FontAwesome", Arial, Helvetica, sans-serif
						color: #fff 
						width: 24px
						height: 24px
						font-size: 24px
						line-height: 24px
						-webkit-animation: spin 1s infinite linear
						animation: spin 1s infinite linear
						position: absolute
						top: 50%
						left: 50%
						margin-top: -12px
						margin-left: -12px
					&:hover
						&:before
							color: #00bf5f 
		.one-wish-item
			// width: 48%
			// float: left
			width: 50%
			display: table-cell
			border: 1px solid #cddce8
			box-sizing: border-box
			border-radius: 3px
			overflow: hidden
			cursor: pointer
			position: relative
			&:hover 
				border-color: #4a94f9
			// &.is-special 
			// 	float: right
			&.is-active
				&:before
					content: ""
					position: absolute
					top: 0
					bottom: 0
					left: 0
					right: 0
					background-color: rgba(0,191,95,.5)
				&:after
					content: "\f00c"
					font-family: "FontAwesome", Arial, Helvetica, sans-serif
					font-size: 72px
					color: #fff
					position: absolute
					top: 50%
					left: 50%
					margin-top: -43px
					margin-left: -36px
			.one-wish-item-title
				margin-bottom: 10px
				font-size: 18px
				font-weight: 700
				color: #333
				text-align: center
		.one-wish-media
			width: 345px
			height: 210px
			line-height: 210px
			text-align: center
			font-size: 0
			img
				max-width: 100%
				max-height: 100%
				width: auto
				height: auto
				display: inline-block
				vertical-align: middle
		.one-wish-price
			font-size: 14px
			font-weight: bold
			color: #55606e
			.one-wish-price-meta
				margin-left: 5px
				color: #a7adb5
	.wish-wrap
		width: auto
		margin-left: auto
		margin-right: auto
		padding-top: 52px
		text-align: center
	#wishroundMerchantSend 
		width: 500px
		&:before
			content: ""
			width: 66%
			height: 2px
			position: absolute
			top: 0
			left: 0
			background: #00bf5f
	.wishroundMerchantSend-form
		max-width: 500px
		margin: 0 auto
		.wishroundMerchantSend-form-row
			margin-top: 20px
			.btn-success
				.fa
					display: none
				span
					height: 23px
				&.is-load
					span
						display: none
					.fa
						display: block
						width: 24px
						height: 24px
						margin: 0 auto
						line-height: 1
						-webkit-animation: spin 1s infinite linear
						animation: spin 1s infinite linear
		textarea
			&:focus
				+placeholder
					color: transparent
	.wishroundMerchantLettrsSend, .wishroundMerchantWishPosted
		text-align: center
		&:before
			content: ""
			width: 100%
			height: 2px
			position: absolute
			top: 0
			left: 0
			background: #00bf5f
		h2
			padding-bottom: 45px
			font-size: 30px
			.fa-check
				display: inline-block
				vertical-align: middle
				color: #00bf5f
				font-size: 40px 
			span
				display: inline-block
				vertical-align: middle
		.wishroundMerchantLettrsSend-meta
			margin-bottom: 25px
			text-align: center
			font-size: 18px
		.wishroundMerchantLettrsSend-or
			margin-bottom: 3px
			font-size: 14px
			color: #bdc1c6
		.wishroundMerchantLettrsSend-btn
			margin-bottom: 55px
			padding: 14px 120px
			text-align: center
			&:hover
				#wishLogoWhitePath1, #wishLogoWhitePath2
					fill: #00bf5f
			#wishLogoWhite1, #wishLogoWhite2
				display: inline-block
				vertical-align: middle
				width: 31px
				height: 31px
			#wishLogoWhitePath1, #wishLogoWhitePath2
				+transition
			span
				display: inline-block
				vertical-align: middle
	.wishroundMerchantReadyFriend, .wishroundMerchantReadyMy
		&:before
			content: ""
			width: 66%
			height: 2px
			position: absolute
			top: 0
			left: 0
			background: #00bf5f
	.wishroundMerchantAlmostReadyMe
		&:before
			content: ""
			width: 66%
			height: 2px
			position: absolute
			top: 0
			left: 0
			background: #00bf5f
		h2
			padding: 0 0 55px
			position: relative
			& + span
				display: inline-block
				vertical-align: middle
			.fa
				padding: 5px
				margin-left: 5px
				display: inline-block
				vertical-align: middle
				font-size: 18px
				color: #bdc1c6
				cursor: pointer
		.btn-block
			.fa-spinner
				margin: 0 auto
		.tooltip-open
			display: none
			width: 374px
			max-width: 374px
			opacity: 1
			bottom: -50px
			right: 0

#errorMerchant.errorMerchant
	font-size: 18px
	font-weight: 300
	color: #55606e
	h2.h2
		padding: 0 0 20px
		font-size: 36px
		line-height: 48px
		font-weight: 400
		color: #55606e
	p
		margin-bottom: 20px
	.errorMerchant-img
		display: block
		margin: 0 auto
		background: url("../../img/bg/error_cat_small.jpg")
		width: 300px
		height: 275px
		background-size: 300px 275px

// birthday block
.birthday-note
	margin-left: 22px
	margin-bottom: 8px
	font-size: 12px
	color: #bdc1c6
	position: relative
	text-align: left
	span
		display: inline-block
		vertical-align: middle
		margin-right: 10px
	.fa
		vertical-align: middle
		font-size: 18px
		cursor: pointer
		-webkit-transition: 0.2s ease-in-out
		transition: 0.2s ease-in-out
		&:hover 
			color: #4a94f9
.birthday-row
	text-align: left
	&.m-small, &.clear
		margin-bottom: 30px
	&.m-long
		font-size: 0
		margin-bottom: 34px
	.fa
		&.fa-spinner
			display: none
	.is-load
		.fa
			display: none
			&.fa-spinner
				display: block
				animation: spin 1s infinite linear
				width: 24px
				height: 24px
				margin: 0 auto
	.birthday-label50
		width: 47%
		float: left
		&:first-child
			margin-right: 6%
			
.birthday-label1, .birthday-label2, .birthday-label3
	display: inline-block
	vertical-align: top
	select
		width: 100%
.birthday-label1
	width: 242px
	margin-right: 20px
.birthday-label2
	width: 110px
	margin-right: 20px
.birthday-label3
	width: 110px




// new btn
.share-facebook-blue
	display: inline-block
	padding: 11px 40px
	background: #4A94F9
	border: 1px solid #4A94F9
	border-radius: 3px
	color: #fff 
	text-decoration: none
	transition: 0.2s color linear, 0.2s background linear
	.fa-facebook-square
		margin-right: 5px
		color: #fff
		transition: 0.2s color linear
	.fa-angle-right
		margin-left: 5px
		color: #fff
		transition: 0.2s color linear
	span
		display: inline-block
		vertical-align: middle
		font-size: 18px
		font-weight: 600
	.fa
		display: inline-block
		vertical-align: middle
	&:hover
		background: transparent
		color: #4A94F9
		.fa
			color: #4A94F9

.copylink
	font-size: 0
	.copylink-item
		border: 1px solid #CDDCE8
		border-radius: 3px
	.copylink-item-meta, .fa, .copylink-item-link
		display: inline-block
		vertical-align: middle
	.copylink-item-meta
		font-size: 15px
	.fa
		font-size: 20px
		padding: 1px
		color: #BDC1C6 
	.copylink-item-link
		font-size: 14px
		color: #4A94F9
		text-decoration: none
		cursor: pointer
	.copylink-item-ico
		margin: 0 4px

.copylink-meta
	padding-left: 20px
	margin-bottom: 5px
	font-size: 10px
	line-height: 14px
	color: #596472
	text-align: left

.skip-link
	padding-right: 70px
	font-size: 18px
	font-weight: 600
	color: #BDC1C6
	text-decoration: none
	&:after
		content: "\f105"
		margin-left: 5px
		display: inline-block
		vertical-align: middle
		font-family: "FontAwesome", Arial, Helvetica, sans-serif
		color: #BDC1C6 

// new popup
.wishroundMerchantReadyMyNew
	.md-content:before
		content: none
	.md-content
		max-width: 847px 
		padding: 35px 60px 80px

// new popup, content
.invite-popup
	text-align: center
	.invite-popup-ico
		margin-bottom: 12px 
		text-align: center
	.invite-popup-title
		margin-bottom: 15px 
		font-size: 24px
		line-height: 33px
		color: #596472
		font-weight: 700  
	.invite-popup-meta
		margin-bottom: 30px
		font-size: 18px
		line-height: 24px
		color: #596472 
	.invite-popup-btn
		margin-bottom: 30px
	.invite-popup-or
		margin-bottom: 10px
		font-size: 14px
		color: #596472 
	.invite-popup-row
		margin-bottom: 60px 
		font-size: 0
	.invite-popup-label
		width: 149px
		height: 38px
		line-height: 36px
		margin-left: 15px
		border: 1px solid #CDDCE8
		border-radius: 3px
		display: inline-block
		vertical-align: middle
		font-size: 18px
		&.m-big
			margin-left: 0
			width: 320px
			height: 40px
			line-height: 38px
			border: 0
		a
			display: block
			text-decoration: none
			color: #596472 
	.invite-popup-social
		display: inline-block
		vertical-align: middle
	.invite-popup-social-text
		display: inline-block
		vertical-align: middle
		font-size: 14px
	.fa-twitter
		display: inline-block
		vertical-align: middle
		font-size: 21px
		color: #5EA9DD
	.fa-comment-o, .fa-comment
		display: inline-block
		vertical-align: middle
		font-size: 19px
		color: #0080FF 
	.fa-envelope
		display: inline-block
		vertical-align: middle
		font-size: 19px
		color: #4A94F9
		

// NEW
.checkoutHowWork
	&:before
		content: ""
		width: 25%
		height: 2px
		position: absolute
		top: 0
		left: 0
		background: #FCC737

.wishroundHowVideo
	iframe
		margin-bottom: 30px

.wirnd-cat
	display: inline-block
	width: 210px
	height: 221px
	background: url(../../img/svg/wirnd_cat.svg) 

.wishroundSocial
	&:before
		content: ""
		width: 50%
		height: 2px
		position: absolute
		top: 0
		left: 0
		background: #FCC737
	.wishroundSocial-content
		margin-bottom: 50px
		font-size: 18px
		line-height: 24px
	.wishroundSocial-l
		width: 580px
		margin: 0 auto
		+clr
	.wishroundSocial-col1
		width: 210px
		margin-right: 40px
		float: left
	.wishroundSocial-col2
		width: 330px
		float: left
	.wishroundSocial-list
		font-size: 0
		margin-top: 15px
		li
			margin-top: 5px
			display: inline-block
			vertical-align: middle
		a
			transition: 0.2s opacity linear
			&:hover
				opacity: 0.7 
		.wishroundSocial-fb
			margin-right: 12px
			display: inline-block
			vertical-align: middle
			width: 53px
			height: 54px
			background: url(../../img/png/wishroundSocial-fb.png)
			-webkit-background-size: 53px 54px
			-o-background-size: 53px 54px
			background-size: 53px 54px
		.wishroundSocial-tw
			text-decoration: none
			margin-right: 13px
			display: inline-block
			vertical-align: middle
			width: 53px
			height: 54px
			line-height: 54px
			background: #4A94F9
			border-radius: 10px
			text-align: center
			&:after
				content: "\f099"
				font-family: 'FontAwesome'
				font-size: 36px
				color: #fff 
		.wishroundSocial-vk
			margin-right: 8px
			display: inline-block
			vertical-align: middle
			width: 57px
			height: 58px
			background: url(../../img/png/wishroundSocial-vk.png)
			-webkit-background-size: 57px 58px
			-o-background-size: 57px 58px
			background-size: 57px 58px
		.wishroundSocial-od
			margin-right: 12px
			display: inline-block
			vertical-align: middle
			width: 55px
			height: 55px
			background: url(../../img/png/wishroundSocial-od.png)
			-webkit-background-size: 55px 55px 
			-o-background-size: 55px 55px 
			background-size: 55px 55px 
		.wishroundSocial-mail
			text-decoration: none
			margin-right: 13px
			display: inline-block
			vertical-align: middle
			width: 53px
			height: 54px
			line-height: 54px
			background: #4A90E2
			border-radius: 10px
			text-align: center
			&:after
				content: "\f003"
				font-family: 'FontAwesome'
				font-size: 30px
				color: #fff 
		.wishroundSocial-tl
			margin-right: 13px
			display: inline-block
			vertical-align: middle
			width: 53px
			height: 53px
			background: url(../../img/png/wishroundSocial-tl.png)
			-webkit-background-size: 53px 53px 
			-o-background-size: 53px 53px 
			background-size: 53px 53px
		.wishroundSocial-va
			margin-right: 4px
			display: inline-block
			vertical-align: middle
			width: 54px
			height: 55px
			background: url(../../img/png/wishroundSocial-va.png)
			-webkit-background-size: 54px 55px
			-o-background-size: 54px 55px
			background-size: 54px 55px
		.wishroundSocial-vb
			margin-right: 4px
			display: inline-block
			vertical-align: middle
			width: 65px
			height: 69px
			background: url(../../img/png/wishroundSocial-vb.png)
			-webkit-background-size: 65px 69px
			-o-background-size: 65px 69px
			background-size: 65px 69px
		.wishroundSocial-sk
			margin-right: 12px
			display: inline-block
			vertical-align: middle
			width: 55px
			height: 56px
			background: url(../../img/png/wishroundSocial-sk.png)
			-webkit-background-size: 55px 56px
			-o-background-size: 55px 56px
			background-size: 55px 56px
		.wishroundSocial-mess
			margin-right: 12px
			display: inline-block
			vertical-align: middle
			width: 52px
			height: 53px
			background: url(../../img/png/wishroundSocialfb-mess.png)
			-webkit-background-size: 52px 53px
			-o-background-size: 52px 53px
			background-size: 52px 53px
	.how-work-row
		padding-bottom: 70px
		overflow: hidden
		&.m-center
			text-align: center
			padding-bottom: 0
		&.m-third
			font-size: 0
			.how-work-label
				width: 33.33%
				float: none
				display: inline-block
				vertical-align: middle
			.play-btn
				margin-top: 0
	.how-work-more
		font-size: 18px
		font-weight: 700
		color: #55606e
		text-decoration: none 
		transition: 0.2s color linear
		&:hover
			color: #00bf5f

.wishroundProcess
	&:before
		content: ""
		width: 75%
		height: 2px
		position: absolute
		top: 0
		left: 0
		background: #FCC737
	.h2
		margin-bottom: 40px
	.wishroundProcess-l
		width: 750px
		margin: 0 auto
		+clr
	.wishroundProcess-col1
		width: 380px
		float: left
		text-align: left
	.wishroundProcess-col2
		width: 370px
		float: left
	.wishroundProcess-meta
		font-size: 18px
		line-height: 24px
		margin-bottom: 30px
	.wishroundProcess-list
		margin-bottom: 120px
		li
			font-size: 18px
			line-height: 30px
			&:before
				content: ""
				margin-right: 8px
				width: 8px
				height: 8px
				border-radius: 4px
				background: #00BF5F
				display: inline-block
				vertical-align: middle
	.wishroundProcess-paySystem
		font-size: 0
		margin-left: -11px
		li
			margin-bottom: 12px
			margin-left: 11px
			display: inline-block
			vertical-align: middle
			width: 82px
			height: 82px
			line-height: 82px
			border-radius: 10px
			box-shadow: 1px 1px 4px rgba(#000, .5)
			text-align: center
	.how-work-row
		padding-bottom: 70px
		overflow: hidden
		&.m-center
			text-align: center
			padding-bottom: 0
		&.m-third
			font-size: 0
			.how-work-label
				width: 33.33%
				float: none
				display: inline-block
				vertical-align: middle
			.play-btn
				margin-top: 0
	.how-work-more
		font-size: 18px
		font-weight: 700
		color: #55606e
		text-decoration: none 
		transition: 0.2s color linear
		&:hover
			color: #00bf5f
	.wishroundProcess-paySystem-visa
		display: inline-block
		vertical-align: middle
		width: 58px
		height: 20px
		background: url(../../img/png/paySystem-visa.png)
		-webkit-background-size: 58px 20px 
		-o-background-size: 58px 20px 
		background-size: 58px 20px 
	.wishroundProcess-paySystem-masterCard
		display: inline-block
		vertical-align: middle
		width: 57px
		height: 35px
		background: url(../../img/png/paySystem-masterCard.png)
		-webkit-background-size: 57px 35px 
		-o-background-size: 57px 35px 
		background-size: 57px 35px
	.wishroundProcess-paySystem-privat
		display: inline-block
		vertical-align: middle
		width: 38px
		height: 38px
		background: url(../../img/png/paySystem-privat.png)
		-webkit-background-size: 38px 38px
		-o-background-size: 38px 38px
		background-size: 38px 38px
	.wishroundProcess-paySystem-shtuka
		display: inline-block
		vertical-align: middle
		width: 55px
		height: 36px
		background: url(../../img/png/paySystem-shtuka.png)
		-webkit-background-size: 55px 36px
		-o-background-size: 55px 36px
		background-size: 55px 36px
	.wishroundProcess-paySystem-easypay
		display: inline-block
		vertical-align: middle
		width: 65px
		height: 28px
		background: url(../../img/png/paySystem-easypay.png)
		-webkit-background-size: 65px 28px
		-o-background-size: 65px 28px
		background-size: 65px 28px
	.wishroundProcess-paySystem-ibox
		display: inline-block
		vertical-align: middle
		width: 51px
		height: 18px
		background: url(../../img/png/paySystem-ibox.png)
		-webkit-background-size: 51px 18px
		-o-background-size: 51px 18px
		background-size: 51px 18px
	.wishroundProcess-paySystem-monexy
		display: inline-block
		vertical-align: middle
		width: 61px
		height: 25px
		background: url(../../img/png/paySystem-monexy.png)
		-webkit-background-size: 61px 25px
		-o-background-size: 61px 25px
		background-size: 61px 25px
	.wishroundProcess-paySystem-kyivstar
		display: inline-block
		vertical-align: middle
		width: 44px
		height: 40px
		background: url(../../img/png/paySystem-kyivstar.png)
		-webkit-background-size: 44px 40px
		-o-background-size: 44px 40px
		background-size: 44px 40px

.wishroundPayment
	&:before
		content: ""
		width: 100%
		height: 2px
		position: absolute
		top: 0
		left: 0
		background: #FCC737
	.wishroundPayment-i
		width: 600px
		margin: 0 auto
		.h2
			padding-bottom: 0 !important
			margin-bottom: 20px
	.wishroundPayment-meta
		margin-bottom: 15px
		font-size: 18px
		line-height: 24px
	.wishroundPayment-media
		margin-bottom: 15px
		text-align: center
		img
			display: inline-block
			font-size: 0
	.wishroundPayment-list
		margin-left: 30px
		margin-bottom: 15px
		text-align: left
		font-size: 18px
		line-height: 30px

// .wishroundFaq
// 	.h2

.doc
	.js-faq-list
		a
			text-decoration: none
			color: #4a94f9
	.doc-in
		@extend %wrap
	h2
		margin-bottom: 48px
		font-size: 36px
		font-weight: 700
		text-align: center
	.doc-note
		width: 800px
		margin-left: 190px
		font-size: 16px
		line-height: 30px
		color: #333
		a
			text-decoration: none
			color: #4a94f9
		p
			margin-top: 10px
			&:first-child
				margin-top: 0
	ul
		color: #4a94f9
		font-weight: 300
		li
			padding: 15px 40px
			margin-bottom: -20px
			transition: 0.2s padding linear, 0.2s background linear, 0.2s color linear
			&.is-active
				margin-top: 20px
				margin-bottom: 0
				background: #eff4f8
				color: #333 
				.faq-content
					display: block
				ol
					display: block
		.faq-meta
			width: 600px
			margin: 0 auto
			font-size: 24px
			line-height: 1.3
			cursor: pointer
			position: relative
			+clr
			text-align: center
			.faq-meta-num
				width: 30px
				margin-right: 15px
				float: left
				text-align: right
				position: absolute
				left: 0
				top: 0
			.faq-meta-title
				float: none
				display: block
				overflow: hidden
				margin-left: 0
				padding-left: 45px
				box-sizing: border-box
				text-align: left
		.faq-content
			display: none
			margin: 0px 0px 0 0px
			padding-left: 0px
			font-size: 16px
			line-height: 30px
			font-weight: 400 
			color: #333
			text-align: left
		ol
			display: none
			margin: 10px 0 10px 32px
			list-style-type: none
			li
				margin-bottom: 10px
				padding: 0
				font-size: 16px
				line-height: 30px 
				font-weight: 400 
				color: #333
				.faq-meta
					font-size: 16px














		


