.wishround-merchant-btn {
  width: 100%;
  max-width: 280px;
  padding: 14px 13px 13px;
  box-sizing: border-box;
  text-align: center;
  font-size: 0;
}

.wishround-merchant-btn span, .wishround-merchant-btn .fa {
  display: inline-block;
  vertical-align: middle;
}

.wishround-merchant-btn span {
  margin-right: 5px;
  font-size: 18px;
  line-height: 1;
}

.wishround-merchant-btn .fa-angle-right {
  margin-top: 4px;
  font-size: 18px;
  line-height: 1;
}

.switchoption {
  height: 60px;
  border: 1px solid #cddce8;
  border-radius: 3px;
  position: relative;
}

.switchoption .switchoption-label {
  width: 222px;
  height: 42px;
  margin: 9px;
  border-radius: 3px;
  background: #4a94f9;
  position: absolute;
  top: 0px;
  left: 0;
  cursor: pointer;
  -webkit-transition: left 200ms ease-out;
  transition: left 200ms ease-out;
}

.switchoption .switchoption-items {
  height: 60px;
  position: relative;
}

.switchoption .switchoption-items:before, .switchoption .switchoption-items:after {
  content: "";
  display: table;
}

.switchoption .switchoption-items:after {
  clear: both;
}

.switchoption .switchoption-item {
  width: 240px;
  height: 60px;
  line-height: 58px;
  text-align: center;
  cursor: pointer;
  font-size: 18px;
  color: #bdc1c6;
  -webkit-transition: color 100ms linear;
  transition: color 100ms linear;
}

.switchoption .switchoption-item.m-left {
  float: left;
  color: #fff;
}

.switchoption .switchoption-item.m-right {
  float: right;
}

.switchoption .switchoption-item-text {
  display: inline-block;
  line-height: 1;
  padding: 0 10px;
  vertical-align: middle;
}

.form {
  width: 502px;
  margin: 0 auto;
}

.form input, .form .select, .form .select li {
  font-size: 18px;
}

.form input::-webkit-input-placeholder, .form .select::-webkit-input-placeholder, .form .select li::-webkit-input-placeholder {
  font-size: 16px;
}

.form input::-moz-placeholder, .form .select::-moz-placeholder, .form .select li::-moz-placeholder {
  font-size: 16px;
}

.form input:-ms-input-placeholder, .form .select:-ms-input-placeholder, .form .select li:-ms-input-placeholder {
  font-size: 16px;
}

.form input::placeholder, .form .select::placeholder, .form .select li::placeholder {
  font-size: 16px;
}

.form .form-meta {
  margin-bottom: 7px;
  color: #bdc1c6;
  font-size: 12px;
  line-height: 1;
}

.form .form-row {
  margin-bottom: 31px;
  text-align: left;
}

.form .form-row:before, .form .form-row:after {
  content: "";
  display: table;
}

.form .form-row:after {
  clear: both;
}

.form .form-row.is-load .fa:not(.fa-spinner), .form .form-row .btn-success.is-load .fa:not(.fa-spinner) {
  display: none;
}

.form .form-row.is-load .fa.fa-spinner, .form .form-row .btn-success.is-load .fa.fa-spinner {
  display: block;
  width: 24px;
  height: 24px;
  line-height: 1;
  -webkit-animation: spin 1s infinite linear;
  animation: spin 1s infinite linear;
}

.form .form-row.is-load .fa.fa-calendar-o, .form .form-row .btn-success.is-load .fa.fa-calendar-o {
  display: block;
}

.form .form-row .fa-facebook-square {
  z-index: 999;
}

.form .form-row .fa-spinner {
  display: none;
}

.form .form-label50 {
  width: 232px;
  position: relative;
}

.form .form-label50.m-left {
  float: left;
}

.form .form-label50.m-right {
  float: right;
}

.form .select-wrap {
  height: 58px;
  line-height: 58px;
  background: #fff;
  border-radius: 3px;
  font-size: 18px;
  color: #2c3e50;
}

.popup-sign-tw {
  display: block;
  padding: 16px 10px;
  background: #DFE9F1;
  font-size: 18px;
  font-weight: 600;
  color: #3f67bc;
  border-radius: 0 0 2px 2px;
  text-decoration: none;
  text-align: center;
  -webkit-transition: 0.2s all linear;
  transition: 0.2s all linear;
}

.popup-sign-tw:hover {
  background: #eff4f8;
  color: #5eaade;
}

.popup-sign-tw .fa {
  margin-right: 10px;
  font-size: 24px;
}

.popup-sign-fb {
  display: block;
  padding: 16px 10px;
  background: #DFE9F1;
  font-size: 18px;
  font-weight: 600;
  color: #3f67bc;
  border-radius: 2px 2px 0 0;
  border-bottom: 1px solid #fff;
  text-decoration: none;
  text-align: center;
  -webkit-transition: 0.2s all linear;
  transition: 0.2s all linear;
}

.popup-sign-fb:hover {
  background: #eff4f8;
  color: #5eaade;
}

.popup-sign-fb .fa {
  margin-right: 10px;
  font-size: 24px;
}

.share {
  margin-bottom: 0;
  text-align: center;
}

.share .share-item {
  width: 640px;
  height: 346px;
  margin: 0 auto;
  overflow: hidden;
  background: #fff;
  border-radius: 2px;
  border-top: 2px solid #00bf5f;
  box-shadow: 0 0 30px rgba(159, 195, 217, 0.2);
}

.share .share-item:before {
  content: "";
  width: 100%;
  height: 155px;
  position: absolute;
  left: 0;
  bottom: 0;
  background: url(../../img/png/preview-shadow.png) repeat-x;
  z-index: 100;
}

.share .share-item .share-item-title {
  padding: 29px 10px;
  text-align: center;
  color: #333;
  font-weight: 700;
  overflow: hidden;
  -ms-text-overflow: ellipsis;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.share .share-item .share-item-media {
  width: 450px;
  height: 260px;
  line-height: 260px;
  margin: 0 auto 0px;
  position: relative;
  font-size: 0;
}

.share .share-item .share-item-img {
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 100%;
  display: inline-block;
  vertical-align: middle;
}

.share .share-in {
  width: auto;
  position: relative;
}

.share .share-title {
  margin-bottom: 15px;
  font-size: 24px;
  color: #55606e;
  text-align: center;
}

.share .share-meta {
  height: 25px;
  margin-bottom: 18px;
  text-align: center;
  font-size: 0;
}

.share .share-meta .share-meta-descr {
  display: inline-block;
  vertical-align: middle;
  font-size: 16px;
  line-height: 1;
  color: #a7adb5;
}

.share .share-meta #short-link-preview-wrap, .share .share-meta #short-link-preview-wrap1, .share .share-meta #short-link-preview-wrap2, .share .share-meta #short-link-edit-wrap {
  margin-left: 10px;
  display: inline-block;
  vertical-align: middle;
  font-size: 16px;
  line-height: 1;
}

.share .share-meta #short-link-preview-wrap button, .share .share-meta #short-link-preview-wrap1 button, .share .share-meta #short-link-preview-wrap2 button, .share .share-meta #short-link-edit-wrap button {
  background: transparent;
  border: 0;
  outline: none;
  margin-left: 5px;
  font-size: 14px;
  color: #4a94f9;
  border: 0;
}

.share .share-meta #short-link-preview-wrap a, .share .share-meta #short-link-preview-wrap1 a, .share .share-meta #short-link-preview-wrap2 a, .share .share-meta #short-link-edit-wrap a {
  font-weight: 700;
  color: #4a94f9;
  text-decoration: none;
}

.share .share-meta .short-link-ico-wrap {
  width: 24px;
  height: 24px;
  line-height: 24px;
  display: inline-block;
  vertical-align: top;
}

.share .share-meta #short-link-edit-wrap.is-load .fa {
  display: none;
}

.share .share-meta #short-link-edit-wrap.is-load .fa.fa-spinner {
  display: inline-block;
}

.share .share-meta #short-link-edit-wrap span {
  color: #bdc1c6;
  font-weight: 700;
}

.share .share-meta #short-link-edit-wrap input {
  min-height: 22px;
  background: #dfe9f1;
  border: 0;
  outline: none;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.2;
  color: #333;
}

.share .share-meta #short-link-edit-wrap .fa-spinner {
  display: none;
  font-size: 14px;
  color: #4a94f9;
  -webkit-animation: spin 1s infinite linear;
  animation: spin 1s infinite linear;
}

.share .share-meta .share-meta-link {
  color: #4a94f9;
  font-size: 0;
}

.share .share-meta .share-meta-link span {
  font-size: 16px;
}

.share .share-meta .share-meta-link input {
  outline: none;
  border: 0;
  font-size: 16px;
}

.share .share-tooltip {
  opacity: 0;
  max-width: 320px;
  box-shadow: 0 0 80px rgba(135, 155, 182, 0.4);
  background: #fdf1d7;
  padding: 7px 17px;
  position: absolute;
  top: 25px;
  right: -130px;
  z-index: -1;
  text-align: left;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.6;
  color: #55606e;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

.share .share-tooltip.is-active {
  opacity: 1;
  z-index: 2222;
}

.share .share-item-btn {
  width: 448px;
  margin: 0 auto 14px;
  padding: 19px 0;
  display: block;
  background: #3f67bc;
  border: 1px solid #3f67bc;
  text-align: center;
  color: #fff;
  box-sizing: border-box;
}

.share .share-item-btn:hover {
  background: transparent;
  color: #3f67bc;
}

.share .share-item-btn.btn-mod {
  background: #00bf5f;
  border-color: #00bf5f;
}

.share .share-item-btn.btn-mod:hover {
  background: #fff;
  color: #00bf5f;
}

.share .share-item-btn .fa {
  margin-right: 10px;
  display: inline-block;
  vertical-align: middle;
  font-size: 24px;
}

.share .share-item-btn span {
  display: inline-block;
  vertical-align: middle;
  font-size: 18px;
}

.share .share-item-meta {
  text-align: center;
  font-size: 14px;
  color: #a7adb5;
}

.share .share-item-meta p {
  margin-top: 15px;
}

.share .share-item-meta p:first-child {
  margin-top: 0;
}

.share .share-list {
  margin-bottom: 24px;
  font-size: 0;
  display: inline-block;
  text-align: center;
}

.share .share-list-item {
  margin-left: 30px;
  display: inline-block;
  vertical-align: middle;
  font-size: 14px;
  color: #a7adb5;
}

.share .share-list-item:first-child {
  margin-left: 0;
  color: #a7adb5;
}

.share .share-list-item a {
  text-decoration: none;
  color: #a7adb5;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

.share .share-list-item a:hover {
  color: #4a94f9;
}

.share .share-list-item a:hover .fa {
  color: #4a94f9;
}

.share .share-list-item .fa {
  margin-right: 10px;
  font-size: 24px;
  display: inline-block;
  vertical-align: middle;
  color: #dfe9f1;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

.share .share-list-item span {
  display: inline-block;
  vertical-align: middle;
}

.ui-datepicker.is-position {
  position: fixed !important;
  top: 50% !important;
  margin-top: -184px;
}

.ui-datepicker {
  border: 1px solid #4a94f9;
  border-radius: 3px;
  background-color: #fff;
  box-shadow: 0 0 80px rgba(135, 155, 182, 0.4);
}

.ui-datepicker-prev {
  width: 90px;
  height: 83px;
  position: absolute;
  left: -30px;
  font-size: 0;
  cursor: pointer;
}

.ui-datepicker-prev:hover .ui-icon:before, .ui-datepicker-next:hover .ui-icon:before {
  color: #55606e;
}

.ui-datepicker-next {
  width: 90px;
  height: 83px;
  position: absolute;
  right: -30px;
  font-size: 0;
  cursor: pointer;
}

.ui-datepicker-prev .ui-icon:before {
  content: "\f053";
  font: normal normal normal 14px/1 FontAwesome;
  margin-left: -10px;
  font-size: 24px;
  color: #a7adb5;
  display: inline-block;
  vertical-align: middle;
}

.ui-datepicker-next .ui-icon:before {
  content: "\f054";
  font: normal normal normal 14px/1 FontAwesome;
  margin-left: 10px;
  font-size: 24px;
  color: #a7adb5;
  display: inline-block;
  vertical-align: middle;
}

.ui-widget-header {
  color: #FFFFFF;
  font-size: 24px;
  color: #00bf5f;
  font-weight: 700;
}

.ui-datepicker {
  display: none;
  padding: 0;
  width: 100px;
}

.ui-corner-all, .ui-corner-bottom, .ui-corner-left, .ui-corner-bl {
  border-radius: 0;
}

#ui-datepicker-div {
  width: 440px;
  padding: 0 30px 20px;
  margin-left: -270px;
  z-index: 2000 !important;
}

#ui-datepicker-div a {
  border: none;
}

.ui-datepicker .ui-datepicker-header {
  padding: 0;
  position: relative;
}

.ui-datepicker-header {
  height: 83px;
}

.ui-datepicker table {
  border-collapse: collapse;
  font-size: 0.9em;
  margin: 0;
  width: 100%;
}

.ui-widget {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-weight: 300;
}

.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus {
  background: transparent;
  font-weight: bold;
  color: #00bf5f;
}

.ui-datepicker td.ui-datepicker-today a {
  color: #00bf5f;
}

.ui-datepicker td.ui-datepicker-other-month a {
  color: #a7adb5;
}

.ui-datepicker td.ui-state-disabled:hover span {
  color: #55606e;
  font-weight: 400;
}

.ui-datepicker td span, .ui-datepicker td a {
  display: block;
  padding: 0;
  height: 42px;
  line-height: 42px;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  font-size: 18px;
  font-weight: 400;
  color: #55606e;
}

.ui-datepicker td.ui-datepicker-unselectable, .ui-datepicker td.ui-state-disabled {
  background: #fff;
  opacity: 0.3;
}

.ui-datepicker td:hover {
  color: #4a94f9;
  font-weight: 400;
}

.ui-datepicker td span:hover, .ui-datepicker td a:hover {
  color: #4a94f9;
  font-weight: 400;
}

.ui-datepicker tr td:last-child, .ui-datepicker th:last-child {
  border-right: 0 solid #aec5d7 !important;
}

.ui-datepicker .ui-datepicker-prev span, .ui-datepicker .ui-datepicker-next span {
  display: block;
  left: 50%;
  margin-left: -8px;
  margin-top: -9px;
  position: absolute;
  top: 53%;
}

.ui-datepicker .ui-datepicker-title {
  line-height: 2em;
  padding-top: 22px;
  margin: 0 2.3em 8px;
  text-align: center;
  font-size: 24px;
  color: #00bf5f;
  font-weight: 700;
}

.ui-datepicker th {
  border: 0 none;
  background: #fff;
  font-weight: 400;
  font-size: 12px;
  padding: 0;
  text-align: center;
  height: 42px;
  color: #a7adb5;
}

.ui-datepicker-calendar .ui-state-active, .ui-datepicker-current-day {
  color: #4a94f9;
}

.ui-datepicker-calendar .ui-state-active, .ui-datepicker-current-day:hover {
  color: #4a94f9;
}

#popup-wrap.is-modify .md-content .fa-arrow-left {
  display: inline-block;
}

#popup-wrap.is-modify .md-modal-bottom .md-modal-bottom-col1 .checkbox {
  display: none;
}

#popup-wrap.is-modify-ready .md-content .fa-arrow-left {
  display: none;
}

#popup-wrap.is-modify-ready .checkbox {
  display: none;
}

#popup-wrap .md-overlay {
  background-color: transparent;
  background: transparent;
}

#popup-wrap .fa-arrow-left {
  width: 36px;
  height: 36px;
  line-height: 36px;
  padding: 13px;
  cursor: pointer;
  position: absolute;
  left: 0;
  top: 0;
  text-align: center;
  color: #a7adb5;
}

#popup-wrap .fa-arrow-left:hover {
  color: #4a94f9;
}

#popup-wrap .md-modal-bottom {
  width: 80%;
  max-width: 960px;
  min-width: 300px;
  margin: 17px auto;
  font-size: 0;
  position: relative;
  z-index: 100;
}

#popup-wrap .md-modal-bottom .md-modal-bottom-col1 {
  width: 50%;
  display: inline-block;
  vertical-align: middle;
}

#popup-wrap .md-modal-bottom .md-modal-bottom-col1 .checkbox {
  padding-left: 20px;
  display: inline-block;
  position: relative;
  cursor: pointer;
  font-size: 0;
}

#popup-wrap .md-modal-bottom .md-modal-bottom-col1 .checkbox input {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 999;
  cursor: pointer;
}

#popup-wrap .md-modal-bottom .md-modal-bottom-col1 .checkbox input:checked + .checkbox-ico:before {
  content: "\f00c";
  font-family: "FontAwesome", Arial, Helvetica, sans-serif;
  font-size: 14px;
  color: #a7adb5;
  font-weight: bold;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -8px;
  margin-left: -7px;
}

#popup-wrap .md-modal-bottom .md-modal-bottom-col1 .checkbox input + .checkbox-ico {
  display: inline-block;
  vertical-align: middle;
  width: 16px;
  height: 16px;
  border: 1px solid #cddce8;
  cursor: pointer;
  border-radius: 3px;
  position: relative;
}

#popup-wrap .md-modal-bottom .md-modal-bottom-col1 .checkbox span {
  color: #a7adb5;
  margin-left: 10px;
  font-size: 16px;
  display: inline-block;
  vertical-align: middle;
}

#popup-wrap .md-modal-bottom .md-modal-bottom-col2 {
  width: 50%;
  display: inline-block;
  vertical-align: middle;
  text-align: right;
}

#popup-wrap .md-modal-bottom .md-modal-bottom-col2 .powered .powered-meta {
  margin-right: 20px;
  display: inline-block;
  vertical-align: middle;
  font-size: 14px;
  color: #bdc1c6;
}

#popup-wrap .md-modal-bottom .md-modal-bottom-col2 .powered .powered-ico {
  width: 115px;
  height: 32px;
  margin-right: 20px;
  display: inline-block;
  vertical-align: middle;
  background: url("../../img/png/logo_merch_btn.png");
}

#popup-wrap .md-content {
  width: 80%;
  max-width: 820px;
  min-width: 300px;
  height: 650px;
  line-height: 650px;
  margin: 40px auto 0;
  padding: 0 70px;
  background: #fff;
  border-radius: 2px;
  box-shadow: 0 0 80px rgba(135, 155, 182, 0.4);
  position: relative;
  text-align: center;
  overflow: hidden;
  color: #55606e;
}

#popup-wrap .md-content .h2 {
  padding: 0 0 35px;
  font-size: 24px;
  font-weight: 700;
  text-align: center;
}

#popup-wrap .md-content .md-close.fa {
  display: inline-block;
  width: 36px;
  font-size: 36px;
  line-height: 1;
  padding: 13px;
  margin-top: 0;
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  color: #a7adb5;
  cursor: pointer;
  -webkit-transition: -webkit-transform 0.3s linear;
  transition: transform 0.3s linear;
  text-align: center;
  top: 0;
  right: 0;
  outline: none;
  text-decoration: none;
}

#popup-wrap .md-content .md-close.fa:hover {
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}

#popup-wrap .md-content .fa-angle-left {
  width: 36px;
  height: 36px;
  font-size: 40px;
  line-height: 36px;
  padding: 13px;
  cursor: pointer;
  position: absolute;
  left: 0;
  top: 0;
  text-align: center;
  color: #a7adb5;
}

#popup-wrap .md-content .fa-angle-left:hover {
  color: #4a94f9;
}

#popup-wrap .md-content .fa-arrow-left {
  display: none;
  width: 36px;
  height: 36px;
  line-height: 36px;
  padding: 13px;
  cursor: pointer;
  position: absolute;
  left: 0;
  top: 0;
  text-align: center;
  color: #a7adb5;
}

#popup-wrap .md-content .fa-arrow-left:hover {
  color: #4a94f9;
}

#popup-wrap .md-content .md-content-i {
  width: 100%;
  vertical-align: middle;
  display: inline-block;
  line-height: 1.2;
  text-align: center;
}

#popup-wrap #wishroundLoaderPopup .fa-spinner {
  -webkit-animation: spin 1.75s infinite linear;
  animation: spin 1.75s infinite linear;
  font-size: 120px;
  color: #00bf5f;
}

#popup-wrap #checkoutHowWork {
  padding: 0 0 20px;
  font-size: 24px;
  font-weight: 700;
  text-align: center;
}

#popup-wrap #checkoutHowWork .checkoutHowWork-meta {
  margin-bottom: 60px;
  font-size: 14px;
  font-weight: 400;
}

#popup-wrap #checkoutHowWork .how-work:before, #popup-wrap #checkoutHowWork .how-work:after {
  content: "";
  display: table;
}

#popup-wrap #checkoutHowWork .how-work:after {
  clear: both;
}

#popup-wrap #checkoutHowWork .how-work .how-work-label {
  width: 25%;
  min-height: 1px;
  float: left;
}

#popup-wrap #checkoutHowWork .how-work .how-work-label.m-create .how-sel-ico img {
  width: 105px;
  height: 81px;
  background-size: 105px 81px;
}

#popup-wrap #checkoutHowWork .how-work .how-work-label.m-send .how-sel-ico img {
  width: 107px;
  height: 78px;
  background-size: 107px 78px;
}

#popup-wrap #checkoutHowWork .how-work .how-work-label.m-chip-in .how-sel-ico img {
  width: 101px;
  height: 83px;
  background-size: 101px 83px;
}

#popup-wrap #checkoutHowWork .how-work .how-work-label.m-pay .how-sel-ico img {
  width: 100px;
  height: 84px;
  background-size: 101px 84px;
}

#popup-wrap #checkoutHowWork .how-work .how-sel {
  color: #55606e;
  text-align: center;
}

#popup-wrap #checkoutHowWork .how-work .how-sel-ico {
  height: 125px;
  line-height: 125px;
  margin-bottom: 15px;
}

#popup-wrap #checkoutHowWork .how-work .how-sel-ico img {
  display: inline-block;
  vertical-align: middle;
}

#popup-wrap #checkoutHowWork .how-work .how-sel-title {
  margin-bottom: 10px;
  font-size: 16px;
  font-weight: 700;
  font-family: "Open Sans", sans-serif;
  font-style: normal;
}

#popup-wrap #checkoutHowWork .how-work .how-sel-cont {
  padding: 0 15px;
  padding: 0;
  font-size: 12px;
  line-height: 1.6;
  font-weight: 400;
}

#popup-wrap #checkoutHowWork .how-work.m-mod {
  padding: 0;
  background: #FFF;
}

#popup-wrap #checkoutHowWork .md-overlay {
  background-color: transparent;
  background: transparent;
}

#popup-wrap #checkoutHowWork .how-work-row {
  padding-bottom: 70px;
  overflow: hidden;
}

#popup-wrap #checkoutHowWork .how-work-row.m-center {
  text-align: center;
  padding-bottom: 0;
}

#popup-wrap #checkoutHowWork .how-work-row.m-third {
  font-size: 0;
}

#popup-wrap #checkoutHowWork .how-work-row.m-third .how-work-label {
  width: 33.33%;
  float: none;
  display: inline-block;
  vertical-align: middle;
}

#popup-wrap #checkoutHowWork .how-work-row.m-third .play-btn {
  margin-top: 0;
}

#popup-wrap #checkoutHowWork .how-work-more {
  font-size: 18px;
  font-weight: 700;
  color: #55606e;
  text-decoration: none;
  -webkit-transition: 0.2s color linear;
  transition: 0.2s color linear;
}

#popup-wrap #checkoutHowWork .how-work-more:hover {
  color: #00bf5f;
}

#popup-wrap #checkoutHowWork .h2 {
  padding-bottom: 20px;
}

#popup-wrap #checkoutHowWork .md-modal-bottom .checkbox.m-mod {
  padding-left: 20px;
}

#popup-wrap #checkoutHowWork .checkbox:hover input + .checkbox-ico {
  border-color: #cddce8;
}

#popup-wrap #checkoutHowWork .checkbox span {
  font-size: 14px;
  color: #bdc1c6;
}

#popup-wrap #checkoutHowWork .btn-success.is-load {
  color: transparent;
  position: relative;
}

#popup-wrap #checkoutHowWork .btn-success.is-load:before {
  content: "\f110";
  font-family: "FontAwesome", Arial, Helvetica, sans-serif;
  width: 24px;
  height: 24px;
  line-height: 24px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -12px;
  margin-left: -12px;
  font-size: 24px;
  color: #fff;
  font-weight: 400;
  -webkit-animation: spin 1s infinite linear;
  animation: spin 1s infinite linear;
}

#popup-wrap #checkoutHowWork .btn-success.is-load:hover:before {
  color: #00bf5f;
}

#popup-wrap #checkoutHowWork .btn-success .fa-arrow-right {
  font-size: 18px;
  margin-left: 10px;
}

#popup-wrap #checkoutHowWork .play-btn {
  display: block;
  margin-top: 22px;
  text-decoration: none;
  font-size: 0;
}

#popup-wrap #checkoutHowWork .play-btn .play-btn-ico {
  margin-right: 15px;
  display: inline-block;
  vertical-align: middle;
  font-size: 36px;
  color: #b2bec7;
}

#popup-wrap #checkoutHowWork .play-btn span {
  display: inline-block;
  vertical-align: middle;
  font-size: 18px;
  color: #55606e;
  font-weight: 700;
}

#popup-wrap #checkoutHowWork .btn-success {
  display: inline-block;
  padding-left: 40px;
  padding-right: 40px;
  margin-left: auto;
  margin-right: auto;
  outline: none;
  font-size: 18px;
}

.wishroundHowVideo .btn-success {
  margin-top: 25px;
}

#popup-wrap .wishroundMerchantCreate:before {
  content: "";
  width: 33%;
  height: 2px;
  position: absolute;
  top: 0;
  left: 0;
  background: #00bf5f;
}

#popup-wrap .wishroundMerchantCreate .btn-success .fa-spinner {
  margin: 0 auto;
}

#popup-wrap .wishroundMerchantCreate .md-content .h2 {
  padding-bottom: 20px;
}

#popup-wrap .wishroundMerchantCreate .form-row {
  margin-bottom: 20px;
}

#popup-wrap .js-validateform0.is-switch .switchoption-label {
  left: 260px;
}

#popup-wrap .js-validateform0.is-switch .switchoption-item.m-left {
  color: #bdc1c6;
}

#popup-wrap .js-validateform0.is-switch .switchoption-item.m-right {
  color: #fff;
}

#popup-wrap .js-validateform0.is-switch #wishroundMerchantCreateWrap {
  -webkit-transform: translate3d(0px, 0px, 0);
  transform: translate3d(0px, 0px, 0);
}

#popup-wrap .js-validateform0.is-switch #wishroundMerchantCreateName {
  opacity: 1;
}

#popup-wrap .js-validateform0 #wishroundMerchantCreateName {
  margin-bottom: 20px;
  opacity: 0;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

#popup-wrap .js-validateform0 #wishroundMerchantCreateWrap {
  background: #fff;
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  -webkit-transform: translate3d(0px, -82px, 0);
  transform: translate3d(0px, -82px, 0);
  position: relative;
  z-index: 999;
}

#popup-wrap #sign-up:before {
  content: "";
  width: 33%;
  height: 2px;
  position: absolute;
  top: 0;
  left: 0;
  background: #00bf5f;
}

#popup-wrap #sign-up .popup-sign-up {
  padding-top: 50px;
  padding-bottom: 0;
  width: 400px;
  margin: 0 auto;
  padding-top: 100px;
  padding-bottom: 25px;
}

#popup-wrap #sign-up .popup-sign-up .h2 {
  padding-bottom: 0;
  font-size: 24px;
  font-weight: 700;
  position: relative;
}

#popup-wrap #sign-up .popup-sign-up .h2 span {
  color: #55606e;
}

#popup-wrap #sign-up .popup-sign-up .h2 .fa {
  padding: 15px;
  font-size: 12px;
  color: #a7adb5;
  cursor: pointer;
}

#popup-wrap #sign-up .popup-sign-up .popup-note {
  margin-bottom: 60px;
  font-size: 12px;
}

#popup-wrap #sign-up .popup-sign-up .popup-note a {
  display: inline;
  text-decoration: none;
  color: #4a94f9;
}

#popup-wrap #sign-up .popup-sign-up .popup-note a:hover {
  text-decoration: underline;
}

#popup-wrap #sign-up .popup-sign-up .popup-sign-meta {
  margin: 17px 0 17px;
  text-align: center;
  font-size: 14px;
  color: #a7adb5;
}

#popup-wrap #sign-up .popup-sign-up .popup-sign-mail {
  margin-bottom: 110px;
  font-size: 18px;
  font-weight: 600;
  color: #4a94f9;
  text-decoration: none;
  text-align: center;
}

#popup-wrap #sign-up .popup-sign-up .popup-sign-mail a {
  display: block;
  padding: 5px 0;
  color: #4a94f9;
  font-weight: 600;
  text-decoration: none;
}

#popup-wrap #sign-up .popup-sign-up .popup-sign-mail .fa {
  margin-right: 10px;
  font-size: 24px;
}

#popup-wrap #sign-up .popup-sign-up .popup-sign-enter {
  font-size: 14px;
  text-align: center;
}

#popup-wrap #sign-up .popup-sign-up .popup-sign-enter span {
  margin-right: 10px;
}

#popup-wrap #sign-up .popup-sign-up .popup-sign-enter a {
  font-weight: 400;
  text-decoration: none;
  color: #4a94f9;
}

#popup-wrap #sign-up .popup-sign-up .popup-sign-enter a:hover {
  text-decoration: underline;
}

#popup-wrap #sign-up .popup-sign-up .tooltip-error-secure {
  display: none;
  max-width: 320px;
  box-shadow: 0 0 80px rgba(135, 155, 182, 0.4);
  padding: 15px 20px;
  position: absolute;
  bottom: -85px;
  right: -100px;
  z-index: 1888;
  text-align: left;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.6;
  color: #55606e;
  background: #fff;
}

#popup-wrap #sign-up .popup-sign-up .tooltip-error-secure.is-active {
  display: block;
}

#popup-wrap #sign-up .popup-sign-up .popup-note {
  margin-bottom: 60px;
  font-size: 14px;
  color: #bdc1c6;
  text-align: center;
}

#popup-wrap #sign-up .popup-mail {
  width: 400px;
  margin: 0 auto;
  padding: 50px 0 25px;
  font-weight: 400;
}

#popup-wrap #sign-up .popup-mail .popup-mail-title {
  margin-bottom: 20px;
  position: relative;
  text-align: center;
}

#popup-wrap #sign-up .popup-mail .popup-mail-title .fa-arrow-left {
  display: inline-block;
  vertical-align: middle;
  margin-right: 25px;
  font-size: 24px;
  color: #4a94f9;
  cursor: pointer;
  position: absolute;
  left: 0;
  top: 50%;
  margin-top: -10px;
}

#popup-wrap #sign-up .popup-mail .popup-mail-title .fa-envelope {
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
  font-size: 24px;
  color: #55606e;
}

#popup-wrap #sign-up .popup-mail .popup-mail-title span {
  display: inline-block;
  vertical-align: middle;
  font-size: 18px;
  font-weight: 700;
  color: #55606e;
}

#popup-wrap #sign-up .popup-mail .popup-mail-row {
  margin-bottom: 30px;
  font-size: 0;
  position: relative;
}

#popup-wrap #sign-up .popup-mail .popup-mail-row .popup-mail-label50 {
  width: 190px;
  float: left;
}

#popup-wrap #sign-up .popup-mail .popup-mail-row .popup-mail-label50:first-child {
  margin-right: 20px;
}

#popup-wrap #sign-up .popup-mail .popup-mail-reg {
  display: block;
  margin-bottom: 30px;
  padding: 20px 18px 19px;
  background: #00BF5F;
  border: 1px solid #00BF5F;
  border-radius: 2px;
  color: #fff;
  font-size: 18px;
  font-weight: 600;
  text-align: center;
  text-decoration: none;
  -webkit-transition: 0.2s all linear;
  transition: 0.2s all linear;
}

#popup-wrap #sign-up .popup-mail .popup-mail-reg:hover {
  background: transparent;
  color: #00BF5F;
}

#popup-wrap #sign-up .popup-mail .popup-mail-reg:active {
  -webkit-transform: scale(0.95);
  -ms-transform: scale(0.95);
  transform: scale(0.95);
}

#popup-wrap #sign-up .popup-mail .popup-mail-reg.is-load {
  color: transparent;
  position: relative;
}

#popup-wrap #sign-up .popup-mail .popup-mail-reg.is-load:before {
  content: "\f110";
  font-family: "FontAwesome", Arial, Helvetica, sans-serif;
  width: 24px;
  height: 24px;
  font-size: 24px;
  line-height: 24px;
  -webkit-animation: spin 1s infinite linear;
  animation: spin 1s infinite linear;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -12px;
  margin-left: -12px;
  color: #fff;
}

#popup-wrap #sign-up .popup-mail .popup-mail-reg.is-load:hover:before {
  color: #00BF5F;
}

#popup-wrap #sign-up .popup-mail .popup-sign-enter {
  font-size: 14px;
  text-align: center;
}

#popup-wrap #sign-up .popup-mail .popup-sign-enter span {
  margin-right: 10px;
}

#popup-wrap #sign-up .popup-mail .popup-sign-enter a {
  font-weight: 400;
  text-decoration: none;
  color: #4a94f9;
}

#popup-wrap #sign-up .popup-mail .popup-sign-enter a:hover {
  text-decoration: underline;
}

#popup-wrap #sign-up .popup-mail .js-email-fio, #popup-wrap #sign-up .popup-mail .js-email-facebook, #popup-wrap #sign-up .popup-mail .js-email-twitter, #popup-wrap #sign-up .popup-mail .js-pass-warning {
  width: 300px;
  display: none;
  position: absolute;
  top: 0;
  right: -250px;
  left: auto;
  z-index: 999;
  bottom: auto;
}

#popup-wrap #sign-up .popup-mail .js-email-fio.is-active, #popup-wrap #sign-up .popup-mail .js-email-facebook.is-active, #popup-wrap #sign-up .popup-mail .js-email-twitter.is-active, #popup-wrap #sign-up .popup-mail .js-pass-warning.is-active {
  display: block;
}

#popup-wrap #sign-up .popup-mail .tooltip-hint2 {
  width: 300px;
  display: none;
  position: absolute;
  top: 50px;
  right: 20px;
  left: auto;
  z-index: 999;
  bottom: auto;
}

#popup-wrap #sign-up .popup-mail .tooltip-hint2.is-active {
  display: block;
}

#popup-wrap #sign-up .popup-mail .birthday-label1, #popup-wrap #sign-up .popup-mail .birthday-label2, #popup-wrap #sign-up .popup-mail .birthday-label3 {
  display: inline-block;
  vertical-align: top;
}

#popup-wrap #sign-up .popup-mail .birthday-label1 select, #popup-wrap #sign-up .popup-mail .birthday-label2 select, #popup-wrap #sign-up .popup-mail .birthday-label3 select {
  width: 100%;
}

#popup-wrap #sign-up .popup-mail .birthday-label1 {
  width: 150px;
  margin-right: 20px;
}

#popup-wrap #sign-up .popup-mail .birthday-label2 {
  width: 100px;
  margin-right: 20px;
}

#popup-wrap #sign-up .popup-mail .birthday-label3 {
  width: 110px;
}

#popup-wrap #sign-up .popup-mail .birthday-note {
  margin-left: 22px;
  margin-bottom: 8px;
  font-size: 12px;
  color: #bdc1c6;
  position: relative;
  text-align: left;
}

#popup-wrap #sign-up .popup-mail .birthday-note span {
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
}

#popup-wrap #sign-up .popup-mail .birthday-note .fa {
  vertical-align: middle;
  font-size: 18px;
  cursor: pointer;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

#popup-wrap #sign-up .popup-mail .birthday-note .fa:hover {
  color: #4a94f9;
}

#popup-wrap #sign-up .sign-in {
  width: 402px;
  margin: 0 auto;
  padding: 55px 0 25px;
}

#popup-wrap #sign-up .sign-in .sign-sign-top {
  margin-bottom: 23px;
  position: relative;
  text-align: center;
}

#popup-wrap #sign-up .sign-in .sign-sign-top .fa-arrow-left {
  font-size: 24px;
  color: #4a94f9;
  text-align: center;
  text-decoration: none;
  position: absolute;
  top: 50%;
  margin-top: -12px;
  left: 0;
}

#popup-wrap #sign-up .sign-in .sign-sign-top span {
  font-size: 18px;
  color: #55606e;
  font-weight: 700;
}

#popup-wrap #sign-up .sign-in .popup-sign-row {
  margin-bottom: 30px;
}

#popup-wrap #sign-up .sign-in .forgot-pass {
  position: absolute;
  top: 50%;
  margin-top: -9px;
  right: 20px;
  z-index: 999;
  font-size: 18px;
  color: #4a94f9;
  cursor: pointer;
}

#popup-wrap #sign-up .sign-in .forgot-pass:hover {
  text-decoration: underline;
}

#popup-wrap #sign-up .sign-in .popup-sign-meta {
  margin: 25px 0 18px;
  text-align: center;
  font-size: 14px;
  color: #a7adb5;
}

#popup-wrap #sign-up .sign-in .popup-sign-btn {
  display: block;
  text-align: center;
}

#popup-wrap #sign-up .sign-in .popup-sign-btn.is-load {
  position: relative;
  color: transparent;
}

#popup-wrap #sign-up .sign-in .popup-sign-btn.is-load:before {
  content: "\f110";
  font-family: "FontAwesome", Arial, Helvetica, sans-serif;
  width: 24px;
  height: 24px;
  font-size: 24px;
  line-height: 24px;
  color: #fff;
  -webkit-animation: spin 1s infinite linear;
  animation: spin 1s infinite linear;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -12px;
  margin-left: -12px;
}

#popup-wrap #sign-up .sign-in .popup-sign-btn.is-load:hover:before {
  color: #00bf5f;
}

#popup-wrap #sign-up .sign-in .popup-sign-enter {
  margin-top: 33px;
  font-size: 14px;
  text-align: center;
}

#popup-wrap #sign-up .sign-in .popup-sign-enter span {
  margin-right: 10px;
}

#popup-wrap #sign-up .sign-in .popup-sign-enter a {
  font-weight: 400;
  text-decoration: none;
  color: #4a94f9;
}

#popup-wrap #sign-up .sign-in .popup-sign-enter a:hover {
  text-decoration: underline;
}

#popup-wrap #sign-up .popup-forgot-step1 .popup-forgot-step-in {
  width: 400px;
  padding: 70px 30px;
}

#popup-wrap #sign-up .popup-forgot-step1 .popup-forgot-title {
  margin-bottom: 55px;
  position: relative;
  text-align: center;
}

#popup-wrap #sign-up .popup-forgot-step1 .popup-forgot-title .fa-arrow-left {
  font-size: 24px;
  color: #4a94f9;
  text-align: center;
  text-decoration: none;
  position: absolute;
  top: 50%;
  margin-top: -12px;
  left: 0;
  cursor: pointer;
}

#popup-wrap #sign-up .popup-forgot-step1 .popup-forgot-title span {
  font-size: 18px;
  font-weight: 700;
}

#popup-wrap #sign-up .popup-forgot-step1 .popup-forgot-row {
  margin-top: 30px;
}

#popup-wrap #sign-up .popup-forgot-step1 .popup-forgot-row:first-child {
  margin-top: 0;
}

#popup-wrap #sign-up .popup-forgot-step1 .popup-forgot-row .btn-success {
  display: block;
  text-align: center;
}

#popup-wrap #sign-up .popup-forgot-step1 .popup-forgot-row .btn-success.is-load {
  color: transparent;
  position: relative;
}

#popup-wrap #sign-up .popup-forgot-step1 .popup-forgot-row .btn-success.is-load:before {
  content: "\f110";
  font-family: "FontAwesome", Arial, Helvetica, sans-serif;
  width: 24px;
  height: 24px;
  font-size: 24px;
  line-height: 24px;
  color: #fff;
  -webkit-animation: spin 1s infinite linear;
  animation: spin 1s infinite linear;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -12px;
  margin-left: -12px;
}

#popup-wrap #sign-up .popup-forgot-step1 .popup-forgot-row .btn-success.is-load:hover:before {
  color: #00bf5f;
}

#popup-wrap #sign-up .popup-forgot-step2 .popup-forgot-step-in {
  width: 400px;
  padding: 70px 30px;
}

#popup-wrap #sign-up .popup-forgot-step2 .popup-forgot-title {
  margin-bottom: 65px;
  font-size: 18px;
  color: #55606e;
  font-weight: 700;
  text-align: center;
}

#popup-wrap #sign-up .popup-forgot-step2 .popup-forgot-meta {
  margin-bottom: 60px;
  font-size: 18px;
  color: #a7adb5;
  text-align: center;
}

#popup-wrap #sign-up .popup-forgot-step2 .popup-forgot-meta a {
  text-decoration: none;
  color: #4a94f9;
}

#popup-wrap #sign-up .popup-forgot-step2 .popup-forgot-meta a:hover {
  text-decoration: underline;
}

#popup-wrap #sign-up .popup-forgot-step2 .btn-success {
  display: block;
  text-align: center;
}

#popup-wrap #sign-up .popup-forgot-step2 .btn-success.is-load {
  position: relative;
  color: transparent;
}

#popup-wrap #sign-up .popup-forgot-step2 .btn-success.is-load:before {
  content: "\f110";
  font-family: "FontAwesome", Arial, Helvetica, sans-serif;
  width: 24px;
  height: 24px;
  font-size: 24px;
  line-height: 24px;
  color: #fff;
  -webkit-animation: spin 1s infinite linear;
  animation: spin 1s infinite linear;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -12px;
  margin-left: -12px;
}

#popup-wrap #sign-up .popup-forgot-step2 .btn-success.is-load:hover:before {
  color: #00bf5f;
}

#popup-wrap #one-wish {
  width: 720px;
}

#popup-wrap #one-wish:before {
  content: "";
  width: 33%;
  height: 2px;
  position: absolute;
  top: 0;
  left: 0;
  background: #00bf5f;
}

#popup-wrap #one-wish .md-content {
  position: relative;
  z-index: 1111;
}

#popup-wrap #one-wish .one-wish-title {
  font-size: 24px;
  font-weight: 700;
  color: #333;
  text-align: center;
}

#popup-wrap #one-wish .one-wish-content {
  padding: 22px 25px;
  font-size: 16px;
  color: #a7adb5;
  text-align: center;
}

#popup-wrap #one-wish .one-wish-content p {
  margin-bottom: 15px;
}

#popup-wrap #one-wish .one-wish-items {
  overflow: hidden;
  padding: 0;
  display: table;
  table-layout: fixed;
  border-collapse: separate;
  border-spacing: 30px 0px;
}

#popup-wrap #one-wish .one-wish-hide {
  margin-top: 55px;
  text-align: center;
}

#popup-wrap #one-wish .one-wish-hide .one-wish-hide-meta {
  display: none;
  margin-bottom: 15px;
  font-size: 16px;
  color: #bdc1c6;
}

#popup-wrap #one-wish .one-wish-hide .btn-success {
  display: none;
  padding-left: 40px;
  padding-right: 40px;
}

#popup-wrap #one-wish .one-wish-hide .btn-success.is-load {
  color: transparent;
  position: relative;
}

#popup-wrap #one-wish .one-wish-hide .btn-success.is-load:before {
  content: "\f110";
  font-family: "FontAwesome", Arial, Helvetica, sans-serif;
  color: #fff;
  width: 24px;
  height: 24px;
  font-size: 24px;
  line-height: 24px;
  -webkit-animation: spin 1s infinite linear;
  animation: spin 1s infinite linear;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -12px;
  margin-left: -12px;
}

#popup-wrap #one-wish .one-wish-hide .btn-success.is-load:hover:before {
  color: #00bf5f;
}

#popup-wrap #one-wish .one-wish-item {
  width: 50%;
  display: table-cell;
  border: 1px solid #cddce8;
  box-sizing: border-box;
  border-radius: 3px;
  overflow: hidden;
  cursor: pointer;
  position: relative;
}

#popup-wrap #one-wish .one-wish-item:hover {
  border-color: #4a94f9;
}

#popup-wrap #one-wish .one-wish-item.is-active:before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 191, 95, 0.5);
}

#popup-wrap #one-wish .one-wish-item.is-active:after {
  content: "\f00c";
  font-family: "FontAwesome", Arial, Helvetica, sans-serif;
  font-size: 72px;
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -43px;
  margin-left: -36px;
}

#popup-wrap #one-wish .one-wish-item .one-wish-item-title {
  margin-bottom: 10px;
  font-size: 18px;
  font-weight: 700;
  color: #333;
  text-align: center;
}

#popup-wrap #one-wish .one-wish-media {
  width: 345px;
  height: 210px;
  line-height: 210px;
  text-align: center;
  font-size: 0;
}

#popup-wrap #one-wish .one-wish-media img {
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
  display: inline-block;
  vertical-align: middle;
}

#popup-wrap #one-wish .one-wish-price {
  font-size: 14px;
  font-weight: bold;
  color: #55606e;
}

#popup-wrap #one-wish .one-wish-price .one-wish-price-meta {
  margin-left: 5px;
  color: #a7adb5;
}

#popup-wrap .wish-wrap {
  width: auto;
  margin-left: auto;
  margin-right: auto;
  padding-top: 52px;
  text-align: center;
}

#popup-wrap #wishroundMerchantSend {
  width: 500px;
}

#popup-wrap #wishroundMerchantSend:before {
  content: "";
  width: 66%;
  height: 2px;
  position: absolute;
  top: 0;
  left: 0;
  background: #00bf5f;
}

#popup-wrap .wishroundMerchantSend-form {
  max-width: 500px;
  margin: 0 auto;
}

#popup-wrap .wishroundMerchantSend-form .wishroundMerchantSend-form-row {
  margin-top: 20px;
}

#popup-wrap .wishroundMerchantSend-form .wishroundMerchantSend-form-row .btn-success .fa {
  display: none;
}

#popup-wrap .wishroundMerchantSend-form .wishroundMerchantSend-form-row .btn-success span {
  height: 23px;
}

#popup-wrap .wishroundMerchantSend-form .wishroundMerchantSend-form-row .btn-success.is-load span {
  display: none;
}

#popup-wrap .wishroundMerchantSend-form .wishroundMerchantSend-form-row .btn-success.is-load .fa {
  display: block;
  width: 24px;
  height: 24px;
  margin: 0 auto;
  line-height: 1;
  -webkit-animation: spin 1s infinite linear;
  animation: spin 1s infinite linear;
}

#popup-wrap .wishroundMerchantSend-form textarea:focus::-webkit-input-placeholder {
  color: transparent;
}

#popup-wrap .wishroundMerchantSend-form textarea:focus::-moz-placeholder {
  color: transparent;
}

#popup-wrap .wishroundMerchantSend-form textarea:focus:-ms-input-placeholder {
  color: transparent;
}

#popup-wrap .wishroundMerchantSend-form textarea:focus::placeholder {
  color: transparent;
}

#popup-wrap .wishroundMerchantLettrsSend, #popup-wrap .wishroundMerchantWishPosted {
  text-align: center;
}

#popup-wrap .wishroundMerchantLettrsSend:before, #popup-wrap .wishroundMerchantWishPosted:before {
  content: "";
  width: 100%;
  height: 2px;
  position: absolute;
  top: 0;
  left: 0;
  background: #00bf5f;
}

#popup-wrap .wishroundMerchantLettrsSend h2, #popup-wrap .wishroundMerchantWishPosted h2 {
  padding-bottom: 45px;
  font-size: 30px;
}

#popup-wrap .wishroundMerchantLettrsSend h2 .fa-check, #popup-wrap .wishroundMerchantWishPosted h2 .fa-check {
  display: inline-block;
  vertical-align: middle;
  color: #00bf5f;
  font-size: 40px;
}

#popup-wrap .wishroundMerchantLettrsSend h2 span, #popup-wrap .wishroundMerchantWishPosted h2 span {
  display: inline-block;
  vertical-align: middle;
}

#popup-wrap .wishroundMerchantLettrsSend .wishroundMerchantLettrsSend-meta, #popup-wrap .wishroundMerchantWishPosted .wishroundMerchantLettrsSend-meta {
  margin-bottom: 25px;
  text-align: center;
  font-size: 18px;
}

#popup-wrap .wishroundMerchantLettrsSend .wishroundMerchantLettrsSend-or, #popup-wrap .wishroundMerchantWishPosted .wishroundMerchantLettrsSend-or {
  margin-bottom: 3px;
  font-size: 14px;
  color: #bdc1c6;
}

#popup-wrap .wishroundMerchantLettrsSend .wishroundMerchantLettrsSend-btn, #popup-wrap .wishroundMerchantWishPosted .wishroundMerchantLettrsSend-btn {
  margin-bottom: 55px;
  padding: 14px 120px;
  text-align: center;
}

#popup-wrap .wishroundMerchantLettrsSend .wishroundMerchantLettrsSend-btn:hover #wishLogoWhitePath1, #popup-wrap .wishroundMerchantLettrsSend .wishroundMerchantLettrsSend-btn:hover #wishLogoWhitePath2, #popup-wrap .wishroundMerchantWishPosted .wishroundMerchantLettrsSend-btn:hover #wishLogoWhitePath1, #popup-wrap .wishroundMerchantWishPosted .wishroundMerchantLettrsSend-btn:hover #wishLogoWhitePath2 {
  fill: #00bf5f;
}

#popup-wrap .wishroundMerchantLettrsSend .wishroundMerchantLettrsSend-btn #wishLogoWhite1, #popup-wrap .wishroundMerchantLettrsSend .wishroundMerchantLettrsSend-btn #wishLogoWhite2, #popup-wrap .wishroundMerchantWishPosted .wishroundMerchantLettrsSend-btn #wishLogoWhite1, #popup-wrap .wishroundMerchantWishPosted .wishroundMerchantLettrsSend-btn #wishLogoWhite2 {
  display: inline-block;
  vertical-align: middle;
  width: 31px;
  height: 31px;
}

#popup-wrap .wishroundMerchantLettrsSend .wishroundMerchantLettrsSend-btn #wishLogoWhitePath1, #popup-wrap .wishroundMerchantLettrsSend .wishroundMerchantLettrsSend-btn #wishLogoWhitePath2, #popup-wrap .wishroundMerchantWishPosted .wishroundMerchantLettrsSend-btn #wishLogoWhitePath1, #popup-wrap .wishroundMerchantWishPosted .wishroundMerchantLettrsSend-btn #wishLogoWhitePath2 {
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

#popup-wrap .wishroundMerchantLettrsSend .wishroundMerchantLettrsSend-btn span, #popup-wrap .wishroundMerchantWishPosted .wishroundMerchantLettrsSend-btn span {
  display: inline-block;
  vertical-align: middle;
}

#popup-wrap .wishroundMerchantReadyFriend:before, #popup-wrap .wishroundMerchantReadyMy:before {
  content: "";
  width: 66%;
  height: 2px;
  position: absolute;
  top: 0;
  left: 0;
  background: #00bf5f;
}

#popup-wrap .wishroundMerchantAlmostReadyMe:before {
  content: "";
  width: 66%;
  height: 2px;
  position: absolute;
  top: 0;
  left: 0;
  background: #00bf5f;
}

#popup-wrap .wishroundMerchantAlmostReadyMe h2 {
  padding: 0 0 55px;
  position: relative;
}

#popup-wrap .wishroundMerchantAlmostReadyMe h2 + span {
  display: inline-block;
  vertical-align: middle;
}

#popup-wrap .wishroundMerchantAlmostReadyMe h2 .fa {
  padding: 5px;
  margin-left: 5px;
  display: inline-block;
  vertical-align: middle;
  font-size: 18px;
  color: #bdc1c6;
  cursor: pointer;
}

#popup-wrap .wishroundMerchantAlmostReadyMe .btn-block .fa-spinner {
  margin: 0 auto;
}

#popup-wrap .wishroundMerchantAlmostReadyMe .tooltip-open {
  display: none;
  width: 374px;
  max-width: 374px;
  opacity: 1;
  bottom: -50px;
  right: 0;
}

#errorMerchant.errorMerchant {
  font-size: 18px;
  font-weight: 300;
  color: #55606e;
}

#errorMerchant.errorMerchant h2.h2 {
  padding: 0 0 20px;
  font-size: 36px;
  line-height: 48px;
  font-weight: 400;
  color: #55606e;
}

#errorMerchant.errorMerchant p {
  margin-bottom: 20px;
}

#errorMerchant.errorMerchant .errorMerchant-img {
  display: block;
  margin: 0 auto;
  background: url("../../img/bg/error_cat_small.jpg");
  width: 300px;
  height: 275px;
  background-size: 300px 275px;
}

.birthday-note {
  margin-left: 22px;
  margin-bottom: 8px;
  font-size: 12px;
  color: #bdc1c6;
  position: relative;
  text-align: left;
}

.birthday-note span {
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
}

.birthday-note .fa {
  vertical-align: middle;
  font-size: 18px;
  cursor: pointer;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

.birthday-note .fa:hover {
  color: #4a94f9;
}

.birthday-row {
  text-align: left;
}

.birthday-row.m-small, .birthday-row.clear {
  margin-bottom: 30px;
}

.birthday-row.m-long {
  font-size: 0;
  margin-bottom: 34px;
}

.birthday-row .fa.fa-spinner {
  display: none;
}

.birthday-row .is-load .fa {
  display: none;
}

.birthday-row .is-load .fa.fa-spinner {
  display: block;
  -webkit-animation: spin 1s infinite linear;
  animation: spin 1s infinite linear;
  width: 24px;
  height: 24px;
  margin: 0 auto;
}

.birthday-row .birthday-label50 {
  width: 47%;
  float: left;
}

.birthday-row .birthday-label50:first-child {
  margin-right: 6%;
}

.birthday-label1, .birthday-label2, .birthday-label3 {
  display: inline-block;
  vertical-align: top;
}

.birthday-label1 select, .birthday-label2 select, .birthday-label3 select {
  width: 100%;
}

.birthday-label1 {
  width: 242px;
  margin-right: 20px;
}

.birthday-label2 {
  width: 110px;
  margin-right: 20px;
}

.birthday-label3 {
  width: 110px;
}

.share-facebook-blue {
  display: inline-block;
  padding: 11px 40px;
  background: #4A94F9;
  border: 1px solid #4A94F9;
  border-radius: 3px;
  color: #fff;
  text-decoration: none;
  -webkit-transition: 0.2s color linear, 0.2s background linear;
  transition: 0.2s color linear, 0.2s background linear;
}

.share-facebook-blue .fa-facebook-square {
  margin-right: 5px;
  color: #fff;
  -webkit-transition: 0.2s color linear;
  transition: 0.2s color linear;
}

.share-facebook-blue .fa-angle-right {
  margin-left: 5px;
  color: #fff;
  -webkit-transition: 0.2s color linear;
  transition: 0.2s color linear;
}

.share-facebook-blue span {
  display: inline-block;
  vertical-align: middle;
  font-size: 18px;
  font-weight: 600;
}

.share-facebook-blue .fa {
  display: inline-block;
  vertical-align: middle;
}

.share-facebook-blue:hover {
  background: transparent;
  color: #4A94F9;
}

.share-facebook-blue:hover .fa {
  color: #4A94F9;
}

.copylink {
  font-size: 0;
}

.copylink .copylink-item {
  border: 1px solid #CDDCE8;
  border-radius: 3px;
}

.copylink .copylink-item-meta, .copylink .fa, .copylink .copylink-item-link {
  display: inline-block;
  vertical-align: middle;
}

.copylink .copylink-item-meta {
  font-size: 15px;
}

.copylink .fa {
  font-size: 20px;
  padding: 1px;
  color: #BDC1C6;
}

.copylink .copylink-item-link {
  font-size: 14px;
  color: #4A94F9;
  text-decoration: none;
  cursor: pointer;
}

.copylink .copylink-item-ico {
  margin: 0 4px;
}

.copylink-meta {
  padding-left: 20px;
  margin-bottom: 5px;
  font-size: 10px;
  line-height: 14px;
  color: #596472;
  text-align: left;
}

.skip-link {
  padding-right: 70px;
  font-size: 18px;
  font-weight: 600;
  color: #BDC1C6;
  text-decoration: none;
}

.skip-link:after {
  content: "\f105";
  margin-left: 5px;
  display: inline-block;
  vertical-align: middle;
  font-family: "FontAwesome", Arial, Helvetica, sans-serif;
  color: #BDC1C6;
}

.wishroundMerchantReadyMyNew .md-content:before {
  content: none;
}

.wishroundMerchantReadyMyNew .md-content {
  max-width: 847px;
  padding: 35px 60px 80px;
}

.invite-popup {
  text-align: center;
}

.invite-popup .invite-popup-ico {
  margin-bottom: 12px;
  text-align: center;
}

.invite-popup .invite-popup-title {
  margin-bottom: 15px;
  font-size: 24px;
  line-height: 33px;
  color: #596472;
  font-weight: 700;
}

.invite-popup .invite-popup-meta {
  margin-bottom: 30px;
  font-size: 18px;
  line-height: 24px;
  color: #596472;
}

.invite-popup .invite-popup-btn {
  margin-bottom: 30px;
}

.invite-popup .invite-popup-or {
  margin-bottom: 10px;
  font-size: 14px;
  color: #596472;
}

.invite-popup .invite-popup-row {
  margin-bottom: 60px;
  font-size: 0;
}

.invite-popup .invite-popup-label {
  width: 149px;
  height: 38px;
  line-height: 36px;
  margin-left: 15px;
  border: 1px solid #CDDCE8;
  border-radius: 3px;
  display: inline-block;
  vertical-align: middle;
  font-size: 18px;
}

.invite-popup .invite-popup-label.m-big {
  margin-left: 0;
  width: 320px;
  height: 40px;
  line-height: 38px;
  border: 0;
}

.invite-popup .invite-popup-label a {
  display: block;
  text-decoration: none;
  color: #596472;
}

.invite-popup .invite-popup-social {
  display: inline-block;
  vertical-align: middle;
}

.invite-popup .invite-popup-social-text {
  display: inline-block;
  vertical-align: middle;
  font-size: 14px;
}

.invite-popup .fa-twitter {
  display: inline-block;
  vertical-align: middle;
  font-size: 21px;
  color: #5EA9DD;
}

.invite-popup .fa-comment-o, .invite-popup .fa-comment {
  display: inline-block;
  vertical-align: middle;
  font-size: 19px;
  color: #0080FF;
}

.invite-popup .fa-envelope {
  display: inline-block;
  vertical-align: middle;
  font-size: 19px;
  color: #4A94F9;
}

.checkoutHowWork:before {
  content: "";
  width: 25%;
  height: 2px;
  position: absolute;
  top: 0;
  left: 0;
  background: #FCC737;
}

.wishroundHowVideo iframe {
  margin-bottom: 30px;
}

.wirnd-cat {
  display: inline-block;
  width: 210px;
  height: 221px;
  background: url(../../img/svg/wirnd_cat.svg);
}

.wishroundSocial:before {
  content: "";
  width: 50%;
  height: 2px;
  position: absolute;
  top: 0;
  left: 0;
  background: #FCC737;
}

.wishroundSocial .wishroundSocial-content {
  margin-bottom: 50px;
  font-size: 18px;
  line-height: 24px;
}

.wishroundSocial .wishroundSocial-l {
  width: 580px;
  margin: 0 auto;
}

.wishroundSocial .wishroundSocial-l:before, .wishroundSocial .wishroundSocial-l:after {
  content: "";
  display: table;
}

.wishroundSocial .wishroundSocial-l:after {
  clear: both;
}

.wishroundSocial .wishroundSocial-col1 {
  width: 210px;
  margin-right: 40px;
  float: left;
}

.wishroundSocial .wishroundSocial-col2 {
  width: 330px;
  float: left;
}

.wishroundSocial .wishroundSocial-list {
  font-size: 0;
  margin-top: 15px;
}

.wishroundSocial .wishroundSocial-list li {
  margin-top: 5px;
  display: inline-block;
  vertical-align: middle;
}

.wishroundSocial .wishroundSocial-list a {
  -webkit-transition: 0.2s opacity linear;
  transition: 0.2s opacity linear;
}

.wishroundSocial .wishroundSocial-list a:hover {
  opacity: 0.7;
}

.wishroundSocial .wishroundSocial-list .wishroundSocial-fb {
  margin-right: 12px;
  display: inline-block;
  vertical-align: middle;
  width: 53px;
  height: 54px;
  background: url(../../img/png/wishroundSocial-fb.png);
  background-size: 53px 54px;
}

.wishroundSocial .wishroundSocial-list .wishroundSocial-tw {
  text-decoration: none;
  margin-right: 13px;
  display: inline-block;
  vertical-align: middle;
  width: 53px;
  height: 54px;
  line-height: 54px;
  background: #4A94F9;
  border-radius: 10px;
  text-align: center;
}

.wishroundSocial .wishroundSocial-list .wishroundSocial-tw:after {
  content: "\f099";
  font-family: 'FontAwesome';
  font-size: 36px;
  color: #fff;
}

.wishroundSocial .wishroundSocial-list .wishroundSocial-vk {
  margin-right: 8px;
  display: inline-block;
  vertical-align: middle;
  width: 57px;
  height: 58px;
  background: url(../../img/png/wishroundSocial-vk.png);
  background-size: 57px 58px;
}

.wishroundSocial .wishroundSocial-list .wishroundSocial-od {
  margin-right: 12px;
  display: inline-block;
  vertical-align: middle;
  width: 55px;
  height: 55px;
  background: url(../../img/png/wishroundSocial-od.png);
  background-size: 55px 55px;
}

.wishroundSocial .wishroundSocial-list .wishroundSocial-mail {
  text-decoration: none;
  margin-right: 13px;
  display: inline-block;
  vertical-align: middle;
  width: 53px;
  height: 54px;
  line-height: 54px;
  background: #4A90E2;
  border-radius: 10px;
  text-align: center;
}

.wishroundSocial .wishroundSocial-list .wishroundSocial-mail:after {
  content: "\f003";
  font-family: 'FontAwesome';
  font-size: 30px;
  color: #fff;
}

.wishroundSocial .wishroundSocial-list .wishroundSocial-tl {
  margin-right: 13px;
  display: inline-block;
  vertical-align: middle;
  width: 53px;
  height: 53px;
  background: url(../../img/png/wishroundSocial-tl.png);
  background-size: 53px 53px;
}

.wishroundSocial .wishroundSocial-list .wishroundSocial-va {
  margin-right: 4px;
  display: inline-block;
  vertical-align: middle;
  width: 54px;
  height: 55px;
  background: url(../../img/png/wishroundSocial-va.png);
  background-size: 54px 55px;
}

.wishroundSocial .wishroundSocial-list .wishroundSocial-vb {
  margin-right: 4px;
  display: inline-block;
  vertical-align: middle;
  width: 65px;
  height: 69px;
  background: url(../../img/png/wishroundSocial-vb.png);
  background-size: 65px 69px;
}

.wishroundSocial .wishroundSocial-list .wishroundSocial-sk {
  margin-right: 12px;
  display: inline-block;
  vertical-align: middle;
  width: 55px;
  height: 56px;
  background: url(../../img/png/wishroundSocial-sk.png);
  background-size: 55px 56px;
}

.wishroundSocial .wishroundSocial-list .wishroundSocial-mess {
  margin-right: 12px;
  display: inline-block;
  vertical-align: middle;
  width: 52px;
  height: 53px;
  background: url(../../img/png/wishroundSocialfb-mess.png);
  background-size: 52px 53px;
}

.wishroundSocial .how-work-row {
  padding-bottom: 70px;
  overflow: hidden;
}

.wishroundSocial .how-work-row.m-center {
  text-align: center;
  padding-bottom: 0;
}

.wishroundSocial .how-work-row.m-third {
  font-size: 0;
}

.wishroundSocial .how-work-row.m-third .how-work-label {
  width: 33.33%;
  float: none;
  display: inline-block;
  vertical-align: middle;
}

.wishroundSocial .how-work-row.m-third .play-btn {
  margin-top: 0;
}

.wishroundSocial .how-work-more {
  font-size: 18px;
  font-weight: 700;
  color: #55606e;
  text-decoration: none;
  -webkit-transition: 0.2s color linear;
  transition: 0.2s color linear;
}

.wishroundSocial .how-work-more:hover {
  color: #00bf5f;
}

.wishroundProcess:before {
  content: "";
  width: 75%;
  height: 2px;
  position: absolute;
  top: 0;
  left: 0;
  background: #FCC737;
}

.wishroundProcess .h2 {
  margin-bottom: 40px;
}

.wishroundProcess .wishroundProcess-l {
  width: 750px;
  margin: 0 auto;
}

.wishroundProcess .wishroundProcess-l:before, .wishroundProcess .wishroundProcess-l:after {
  content: "";
  display: table;
}

.wishroundProcess .wishroundProcess-l:after {
  clear: both;
}

.wishroundProcess .wishroundProcess-col1 {
  width: 380px;
  float: left;
  text-align: left;
}

.wishroundProcess .wishroundProcess-col2 {
  width: 370px;
  float: left;
}

.wishroundProcess .wishroundProcess-meta {
  font-size: 18px;
  line-height: 24px;
  margin-bottom: 30px;
}

.wishroundProcess .wishroundProcess-list {
  margin-bottom: 120px;
}

.wishroundProcess .wishroundProcess-list li {
  font-size: 18px;
  line-height: 30px;
}

.wishroundProcess .wishroundProcess-list li:before {
  content: "";
  margin-right: 8px;
  width: 8px;
  height: 8px;
  border-radius: 4px;
  background: #00BF5F;
  display: inline-block;
  vertical-align: middle;
}

.wishroundProcess .wishroundProcess-paySystem {
  font-size: 0;
  margin-left: -11px;
}

.wishroundProcess .wishroundProcess-paySystem li {
  margin-bottom: 12px;
  margin-left: 11px;
  display: inline-block;
  vertical-align: middle;
  width: 82px;
  height: 82px;
  line-height: 82px;
  border-radius: 10px;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.5);
  text-align: center;
}

.wishroundProcess .how-work-row {
  padding-bottom: 70px;
  overflow: hidden;
}

.wishroundProcess .how-work-row.m-center {
  text-align: center;
  padding-bottom: 0;
}

.wishroundProcess .how-work-row.m-third {
  font-size: 0;
}

.wishroundProcess .how-work-row.m-third .how-work-label {
  width: 33.33%;
  float: none;
  display: inline-block;
  vertical-align: middle;
}

.wishroundProcess .how-work-row.m-third .play-btn {
  margin-top: 0;
}

.wishroundProcess .how-work-more {
  font-size: 18px;
  font-weight: 700;
  color: #55606e;
  text-decoration: none;
  -webkit-transition: 0.2s color linear;
  transition: 0.2s color linear;
}

.wishroundProcess .how-work-more:hover {
  color: #00bf5f;
}

.wishroundProcess .wishroundProcess-paySystem-visa {
  display: inline-block;
  vertical-align: middle;
  width: 58px;
  height: 20px;
  background: url(../../img/png/paySystem-visa.png);
  background-size: 58px 20px;
}

.wishroundProcess .wishroundProcess-paySystem-masterCard {
  display: inline-block;
  vertical-align: middle;
  width: 57px;
  height: 35px;
  background: url(../../img/png/paySystem-masterCard.png);
  background-size: 57px 35px;
}

.wishroundProcess .wishroundProcess-paySystem-privat {
  display: inline-block;
  vertical-align: middle;
  width: 38px;
  height: 38px;
  background: url(../../img/png/paySystem-privat.png);
  background-size: 38px 38px;
}

.wishroundProcess .wishroundProcess-paySystem-shtuka {
  display: inline-block;
  vertical-align: middle;
  width: 55px;
  height: 36px;
  background: url(../../img/png/paySystem-shtuka.png);
  background-size: 55px 36px;
}

.wishroundProcess .wishroundProcess-paySystem-easypay {
  display: inline-block;
  vertical-align: middle;
  width: 65px;
  height: 28px;
  background: url(../../img/png/paySystem-easypay.png);
  background-size: 65px 28px;
}

.wishroundProcess .wishroundProcess-paySystem-ibox {
  display: inline-block;
  vertical-align: middle;
  width: 51px;
  height: 18px;
  background: url(../../img/png/paySystem-ibox.png);
  background-size: 51px 18px;
}

.wishroundProcess .wishroundProcess-paySystem-monexy {
  display: inline-block;
  vertical-align: middle;
  width: 61px;
  height: 25px;
  background: url(../../img/png/paySystem-monexy.png);
  background-size: 61px 25px;
}

.wishroundProcess .wishroundProcess-paySystem-kyivstar {
  display: inline-block;
  vertical-align: middle;
  width: 44px;
  height: 40px;
  background: url(../../img/png/paySystem-kyivstar.png);
  background-size: 44px 40px;
}

.wishroundPayment:before {
  content: "";
  width: 100%;
  height: 2px;
  position: absolute;
  top: 0;
  left: 0;
  background: #FCC737;
}

.wishroundPayment .wishroundPayment-i {
  width: 600px;
  margin: 0 auto;
}

.wishroundPayment .wishroundPayment-i .h2 {
  padding-bottom: 0 !important;
  margin-bottom: 20px;
}

.wishroundPayment .wishroundPayment-meta {
  margin-bottom: 15px;
  font-size: 18px;
  line-height: 24px;
}

.wishroundPayment .wishroundPayment-media {
  margin-bottom: 15px;
  text-align: center;
}

.wishroundPayment .wishroundPayment-media img {
  display: inline-block;
  font-size: 0;
}

.wishroundPayment .wishroundPayment-list {
  margin-left: 30px;
  margin-bottom: 15px;
  text-align: left;
  font-size: 18px;
  line-height: 30px;
}

.doc .js-faq-list a {
  text-decoration: none;
  color: #4a94f9;
}

.doc h2 {
  margin-bottom: 48px;
  font-size: 36px;
  font-weight: 700;
  text-align: center;
}

.doc .doc-note {
  width: 800px;
  margin-left: 190px;
  font-size: 16px;
  line-height: 30px;
  color: #333;
}

.doc .doc-note a {
  text-decoration: none;
  color: #4a94f9;
}

.doc .doc-note p {
  margin-top: 10px;
}

.doc .doc-note p:first-child {
  margin-top: 0;
}

.doc ul {
  color: #4a94f9;
  font-weight: 300;
}

.doc ul li {
  padding: 15px 40px;
  margin-bottom: -20px;
  -webkit-transition: 0.2s padding linear, 0.2s background linear, 0.2s color linear;
  transition: 0.2s padding linear, 0.2s background linear, 0.2s color linear;
}

.doc ul li.is-active {
  margin-top: 20px;
  margin-bottom: 0;
  background: #eff4f8;
  color: #333;
}

.doc ul li.is-active .faq-content {
  display: block;
}

.doc ul li.is-active ol {
  display: block;
}

.doc ul .faq-meta {
  width: 600px;
  margin: 0 auto;
  font-size: 24px;
  line-height: 1.3;
  cursor: pointer;
  position: relative;
  text-align: center;
}

.doc ul .faq-meta:before, .doc ul .faq-meta:after {
  content: "";
  display: table;
}

.doc ul .faq-meta:after {
  clear: both;
}

.doc ul .faq-meta .faq-meta-num {
  width: 30px;
  margin-right: 15px;
  float: left;
  text-align: right;
  position: absolute;
  left: 0;
  top: 0;
}

.doc ul .faq-meta .faq-meta-title {
  float: none;
  display: block;
  overflow: hidden;
  margin-left: 0;
  padding-left: 45px;
  box-sizing: border-box;
  text-align: left;
}

.doc ul .faq-content {
  display: none;
  margin: 0px 0px 0 0px;
  padding-left: 0px;
  font-size: 16px;
  line-height: 30px;
  font-weight: 400;
  color: #333;
  text-align: left;
}

.doc ul ol {
  display: none;
  margin: 10px 0 10px 32px;
  list-style-type: none;
}

.doc ul ol li {
  margin-bottom: 10px;
  padding: 0;
  font-size: 16px;
  line-height: 30px;
  font-weight: 400;
  color: #333;
}

.doc ul ol li .faq-meta {
  font-size: 16px;
}
